<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    Create project
                </h1>
            </div>
        </header>
        <div class="create-project">
            <ul class="progress-indicator">
                <li ng-class="createProjectCtrl.showWizardStep('area') ? 'completed' : ''">
                    <span class="bubble"></span>Step 1
                </li>
                <li ng-class="createProjectCtrl.showWizardStep('tasks') ? 'completed' : ''">
                    <span class="bubble"></span>Step 2
                </li>
                <li ng-class="createProjectCtrl.showWizardStep('taskSize') ? 'completed' : ''">
                    <span class="bubble"></span>Step 3
                </li>
                <li ng-class="createProjectCtrl.showWizardStep('trim') ? 'completed' : ''">
                    <span class="bubble"></span>Step 4
                </li>
                <li ng-class="createProjectCtrl.showWizardStep('review') ? 'completed' : ''">
                    <span class="bubble"></span>Step 5
                </li>
            </ul>
            <div class="sidebar">
                <div ng-show="createProjectCtrl.currentStep === 'area'" class="content">
                    <h2>Step 1: define area</h2>
                    <form class="form">
                        <div class="form__group">
                            <button class="button button--achromic" type="button"
                                    ng-click="createProjectCtrl.drawAOI()"><span>Draw</span></button>
                            <p>Draw the area of interest on the map.</p>
                            <div>
                                <span class="error" ng-show="createProjectCtrl.AOIValidationMessage == 'NO_FEATURES'">
                                    No area of interest has been drawn.
                                </span>
                                <span class="error"
                                      ng-show="createProjectCtrl.AOIValidationMessage == 'SELF_INTERSECTIONS'">
                                    The area of interest contains self intersections.
                                </span>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="button button--achromic" ngf-select="createProjectCtrl.import($file)">Import
                            </div>
                            <p>Import a GeoJSON, KML, or zipped SHP file.</p>
                            <div>
                                <span class="error" ng-show="createProjectCtrl.isImportError">
                                    Please provide a valid GeoJSON, KML or zipped Shapefile.
                                </span>
                            </div>
                        </div>
                        <div class="form__group">
                            <p>Want to use an .osm file instead? You can use <a href="http://geojson.io"
                                                                                target="_blank">GeoJSON.io</a>
                                to convert it to GeoJSON.</p>
                        </div>
                    </form>
                    <hr/>
                    <div class="navigation-steps">
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--secondary pull-right" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('tasks')">
                                <span>Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="createProjectCtrl.currentStep === 'tasks'" class="content">
                    <h2>Step 2: Choose tasks type</h2>
                    <form class="form">
                        <div class="button-group button-group--horizontal" role="group">
                            <div class="form__group">
                                <label class="form__option form__option--inline">
                                    <input ng-model="createProjectCtrl.taskType" type="radio" name="form-tasks-type"
                                           id="square-grid" value="square-grid"/>
                                    Square Grid
                                </label>
                                <label class="form__option form__option--inline">
                                    <input ng-disabled="createProjectCtrl.isDrawnAOI"
                                           ng-model="createProjectCtrl.taskType" type="radio" name="form-tasks-type"
                                           id="arbitrary-tasks" value="arbitrary-tasks"/> <span>Arbitrary Tasks</span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <div class="navigation-steps">
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--secondary button" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('area')">
                                <span>Previous</span>
                            </button>
                            <button class="button button--secondary" type="button"
                                    ng-click="createProjectCtrl.setWizardStepAfterTaskTypeSelection()">
                                <span>Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="createProjectCtrl.currentStep === 'taskSize'" class="content">
                    <h2>Step 3: set task sizes</h2>
                    <div>
                        <p>General task size:</p>
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--achromic" type="button"
                                    ng-click="createProjectCtrl.changeSizeTaskGrid(-1)">Larger
                            </button>
                            <button ng-class="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS ? 'disabled' : ''"
                                    class="button button--achromic" type="button"
                                    ng-disabled="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS"
                                    ng-click="createProjectCtrl.changeSizeTaskGrid(1)">Smaller
                            </button>
                        </div>

                        <p>Split a specific area into smaller tasks by drawing an area or point:</p>
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--achromic" type="button"
                                    ng-class="createProjectCtrl.drawAndSelectPolygon.getActive() ? 'button--active' : ''"
                                    ng-click="createProjectCtrl.drawAndSplitAreaPolygon()">Split (polygon)
                            </button>
                            <button class="button button--achromic" type="button"
                                    ng-class="createProjectCtrl.drawAndSelectPoint.getActive() ? 'button--active' : ''"
                                    ng-click="createProjectCtrl.drawAndSplitAreaPoint()">Split (point)
                            </button>
                            <button class="button button--achromic" type="button"
                                    ng-click="createProjectCtrl.changeSizeTaskGrid(0)">Reset
                            </button>
                        </div>
                        <hr/>
                        <p>A new project will be created with {{ createProjectCtrl.numberOfTasks }} tasks.</p>
                        <p>The size of each task is roughly {{ createProjectCtrl.sizeOfTasks | number : 2 }}
                            km<sup>2</sup>.</p>
                        <div ng-show="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS"
                             class="alert alert--warning" role="alert">
                            <p><strong>Warning:</strong> Maximum number of tasks reached. If smaller tasks are required
                                please make the area of interest smaller.
                            </p>
                        </div>
                        <div ng-show="createProjectCtrl.sizeOfTasks > createProjectCtrl.MAX_SIZE_OF_TASKS"
                             class="alert alert--warning" role="alert">
                            <p><strong>Warning:</strong> It is recommended to keep the size of the tasks small.
                                Please review the size of the tasks and/or consider creating multiple
                                projects.
                            </p>
                        </div>
                    </div>
                    <hr/>
                    <div class="navigation-steps">
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--secondary" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('tasks')">
                                <span>Previous</span>
                            </button>
                            <button class="button button--secondary" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('trim')">
                                <span>Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="createProjectCtrl.currentStep === 'trim'" class="content">
                    <h2>Step 4: trim tasks</h2>

                    <p>Trim the task grid to the Area of Interest (optional). You can keep task squares complete, or
                        clip
                        them to the AOI. This could take some time.</p>

                    <label class="form__option">
                        <input type="checkbox" name="form-checkbox" id="form-checkbox-1" value="Checkbox 1"
                               checked="{{ projectCtrl.clipTasksToAoi }}"
                               ng-click="createProjectCtrl.toggleClipTasksToAoi()"/> Clip tasks to Area of Interest
                    </label>
                    <button class="button button--achromic" type="button"
                            ng-click="createProjectCtrl.trimTaskGrid()">
                        Trim
                    </button>
                    <span ng-show="createProjectCtrl.waiting">
                        <img src="./assets/img/waiting_spinner.gif"><span>Trimming in progress</span>
                    </span>
                    <hr/>
                    <div class="navigation-steps">
                        <div class="button-group button-group--horizontal" role="group">
                            <button class="button button--secondary button" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('taskSize')">
                                <span>Previous</span>
                            </button>
                            <button class="button button--secondary" type="button"
                                    ng-click="createProjectCtrl.setWizardStep('review')">
                                <span>Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-show="createProjectCtrl.currentStep === 'review'" class="content">
                    <h2>Step 5: review</h2>
                    <form class="form" name="createProjectCtrl.projectNameForm">
                        <div class="form__group">
                            <label class="form__label" for="projectName">Project name</label>
                            <input type="text" class="form__control form__control--medium" id="projectName"
                                   name="projectName"
                                   ng-class="{ 'ng-touched': createProjectCtrl.projectNameForm.submitted }" required
                                   ng-model="createProjectCtrl.projectName"
                            />
                        </div>
                        <p>Project has {{ createProjectCtrl.numberOfTasks }} tasks.</p>
                        <div ng-show="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS"
                             class="alert alert--danger" role="alert">
                            <p><strong>Error:</strong> Unable to create project because there are more
                                than {{ createProjectCtrl.MAX_NUMBER_OF_TASKS }} tasks. Use a smaller AOI and/or fewer
                                tasks.
                            </p>
                        </div>
                        <div role="alert">
                            <span class="error"
                                  ng-show="createProjectCtrl.projectNameForm.submitted && createProjectCtrl.projectNameForm.projectName.$error.required">
                                Required
                            </span>
                            <span class="error"
                                  ng-show="createProjectCtrl.createProjectFail">
                                There was an error creating your project. Please try again.
                            </span>
                            <span ng-show="createProjectCtrl.createProjectSuccess">
                                Your project was created successfully.
                            </span>
                        </div>
                    </form>
                    <hr/>
                    <div class="navigation-steps">
                        <div class="button-group button-group--horizontal" role="group">

                            <button class="button button--secondary button" type="button"
                                    ng-click="createProjectCtrl.setWizardStep(createProjectCtrl.isTaskArbitrary?'tasks':'trim')">
                                <span>Previous</span>
                            </button>
                            <button class="button button--primary" type="button"
                                    ng-class="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS ? 'disabled' : ''"
                                    ng-disabled="createProjectCtrl.numberOfTasks > createProjectCtrl.MAX_NUMBER_OF_TASKS"
                                    ng-click="createProjectCtrl.createProject()">
                                <span>Create</span>
                            </button>
                        </div>
                        <div ng-show="createProjectCtrl.waiting">
                            <img src="./assets/img/waiting_spinner.gif"/><span>Creation in progress</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="map-container">
                <div class="add-layer-control ol-control">
                    <button type="button" class="button"
                            ng-click="createProjectCtrl.isVisible = !createProjectCtrl.isVisible">
                        <i class="hot-ds-icon-hamburger-menu"></i>
                    </button>
                </div>
                <div class="add-layer-panel">
                    <add-layer ng-show="createProjectCtrl.isVisible"></add-layer>
                </div>
            </div>
        </div>
    </section>
</div>
