<!DOCTYPE html>
<html lang="en" ng-app="taskingManager">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOT Tasking Manager</title>
    <base href="/">

    <!-- for Google -->
    <meta name="description" content="HOT Tasking Manager is a mapping tool designed and built for the Humanitarian OSM Team collaborative mapping.">
    <meta name="keywords" content="OpenStreetMap, Tasking Manager, OSM">
    <meta name="author" content="Humanitarian OpenStreetMap Team">
    <meta name="application-name" content="OSM Tasking Manager" />

	<!-- for Facebook -->
	<meta property="og:title" content="HOT Tasking Manager" />
	<meta property="og:site_name" content="HOT Tasking Manager" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="tasks.hotosm.org" />
	<meta property="og:description" content="HOT Tasking Manager is a mapping tool designed and built for the Humanitarian OSM Team collaborative mapping." />

    <!-- for Twitter -->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="HOT Tasking Manager" />
	<meta name="twitter:description" content="HOT Tasking Manager is a mapping tool designed and built for the Humanitarian OSM Team collaborative mapping." />

    <link href="./assets/img/hot-favicon.ico" rel="icon">

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet"/>

    <!-- build:css https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol.css -->
    <link href="node_modules/openlayers/dist/ol-debug.css" rel="stylesheet">
    <!-- /build -->

    <!-- build:css https://cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.min.css -->
    <link href="node_modules/ol3-geocoder/build/ol3-geocoder.css" rel="stylesheet">
    <!-- /build -->

    <!-- build:css https://cdn.jsdelivr.net/openlayers.layerswitcher/1.1.0/ol3-layerswitcher.css -->
    <link href="node_modules/ol3-layerswitcher/src/ol3-layerswitcher.css" rel="stylesheet">
    <!-- /build -->

    <!-- build:css https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.2/ng-tags-input.min.css-->
    <link href="node_modules/ng-tags-input/build/ng-tags-input.css" rel="stylesheet">
    <!-- /build -->

    <!-- build:css https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css-->
    <link href="node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- /build -->

    <!-- build:css assets/styles/css/taskingmanager.min.css -->
    <link href="assets/styles/css/taskingmanager.css" rel="stylesheet">
    <!-- /build -->

</head>
<body>

<!-- header -->
<header class="page__header page__header__fixed" role="banner">
    <div class="inner">
        <div class="page__headline">
            <h1 class="page__title">
                <a href="/" title="{{ 'Visit homepage' | translate }}">
                    <img src="./assets/img/hot-tm-logo.svg" alt="HOT logo" height="37">
                </a>
            </h1>
        </div>
        <nav class="page__prime-nav" role="navigation">
            <h2 class="toggle-menu">
                <a title="{{ 'Show/hide menu' | translate }}" ng-modal="showMenu" ng-click="showMenu = !showMenu"></a>
            </h2>
            <div class="menu-wrapper" ng-class="showMenu ? 'menu-wrapper menu-wrapper--open' : 'menu-wrapper'" ng-cloak>
                <ul class="global-menu" id="global-menu">
                    <li>
                        <a href="/contribute" title="{{ 'Start mapping' | translate }}" class="global-menu-item">
                            <span>{{ 'Contribute' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/learn" title="{{ 'Visit learn' | translate }}" class="global-menu-item">
                            <span>{{ 'Learn' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/about" title="{{ 'Visit about' | translate }}" class="global-menu-item">
                            <span>{{ 'About' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="/what-is-new" title="{{ 'New features in the Tasking Manager' | translate }}" class="global-menu-item">
                            <span>{{ 'What is New?' | translate }}</span>
                        </a>
                    </li>
                </ul>
                <ul class="global-menu menu-secondary-wrapper">
                    <li class="global-menu-item">
                        <language-switch class="language-dropown-wrapper"></language-switch>
                    </li>
                    <li class="global-menu-divider"></li>
                    <li class="global-menu-item">
                        <account-nav></account-nav>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--/ header -->

<!-- Main content and injected views -->
<div class="page__body" id="tm-container" ng-view autoscroll>
</div>

<!-- mobile message -->
<div class="mob-disclaimer" ng-show="!hideMobileMessage">
    <p class="centered">
        <i class="modal__button-dismiss pull-right pointer" ng-click="hideMobileMessage = true"></i>
        {{ 'In order to make full use of the many features in the Tasking Manager, please use a desktop or laptop computer rather than a mobile device. If you would like to contribute on a mobile device, please use MapSwipe instead.' | translate }}
    </p>
    <a href="https://mapswipe.org" class="button button--outline--white">{{ 'Go to MapSwipe' | translate }}</a>
</div>
<!--/ mobile message -->

<footer class="page__footer section">
    <div class='inner'>
        <span>Made by the <a href="https://www.hotosm.org/">HOTOSM</a> Community. <a href="/about">{{ 'Get in touch' | translate }}</a>.</span>
        <span class="right">{{ 'Give feedback on' | translate }} <a href="https://github.com/hotosm/tasking-manager" target="_blank" rel="noopener">{{ 'GitHub' | translate }}</a>. {{ 'Learn more about' | translate }} <a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</span>
    </div>
</footer>

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.min.js -->
<script src="node_modules/angular/angular.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.3/angular-sanitize.min.js-->
<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/ol3/4.0.1/ol.js -->
<script src="node_modules/openlayers/dist/ol-debug.js"></script>
<!-- /build -->

<!-- build:js https://cdn.jsdelivr.net/openlayers.geocoder/latest/ol3-geocoder.js -->
<script src="node_modules/ol3-geocoder/build/ol3-geocoder-debug.js"></script>
<!-- /build -->

<!-- build:js https://cdn.jsdelivr.net/openlayers.layerswitcher/1.1.0/ol3-layerswitcher.js -->
<script src="node_modules/ol3-layerswitcher/src/ol3-layerswitcher.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-route.min.js -->
<script src="node_modules/angular-route/angular-route.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js-->
<script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js -->
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/Turf.js/3.0.14/turf.min.js -->
<script src="node_modules/turf/turf.js"></script>
<!-- /build -->

<!-- build:js https://cdn.rawgit.com/calvinmetcalf/shapefile-js/gh-pages/dist/shp.min.js-->
<script src="https://cdn.rawgit.com/calvinmetcalf/shapefile-js/gh-pages/dist/shp.min.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/showdown/1.7.1/showdown.min.js-->
<script src="node_modules/showdown/dist/showdown.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/ng-showdown/1.1.0/ng-showdown.min.js-->
<script src="node_modules/ng-showdown/dist/ng-showdown.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js-->
<script src="node_modules/moment/moment.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js-->
<script src="node_modules/angular-moment/angular-moment.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js-->
<script src="node_modules/chart.js/dist/Chart.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js-->
<script src="node_modules/angular-chart.js/dist/angular-chart.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.2/ng-tags-input.min.js-->
<script src="node_modules/ng-tags-input/build/ng-tags-input.js"></script>
<!-- /build -->

<!-- build:js https://cdn.jsdelivr.net/angular.ment-io/0.9.24/mentio.min.js-->
<script src="https://cdn.jsdelivr.net/angular.ment-io/0.9.24/mentio.min.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate.min.js -->
<script src="node_modules/angular-translate/dist/angular-translate.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js-->
<script src="node_modules/angular-translate/dist/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<!-- /build -->

<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/angular-socialshare/2.3.8/angular-socialshare.min.js -->
<script src="node_modules/angular-socialshare/dist/angular-socialshare.js"></script>
<!-- /build -->

<!-- build:js https://cdn.jsdelivr.net/npm/osmtogeojson@2.2.12/osmtogeojson.js -->
<script src="node_modules/osmtogeojson/osmtogeojson.js"></script>
<!-- /build -->

<!-- build:js app/taskingmanager.min.js -->
<script src="app/taskingmanager.config.js"></script>
<script src="app/taskingmanager.app.js"></script>

<script src="app/home/home.controller.js"></script>
<script src="app/admin/create-project/create-project.controller.js"></script>
<script src="app/admin/edit-project/edit-project.controller.js"></script>
<script src="app/contribute/contribute.controller.js"></script>
<script src="app/profile/profile.controller.js"></script>
<script src="app/project/project.controller.js"></script>
<script src="app/login/login.controller.js"></script>
<script src="app/admin/licenses/licenses.controller.js"></script>
<script src="app/admin/licenses/license-edit.controller.js"></script>
<script src="app/about/about.controller.js"></script>
<script src="app/admin/dashboard/dashboard.controller.js"></script>
<script src="app/admin/users/users.controller.js"></script>
<script src="app/project/project-dashboard.controller.js"></script>
<script src="app/message/inbox.controller.js"></script>
<script src="app/message/message.controller.js"></script>
<script src="app/login/auth.controller.js"></script>
<script src="app/profile/validate-email.controller.js"></script>

<script src="app/services/map.service.js"></script>
<script src="app/services/project.service.js"></script>
<script src="app/services/style.service.js"></script>
<script src="app/services/draw.service.js"></script>
<script src="app/services/task.service.js"></script>
<script src="app/services/geospatial.service.js"></script>
<script src="app/services/auth.service.js"></script>
<script src="app/services/account.service.js"></script>
<script src="app/services/editor.service.js"></script>
<script src="app/services/license.service.js"></script>
<script src="app/services/search.service.js"></script>
<script src="app/services/projectMap.service.js"></script>
<script src="app/services/tag.service.js"></script>
<script src="app/services/stats.service.js"></script>
<script src="app/services/user.service.js"></script>
<script src="app/services/message.service.js"></script>
<script src="app/services/language.service.js"></script>
<script src="app/services/httpInterceptor.service.js"></script>
<script src="app/services/settings.service.js"></script>
<script src="app/services/userPreferences.service.js"></script>

<script src="app/components/add-layer/add-layer.directive.js"></script>
<script src="app/components/account-nav/account-nav.directive.js"></script>
<script src="app/components/fileread.directive.js"></script>
<script src="app/components/language/language-switch.directive.js"></script>
<script src="app/components/popup/map-popup.directive.js"></script>
<script src="app/components/show-project-aois/show-project-aois.directive.js"></script>
<script src="app/components/project-chat/project-chat.directive.js"></script>
<!-- /build -->

<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.hotosm.org"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.hotosm.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);

    var secondaryTracker = 'https://piwik.hotosm.org/piwik.php';
    var secondaryWebsiteId = 7;
    // Also send all of the tracking data to this other Matomo server, in website ID 77
    _paq.push(['addTracker', secondaryTracker, secondaryWebsiteId]);
    // That's it!

    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
