<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <h1 class="section__title">
                    {{ 'Contribute' | translate }}
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body--contribute section__body section__body--secondary">
                <div class="inner">
                    <div class="search-results">
                          <div class="form__group">
                              <ul class="tab--wrapper" role="group"
                                   aria-label="{{ 'choose results view' | translate }}">
                                  <li class="tab--item"
                                          ng-click="contributeCtrl.resultsView = 'grid'"
                                          ng-class="contributeCtrl.resultsView === 'grid' ? 'button--active' : ''">
                                      {{ 'Grid view' | translate }}
                                  </li>
                                  <li class="tab--item"
                                          ng-click="contributeCtrl.resultsView = 'map'"
                                          ng-class="contributeCtrl.resultsView === 'map' ? 'button--active' : ''">
                                      {{ 'Map view' | translate }}
                                  </li>
                              </ul>
                          </div>
                          <div class="search-container">
                              <div class="search">
                                  <form ng-submit="contributeCtrl.search()">
                                      <h6 class="withDescription">Search</h6>
                                      <span class="input--description">Search project description or project number</span>
                                      <div class="search--wrapper">
                                          <input type="text" ng-model="contributeCtrl.searchText"
                                                 placeholder="{{ '' | translate }}"
                                                 class="form__control form__control--large">
                                           <button class="icon--search" type="submit">
                                               <span>{{ 'Search' | translate }}</span>
                                           </button>
                                      </div>
                                  </form>
                              </div>
                              <div class="" ng-show="showSearchOptions" ng-init="showSearchOptions = true">
                                  <form class="form">
                                      <fieldset class="form__fieldset">
                                          <div class="search-options-container">
                                              <div class="form__group search-option form__group--section--sm">
                                                  <label class="form__label">{{ 'Mapping difficulty' | translate }}</label>
                                                  <select class="form__control form__control--medium"
                                                  ng-change="contributeCtrl.search()"
                                                  ng-model="contributeCtrl.mapperLevel">
                                                      <option value="ALL">{{ 'All' | translate }}</option>
                                                      <option value="BEGINNER">{{ 'Beginner' | translate }}</option>
                                                      <option value="INTERMEDIATE">{{ 'Intermediate' | translate }}</option>
                                                      <option value="ADVANCED">{{ 'Advanced' | translate }}</option>
                                                  </select>
                                              </div>
                                              <div class="form__group search-option form__group--section--sm">
                                                  <label class="form__label">{{ 'Organisation' | translate }}</label>
                                                  <select class="form__control form__control--medium"
                                                  ng-change="contributeCtrl.search()"
                                                  ng-model="contributeCtrl.searchOrganisation">
                                                      <option value="">{{ 'All' | translate }}</option>
                                                      <option ng-repeat="organisation in contributeCtrl.organisations"
                                                              value="{{ organisation }}">{{ organisation }}</option>
                                                  </select>
                                              </div>
                                              <div class="form__group search-option form__group--section--sm">
                                                  <label class="form__label">{{ 'Campaign' | translate }}</label>
                                                  <select class="form__control form__control--medium"
                                                  ng-change="contributeCtrl.search()"
                                                  ng-model="contributeCtrl.searchCampaign">
                                                      <option value="">{{ 'All' | translate }}</option>
                                                      <option ng-repeat="campaign in contributeCtrl.campaigns"
                                                              value="{{ campaign }}">{{ campaign }}</option>
                                                  </select>
                                              </div>
                                              <div class="form__group search-option">
                                                  <label class="form__label">{{ 'Type(s) of mapping' | translate }}</label>
                                                  <div>
                                                      <label class="form__option form__option--custom-checkbox">
                                                          <input type="checkbox" name="form-custom-checkbox"
                                                                 ng-click="contributeCtrl.search()"
                                                                 ng-model="contributeCtrl.searchRoads"/>
                                                          <span class="form__option__text">{{ 'Roads' | translate }}</span>
                                                          <span class="form__option__ui"></span>
                                                      </label>
                                                      <label class="form__option form__option--custom-checkbox">
                                                          <input type="checkbox" name="form-custom-checkbox"
                                                                 ng-click="contributeCtrl.search()"
                                                                 ng-model="contributeCtrl.searchBuildings"/>
                                                          <span class="form__option__text">{{ 'Buildings' | translate }}</span>
                                                          <span class="form__option__ui"></span>
                                                      </label>
                                                      <label class="form__option form__option--custom-checkbox">
                                                          <input type="checkbox" name="form-custom-checkbox"
                                                                 ng-click="contributeCtrl.search()"
                                                                 ng-model="contributeCtrl.searchWaterways"/>
                                                          <span class="form__option__text">{{ 'Waterways' | translate }}</span>
                                                          <span class="form__option__ui"></span>
                                                      </label>
                                                      <label class="form__option form__option--custom-checkbox">
                                                          <input type="checkbox" name="form-custom-checkbox"
                                                                 ng-click="contributeCtrl.search()"
                                                                 ng-model="contributeCtrl.searchLanduse"/>
                                                          <span class="form__option__text">{{ 'Land use' | translate }}</span>
                                                          <span class="form__option__ui"></span>
                                                      </label>
                                                      <label class="form__option form__option--custom-checkbox">
                                                          <input type="checkbox" name="form-custom-checkbox"
                                                                 ng-click="contributeCtrl.search()"
                                                                 ng-model="contributeCtrl.searchOther"/>
                                                          <span class="form__option__text">{{ 'Other' | translate }}</span>
                                                          <span class="form__option__ui"></span>
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                      </fieldset>
                                  </form>
                              </div>
                            </div>
                          <div ng-hide="contributeCtrl.resultsView === 'map'">
                                <div ng-hide="contributeCtrl.results.length > 0">
                                    <p>{{ 'No projects found.' | translate }}</p>
                                </div>
                                <div ng-show="contributeCtrl.resultsView === 'grid' && contributeCtrl.results.length > 0">
                                    <div class="search-results-container">
                                        <div class="project-result__cards">
                                            <a href="/project/{{ project.projectId }}" class="project-result__card"
                                                 ng-repeat="project in contributeCtrl.results track by $index">
                                                <section class="panel project-result__content">
                                                    <span>{{ project.priority }}</span>
                                                    <h4>#{{ project.projectId }} {{ project.name }}</h4>
                                                    <p markdown-to-html="(project.shortDescription | limitTo: contributeCtrl.characterLimitShortDescription) +
                                                        (project.shortDescription.length > contributeCtrl.characterLimitShortDescription ? '...' : '')"></p>
                                                    <dl>
                                                        <dt ng-show="!project.organisationTag">{{ 'Organization' | translate }}:</dt>
                                                        <dd>N/A</dd>

                                                        <dt ng-show="project.organisationTag">{{ 'Organization' | translate }}:</dt>
                                                        <dd>{{ project.organisationTag }}</dd>

                                                        <dt>{{ 'Level' | translate }}:</dt>
                                                        <dd>{{ project.mapperLevel }}</dd>
                                                    </dl>
                                                </section>
                                                <section class="panel project-result__footer">
                                                    <dl>
                                                        <dt class='num--large'>{{ project.percentMapped }}%</dt>
                                                        <dd>{{ 'Mapped' | translate }}</dd>
                                                    <!--<uib-progressbar
                                                            value="project.percentMapped"></uib-progressbar>-->
                                                        <dt class='num--large'>{{ project.percentValidated }}%</dt>
                                                        <dd>{{ 'Validated' | translate }}</dd>
                                                    <!--<uib-progressbar
                                                            value="project.percentValidated"></uib-progressbar>-->
                                               </section>
                                            </a>
                                        </div>
                                        <div class="paging">
                                            <ul class="" role="group"
                                                 aria-label="{{ 'Navigate the results' | translate }}">
                                                <li class="paging--previous"
                                                        ng-class="!contributeCtrl.pagination.hasPrev ? 'disabled' : ''"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.prevNum)">
                                                    {{ 'Previous' | translate }}
                                                </li>
                                                <li class=""
                                                        ng-show="(contributeCtrl.pagination.prevNum || contributeCtrl.pagination.page) != 1"
                                                        ng-class="contributeCtrl.pagination.page === 1 ? 'disabled' : ''"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.lastNum)">
                                                    1
                                                </li>
                                                <li class=" disabled"
                                                        ng-show="contributeCtrl.pagination.prevNum - 1 > 1">
                                                    ...
                                                </li>
                                                <li class=""
                                                        ng-show="contributeCtrl.pagination.prevNum"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.prevNum)">
                                                    {{ contributeCtrl.pagination.prevNum }}
                                                </li>
                                                <li class="button--active">
                                                    {{ contributeCtrl.pagination.page }}
                                                </li>
                                                <li class=""
                                                        ng-show="contributeCtrl.pagination.nextNum"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.nextNum)">
                                                    {{ contributeCtrl.pagination.nextNum }}
                                                </li>
                                                <li class="disabled"
                                                        ng-show="contributeCtrl.pagination.pages - contributeCtrl.pagination.page > 2">
                                                    ...
                                                </li>
                                                <li class=""
                                                        ng-show="(contributeCtrl.pagination.nextNum || contributeCtrl.pagination.page) != contributeCtrl.pagination.pages"
                                                        ng-class="contributeCtrl.pagination.pages === contributeCtrl.pagination.page ? 'disabled' : ''"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.pages)">
                                                    {{ contributeCtrl.pagination.pages }}
                                                </li>
                                                <li class="paging--next"
                                                        ng-class="!contributeCtrl.pagination.hasNext ? 'disabled' : ''"
                                                        ng-click="contributeCtrl.search(contributeCtrl.pagination.nextNum)">
                                                    {{ 'Next' | translate }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="list" ng-show="contributeCtrl.resultsView === 'list'">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <span>#</span>
                                            </th>
                                            <th>
                                                <span>{{ 'Name' | translate }}</span>
                                            </th>
                                            <th>
                                                <span>{{ 'Description' | translate }}</span>
                                            </th>
                                            <th>
                                                <span>{{ 'Level' | translate }}</span>
                                            </th>
                                            <th>
                                                <span>{{ 'Priority' | translate }}</span>
                                            </th>
                                            <th>
                                                <span>{{ 'Organisation' | translate }}</span>
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="project in contributeCtrl.results track by $index">
                                            <td>{{ project.projectId }}</td>
                                            <td class="wider-column">{{ project.name }}</td>
                                            <td>
                                            <span markdown-to-html="(project.shortDescription)">
                                            </span>
                                            </td>
                                            <td>{{ project.mapperLevel }}</td>
                                            <td>{{ project.priority }}</td>
                                            <td ng-show="!project.organisationTag">N/A</td>
                                            <td ng-show="project.organisationTag">{{ project.organisationTag }}</td>
                                            <td><a href="/project/{{ project.projectId }}"
                                                   class="button button--primary button--small">{{ 'Contribute' | translate }}</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="search-results-container--wrapper" ng-show="contributeCtrl.resultsView === 'map'">
                                <div>
                                    <div id="map" class="map-container">
                                        <div class="legend-control ol-control">
                                            <h6>{{ 'Legend' | translate }}</h6>
                                            <div ng-show="contributeCtrl.showVectorLegend">
                                                <div>
                                                    <svg height="25" width="25">
                                                        <circle cx="15" cy="15" r="8" stroke="black"
                                                                stroke-width="1"
                                                                fill="red"
                                                                fill-opacity="0.5"/>
                                                    </svg>
                                                    {{ 'Urgent' | translate }}
                                                </div>
                                                <div>
                                                    <svg height="25" width="25">
                                                        <circle cx="15" cy="15" r="8" stroke="black"
                                                                stroke-width="1"
                                                                fill="orange"
                                                                fill-opacity="0.5"/>
                                                    </svg>
                                                    {{ 'High' | translate }}
                                                </div>
                                                <div>
                                                    <svg height="25" width="25">
                                                        <circle cx="15" cy="15" r="8" stroke="black"
                                                                stroke-width="1"
                                                                fill="yellow"
                                                                fill-opacity="0.5"/>
                                                    </svg>
                                                    {{ 'Medium' | translate }}
                                                </div>
                                                <div>
                                                    <svg height="25" width="25">
                                                        <circle cx="15" cy="15" r="8" stroke="black"
                                                                stroke-width="1"
                                                                fill="blue"
                                                                fill-opacity="0.5"/>
                                                    </svg>
                                                    {{ 'Low' | translate }}
                                                </div>
                                            </div>
                                            <div ng-show="contributeCtrl.showClusterLegend">
                                                <div>
                                                    <svg height="27" width="27">
                                                        <circle cx="15" cy="15" r="12" stroke="#fff"
                                                                stroke-width="1"
                                                                fill='#3399CC'
                                                        />
                                                        <text fill="#ffffff" font-size="8" font-family="Verdana"
                                                              x="10" y="17">54
                                                        </text>
                                                    </svg>
                                                    {{ 'Project Cluster' | translate }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
