<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    Contribute
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <div class="contribute-container">
                        <div class="search">
                            <form class="form">
                                <fieldset class="form__fieldset">
                                     <h2>Filter</h2>
                                     <div class="form__group">
                                        <label class="form__label">Mapping difficulty</label>
                                        <div class="button-group button-group--horizontal" role="group"
                                             aria-label="choose mapping difficulty">
                                            <button class="button button--achromic" type="button"
                                                ng-click="contributeCtrl.setMapperLevel('')"
                                                ng-class="contributeCtrl.mapperLevel === '' ? 'button--active' : ''">
                                                All
                                            </button>
                                            <button class="button button--achromic" type="button"
                                                ng-click="contributeCtrl.setMapperLevel('BEGINNER')"
                                                ng-class="contributeCtrl.mapperLevel === 'BEGINNER' ? 'button--active' : ''">
                                                Beginner
                                            </button>
                                            <button class="button button--achromic" type="button"
                                                ng-click="contributeCtrl.setMapperLevel('INTERMEDIATE')"
                                                ng-class="contributeCtrl.mapperLevel === 'INTERMEDIATE' ? 'button--active' : ''">
                                                Intermediate</button>
                                            <button class="button button--achromic" type="button"
                                                ng-click="contributeCtrl.setMapperLevel('ADVANCED')"
                                                ng-class="contributeCtrl.mapperLevel === 'ADVANCED' ? 'button--active' : ''">
                                                Advanced</button>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <label class="form__label">Organisation</label>
                                        <select class="form__control" ng-model="contributeCtrl.searchOrganisation">
                                            <option value="">All</option>
                                            <option ng-repeat="organisation in contributeCtrl.organisations"
                                                    value="{{ organisation }}">{{ organisation }}</option>
                                        </select>
                                    </div>
                                    <div class="form__group">
                                        <label class="form__label">Campaign</label>
                                        <select class="form__control" ng-model="contributeCtrl.searchCampaign">
                                            <option value="">All</option>
                                            <option ng-repeat="campaign in contributeCtrl.campaigns"
                                                    value="{{ campaign }}">{{ campaign }}</option>
                                        </select>
                                    </div>
                                    <div class="form__group">
                                        <label class="form__label">Type(s) of mapping</label>
                                        <label class="form__option form__option--custom-checkbox">
                                            <input type="checkbox" name="form-custom-checkbox"
                                                   ng-model="contributeCtrl.searchRoads"/>
                                            <span class="form__option__text">Roads</span>
                                            <span class="form__option__ui"></span>
                                        </label>
                                        <label class="form__option form__option--custom-checkbox">
                                            <input type="checkbox" name="form-custom-checkbox"
                                                ng-model="contributeCtrl.searchBuildings"/>
                                            <span class="form__option__text">Buildings</span>
                                            <span class="form__option__ui"></span>
                                        </label>
                                        <label class="form__option form__option--custom-checkbox">
                                            <input type="checkbox" name="form-custom-checkbox"
                                                ng-model="contributeCtrl.searchWaterways"/>
                                            <span class="form__option__text">Waterways</span>
                                            <span class="form__option__ui"></span>
                                        </label>
                                        <label class="form__option form__option--custom-checkbox">
                                            <input type="checkbox" name="form-custom-checkbox"
                                                ng-model="contributeCtrl.searchLanduse"/>
                                            <span class="form__option__text">Land use</span>
                                            <span class="form__option__ui"></span>
                                        </label>
                                        <label class="form__option form__option--custom-checkbox">
                                            <input type="checkbox" name="form-custom-checkbox"
                                                ng-model="contributeCtrl.searchOther"/>
                                            <span class="form__option__text">Other</span>
                                            <span class="form__option__ui"></span>
                                        </label>
                                    </div>
                                    <div class="form__group">
                                        <label class="form__label">Text search</label>
                                        <input type="text" class="form__control form__control--medium" placeholder="Search on description or project number" ng-model="contributeCtrl.searchText"/>
                                    </div>
                                    <div>
                                        <button class="button button--primary pull-right"
                                            ng-click="contributeCtrl.search()">
                                            Search
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="search-results">
                            <div ng-hide="contributeCtrl.results.length > 0">
                                <p>No projects found.</p>
                            </div>
                            <div ng-show="contributeCtrl.results.length > 0">
                                <div class="form__group">
                                    <div class="button-group button-group--horizontal" role="group"
                                         aria-label="choose results view">
                                        <button class="button button--achromic button--active" type="button"
                                            ng-click="contributeCtrl.resultsView = 'grid'"
                                            ng-class="contributeCtrl.resultsView === 'grid' ? 'button--active' : ''">
                                            Grid view
                                        </button>
                                        <button class="button button--achromic" type="button"
                                            ng-click="contributeCtrl.resultsView = 'list'"
                                            ng-class="contributeCtrl.resultsView === 'list' ? 'button--active' : ''">
                                            List view
                                        </button>
                                    </div>
                                </div>
                                <div ng-show="contributeCtrl.resultsView === 'grid'">
                                    <div class="search-results-container">
                                        <div class="project-result__cards">
                                            <div class="project-result__card"
                                                 ng-repeat="project in contributeCtrl.results.slice(((contributeCtrl.currentPage-1)*contributeCtrl.itemsPerPage), ((contributeCtrl.currentPage)*contributeCtrl.itemsPerPage)) track by project.projectId">
                                                <section class="panel project-result__content">
                                                     <div class="progress-bar-container">
                                                         <span class="label">{{ project.percentMapped }}% mapped</span>
                                                         <uib-progressbar value="project.percentMapped"></uib-progressbar>
                                                         <span class="label">{{ project.percentValidated }}% validated</span>
                                                         <uib-progressbar value="project.percentValidated"></uib-progressbar>
                                                    </div>
                                                    <h4>#{{ project.projectId }} {{ project.name }}</h4>
                                                    <p ng-bind-html="(project.shortDescription | limitTo: contributeCtrl.characterLimitShortDescription) +
                                                        (project.shortDescription.length > contributeCtrl.characterLimitShortDescription ? '...' : '')">
                                                    </p>
                                                    <ul>
                                                        <li>Organisation: {{ project.organisationTag }}</li>
                                                        <li>Priority: {{ project.priority }}</li>
                                                        <li>Level: {{ project.mapperLevel }}</li>
                                                    </ul>
                                                    <a href="/project/{{ project.projectId }}"
                                                       class="button button--primary">Contribute</a>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list" ng-show="contributeCtrl.resultsView === 'list'">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <span>#</span>
                                            </th>
                                            <th>
                                                <span>Name</span>
                                            </th>
                                            <th>
                                                <span>Description</span>
                                            </th>
                                            <th>
                                                <span>Level</span>
                                            </th>
                                            <th>
                                                <span>Priority</span>
                                            </th>
                                            <th>
                                                <span>Organisation</span>
                                            </th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="project in contributeCtrl.results track by project.projectId">
                                            <td>{{ project.projectId }}</td>
                                            <td>{{ project.name }}</td>
                                            <td>
                                                <span ng-bind-html="(project.shortDescription | limitTo: contributeCtrl.characterLimitShortDescription) +
                                                    (project.shortDescription.length > contributeCtrl.characterLimitShortDescription ? '...' : '')">
                                                </span>
                                            </td>
                                            <td>{{ project.mapperLevel }}</td>
                                            <td>{{ project.priority }}</td>
                                            <td>{{ project.organisationTag }}</td>
                                            <td><a href="/project/{{ project.projectId }}" class="button button--primary button--small">Contribute</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                    <!-- Pagination -->
                                    <div class="paging">
                                        <div class="button-group button-group--horizontal" role="group" aria-label="Navigate the results">
                                        <button class="button button--achromic"
                                                ng-class="!contributeCtrl.pagination.hasPrev ? 'disabled' : ''"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.prevNum)">
                                            Previous
                                        </button>
                                        <button class="button button--achromic"
                                                ng-show="(contributeCtrl.pagination.prevNum || contributeCtrl.pagination.page) != 1"
                                                ng-class="contributeCtrl.pagination.page === 1 ? 'disabled' : ''"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.lastNum)">
                                            1
                                        </button>
                                        <button class="button button--achromic disabled"
                                                ng-show="contributeCtrl.pagination.prevNum - 1 > 1">
                                            ...
                                        </button>
                                        <button class="button button--achromic"
                                                ng-show="contributeCtrl.pagination.prevNum"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.prevNum)">
                                            {{ contributeCtrl.pagination.prevNum }}
                                        </button>
                                        <button class="button button--achromic button--active">
                                            {{ contributeCtrl.pagination.page }}
                                        </button>
                                        <button class="button button--achromic"
                                                ng-show="contributeCtrl.pagination.nextNum"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.nextNum)">
                                            {{ contributeCtrl.pagination.nextNum }}
                                        </button>
                                        <button class="button button--achromic disabled"
                                                ng-show="contributeCtrl.pagination.pages - contributeCtrl.pagination.page > 2">
                                            ...
                                        </button>
                                        <button class="button button--achromic"
                                                ng-show="(contributeCtrl.pagination.nextNum || contributeCtrl.pagination.page) != contributeCtrl.pagination.pages"
                                                ng-class="contributeCtrl.pagination.pages === contributeCtrl.pagination.page ? 'disabled' : ''"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.pages)">
                                            {{ contributeCtrl.pagination.pages }}
                                        </button>
                                        <button class="button button--achromic"
                                                ng-class="!contributeCtrl.pagination.hasNext ? 'disabled' : ''"
                                                ng-click="contributeCtrl.searchProjectsWithPage(contributeCtrl.pagination.nextNum)">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <div>
                        <div id="map" class="map-container"></div>
                        <div id="popup" class="ol-popup">
                            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                            <div id="popup-content"></div>
                        </div>
                        <div id="legend-container" class="ol-control legend-control">
                            <h3>Legend</h3>
                            <div>
                                <svg height="25" width="25">
                                    <circle cx="15" cy="15" r="8" stroke="black" stroke-width="1" fill="red" fill-opacity="0.5" />
                                </svg>
                                Urgent
                            </div>
                            <div>
                                <svg height="25" width="25">
                                    <circle cx="15" cy="15" r="8" stroke="black" stroke-width="1" fill="orange" fill-opacity="0.5" />
                                </svg>
                                High
                            </div>
                            <div>
                                <svg height="25" width="25">
                                    <circle cx="15" cy="15" r="8" stroke="black" stroke-width="1" fill="yellow" fill-opacity="0.5" />
                                </svg>
                                Medium
                            </div>
                            <div>
                                <svg height="25" width="25">
                                    <circle cx="15" cy="15" r="8" stroke="black" stroke-width="1" fill="blue" fill-opacity="0.5" />
                                </svg>
                                Low
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>    