@import "bootstrap.less";
@icon-font-path: "../bootstrap/fonts/";


// Mixins
.box-shadow(@horizontal: 0px, @vertical: 1px, @blur: 2px, @spread: 2px, @color: #CCC) {
  -webkit-box-shadow: @horizontal @vertical @blur @spread @color;
  -moz-box-shadow: @horizontal @vertical @blur @spread @color;
  box-shadow: @horizontal @vertical @blur @spread @color;
}
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}


html, body {
    background-color: #FFF;
    padding-top: 30px;
    line-height: 18px;
}

.navbar-default {
  #gradient > .vertical(#9B0D0B, #B4242E);
}

.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);

  p {
      color: #555;
  }
}

.world_map {
    float: right;
    background: url(../img/world_map.png);
    width: 120px;
    height: 60px;
    position: relative;
    .marker {
        background-color: red;
        width: 3px;
        height: 3px;
        position: absolute;
    }
}
.world_map {
    .box-shadow(0, 0, 2px, 2px, rgba(0, 0, 0, 0.15));
}

.messages sup .badge {
    font-size: 0.9em;
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    .border-radius(4px);
}

#home {
    .updated-at, .created-by {
        font-size: 11px;
        color: #666;
        margin: 0;
    }
    .project {
        padding: 10px 10px 5px 10px;

        h4 {
            margin: 0;
        }
    }

    ul.project-stats {
        float: right;
        font-size: 11px;
        margin-bottom: 0;

        li {
            float: left;
            margin-left: 10px;
            color: #666;
        }
        .progress {
            height: 10px;
            width: 30px;
            border: 1px solid #ccc;
            margin-bottom: 0;

            /*.bar {*/
                /*#gradient > .vertical(#ccc, #eee);*/
            /*}*/
        }
    }
}

#project {
    #main_content {
        position: absolute;
        left: 0;
        top: 110px;
        bottom: 0;
        width: 100%;
    }
    #leaflet {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 420px;
    }
    .leaflet-left {
          -webkit-transition: all 0.2s;
             -moz-transition: all 0.2s;
               -o-transition: all 0.2s;
                  transition: all 0.2s;
    }
    .large #leaflet .leaflet-left {
        /* side-col (large width - small width) */
        left: 150px;
    }
    #task_msg, #task_loading, #task_error_msg {
        position: absolute;
        top: -40px;
        left: 4px;
        padding: 5px;
    }
    #side-col {
        position: absolute;
        top: -5px;
        bottom: 0;
        width: 420px;
        background-color: white;
        .box-shadow(0, 0, 2px, 2px, rgba(0, 0, 0, 0.15));
        padding: 10px;
        .border-radius(0 5px 0 0);
          -webkit-transition: all 0.2s;
             -moz-transition: all 0.2s;
               -o-transition: all 0.2s;
                  transition: all 0.2s;
        overflow: auto;
    }
    .large #side-col {
        width: 570px
    }
    #task {
        overflow: auto;
        height: 100%;

        .status {
          display: inline-block;
          .opacity(50);
        }
    }
    #task_actions {
        overflow: hidden;
        > .item {
            display: none;
            position: relative;
          -webkit-transition: all 0.4s ease-in-out;
             -moz-transition: all 0.4s ease-in-out;
               -o-transition: all 0.4s ease-in-out;
                  transition: all 0.4s ease-in-out;
        }

        > .active,
        > .next,
        > .prev { display: block; }
        > .active {
            left: 0;
            .opacity(100);
        }
        > .next,
        > .prev {
            position: absolute;
            top: 0;
            width: 100%;
        }
        > .next,
        > .prev {
            position: absolute;
            top: 0;
            width: 100%;
        }

        > .next {
            left: 100%;
        }
        > .prev {
            left: -100%;
        }
        > .next.left,
        > .prev.right {
            left: 0;
        }

        > .active.left {
            left: -100%;
            .opacity(0);
        }
        > .active.right {
            left: 100%;
        }
        > .active.left,
        > .active.right {
            .opacity(0);
        }
    }
    .history {
        padding: 4px;
        background-color: transparent;
        border: solid #dfdfdf;
        border-width: 0 1px 1px 1px;
        p, blockquote {
            margin: 0;
        }
        .icon-comment {
            .opacity(50)
        }
    }
    .history.first {
        border-top-width: 1px;
        .border-radius(5px 5px 0 0);
    }
    .history.last {
        .border-radius(0 0 5px 5px);
    }
    .icon-split {
        background-image: url(../img/split.png);
        background-position: 0 0;
        width: 16px;
        height: 16px;
        padding-right: 4px;
    }

    .linethrough {
        text-decoration: line-through;
    }

    #instructions {
        .icon-question-sign {
            .opacity(50);
        }
        dt {
            color: lighten(#000, 60%);
            font-weight: normal;
        }
        dd {
            margin-left: 10px;
            border: 1px solid #dfdfdf;
            padding: 5px;
            .border-radius(5px);
        }
    }

    #editDropdown li a {
        cursor: pointer;
    }
}

#project_edit {
    .nav-pills.small {
        font-size: 0.9em;
        margin-bottom: 3px;
    }
    .nav-pills.small>li>a {
        padding-bottom: 2px;
        padding-top: 2px;
        border-bottom: 1px solid transparent;

        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .nav-pills.small>li.active>a {
        color: inherit;
        background-color: transparent;
        border-color: grey;
    }
    .preview {
        min-height: 100px;
    }
}

#project_new_grid {
    #leaflet {
        height: 240px;
    }
}

#project_new_grid {
    .grid64, .grid32, .grid16, .grid8, .grid4 {
        width: 100%;
        height:100%;
        position: absolute;
    }
    .grid64 {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAYAAABXuSs3AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAJ2AAACdgBx6C5rQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABcSURBVGiB7c5BDYAwAMDAQjDPH4cTMjTAo8uSnoI7gBsYbOYCxpzzWR356lwd+Ku4rbituK24rbituK24rbituK24rbituK24rbituK24rbituK24rbituG3b+AtYHAY+h0otbAAAAABJRU5ErkJggg==);
    }
    .grid32 {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4JAz/iCC4AAAA2SURBVFjD7c5BDcAwDACx6zTe1ZBnMPKxEfhUt0Vv1cx8W4GnZQICAgICAgICAgICAgIC64EfrE4EP2oRPdAAAAAASUVORK5CYII=);
    }
    .grid16 {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4JMIAyaTgAAAApSURBVDjLY5SVld3PQAFgYWBgYHj06JEjuQYwMVAIRg0YNWDUACoZAACvIgQfICVoRgAAAABJRU5ErkJggg==);
    }
    .grid8 {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4KBIqrzk4AAAAiSURBVBjTY5SVld3PgAewMDAwMDx69MgRlwImBgJgSCgAALLOBA82NglHAAAAAElFTkSuQmCC);
    }
    .grid4 {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4KEJBxGjMAAAAgSURBVAjXY5SVld3PgARYGBgYGB49euQIE2BiQAMYAgDKAQQHLIyrSgAAAABJRU5ErkJggg==);
    }
}

.clear {
    clear: both;
}

.nav-tabs, .nav-pills {
    margin-bottom: 15px;
}

// http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
.tabs-below, .tabs-right, .tabs-left {
  .nav-tabs {
    border-bottom: 0;
  }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below {
  > .nav-tabs {
    border-top: 1px solid #ddd;

    > li {
      margin-top: -1px;
      margin-bottom: 0;

      > a {
        -webkit-border-radius: 0 0 4px 4px;
           -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;

        &:hover, &:focus {
          border-top-color: #ddd;
          border-bottom-color: transparent;
        }
      }
    }
    > .active a {
      &, &:hover, &:focus {
        border-color: transparent #ddd #ddd #ddd;
      }
    }
  }
}

.tabs-left, .tabs-right {
  > .nav-tabs > li {
    float: none;

    > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
  }
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;

  > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;

    &:hover, &:focus {
      border-color: #eee #ddd #eee #eee;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #fff;
    }
  }
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;

  > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;

    &:hover, &:focus {
      border-color: #eee #eee #eee #ddd;
    }
  }

  > .active a {
    &, &:hover, &:focus {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #fff;
    }
  }
}
