/*@import "../bootstrap/less/bootstrap.less";*/
html,
body {
  background-color: #FFF;
  padding-top: 30px;
  line-height: 18px;
}
.footer {
  background-color: #eee;
  min-width: 940px;
  padding: 30px 0;
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.025);
}
.footer p {
  color: #555;
}
.world_map {
  float: right;
  background: url(../img/world_map.png);
  width: 120px;
  height: 60px;
  position: relative;
}
.world_map .marker {
  background-color: red;
  width: 3px;
  height: 3px;
  position: absolute;
}
.world_map {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.messages sup .badge {
  font-size: 0.9em;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#home .updated-at,
#home .created-by {
  font-size: 11px;
  color: #666;
  margin: 0;
}
#home .project {
  padding: 10px 10px 5px 10px;
}
#home .project h4 {
  margin: 0;
}
#home ul.project-stats {
  float: right;
  font-size: 11px;
  margin-bottom: 0;
}
#home ul.project-stats li {
  float: left;
  margin-left: 10px;
  color: #666;
}
#home ul.project-stats .progress {
  height: 10px;
  width: 30px;
  border: 1px solid #ccc;
  margin-bottom: 0;
  /*.bar {*/

  /*#gradient > .vertical(#ccc, #eee);*/

  /*}*/

}
#project #map {
  position: absolute;
  left: 0;
  top: 110px;
  bottom: 0;
  width: 100%;
}
#project #leaflet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 420px;
}
#project #task_msg,
#project #task_loading,
#project #task_error_msg {
  position: absolute;
  top: -40px;
  right: 4px;
}
#project #right-col {
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 0;
  width: 400px;
  background-color: white;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15) 1px 2px #cccccc;
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15) 1px 2px #cccccc;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15) 1px 2px #cccccc;
  padding: 10px;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#project #task {
  overflow: auto;
  height: 100%;
}
#project #task .status {
  display: inline-block;
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
}
#project #task_actions {
  overflow: hidden;
}
#project #task_actions > .item {
  display: none;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
#project #task_actions > .active,
#project #task_actions > .next,
#project #task_actions > .prev {
  display: block;
}
#project #task_actions > .active {
  left: 0;
  -webkit-opacity: 100;
  -moz-opacity: 100;
  opacity: 100;
}
#project #task_actions > .next,
#project #task_actions > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
#project #task_actions > .next,
#project #task_actions > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
#project #task_actions > .next {
  left: 100%;
}
#project #task_actions > .prev {
  left: -100%;
}
#project #task_actions > .next.left,
#project #task_actions > .prev.right {
  left: 0;
}
#project #task_actions > .active.left {
  left: -100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#project #task_actions > .active.right {
  left: 100%;
}
#project #task_actions > .active.left,
#project #task_actions > .active.right {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#project .history {
  padding: 4px;
  background-color: transparent;
  border: solid #dfdfdf;
  border-width: 0 1px 1px 1px;
}
#project .history p,
#project .history blockquote {
  margin: 0;
}
#project .history .icon-comment {
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
}
#project .history.first {
  border-top-width: 1px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#project .history.last {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#project .icon-split {
  background-image: url(../img/split.png);
  background-position: 0 0;
  width: 16px;
  height: 16px;
  padding-right: 4px;
}
#project .linethrough {
  text-decoration: line-through;
}
#project #instructions .icon-question-sign {
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
}
#project_edit .nav-pills.small {
  font-size: 0.9em;
  margin-bottom: 3px;
}
#project_edit .nav-pills.small > li > a {
  padding-bottom: 2px;
  padding-top: 2px;
  border-bottom: 1px solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#project_edit .nav-pills.small > li.active > a {
  color: inherit;
  background-color: transparent;
  border-color: grey;
}
#project_edit .preview {
  min-height: 100px;
}
#project_new_grid #leaflet {
  height: 240px;
}
#project_new_grid .grid64,
#project_new_grid .grid32,
#project_new_grid .grid16,
#project_new_grid .grid8,
#project_new_grid .grid4 {
  width: 100%;
  height: 100%;
  position: absolute;
}
#project_new_grid .grid64 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAYAAABXuSs3AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAJ2AAACdgBx6C5rQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABcSURBVGiB7c5BDYAwAMDAQjDPH4cTMjTAo8uSnoI7gBsYbOYCxpzzWR356lwd+Ku4rbituK24rbituK24rbituK24rbituK24rbituK24rbituK24rbituG3b+AtYHAY+h0otbAAAAABJRU5ErkJggg==);
}
#project_new_grid .grid32 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4JAz/iCC4AAAA2SURBVFjD7c5BDcAwDACx6zTe1ZBnMPKxEfhUt0Vv1cx8W4GnZQICAgICAgICAgICAgIC64EfrE4EP2oRPdAAAAAASUVORK5CYII=);
}
#project_new_grid .grid16 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4JMIAyaTgAAAApSURBVDjLY5SVld3PQAFgYWBgYHj06JEjuQYwMVAIRg0YNWDUACoZAACvIgQfICVoRgAAAABJRU5ErkJggg==);
}
#project_new_grid .grid8 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4KBIqrzk4AAAAiSURBVBjTY5SVld3PgAewMDAwMDx69MgRlwImBgJgSCgAALLOBA82NglHAAAAAElFTkSuQmCC);
}
#project_new_grid .grid4 {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAAN1wAADdcBQiibeAAAAAd0SU1FB90DDw4KEJBxGjMAAAAgSURBVAjXY5SVld3PgARYGBgYGB49euQIE2BiQAMYAgDKAQQHLIyrSgAAAABJRU5ErkJggg==);
}
.clear {
  clear: both;
}
