[submodule "osmtm/static/bootstrap"]
	path = osmtm/static/bootstrap
    url = git://github.com/twbs/bootstrap.git
[submodule "osmtm/static/js/lib/Leaflet.draw"]
	path = osmtm/static/js/lib/Leaflet.draw
	url = git://github.com/Leaflet/Leaflet.draw.git
[submodule "osmtm/static/js/lib/Leaflet.utfgrid"]
	path = osmtm/static/js/lib/Leaflet.utfgrid
	url = git://github.com/danzel/Leaflet.utfgrid.git
