# Tasking Manager configuration file
#


#
# Rename to `.env` and adjust to make it work!
#

# The base url the application is reachable (required)
#
TM_APP_BASE_URL=http://127.0.0.1:5000


# The connection to the postgres database (required)
#
POSTGRES_DB=tasking-manager
POSTGRES_USER=tm
POSTGRES_PASSWORD=tm
# POSTGRES_ENDPOINT=localhost


# Secret (required)
#
# A freely definable secret. Gives authorization to the front- and and back-end 
# to talk to each other.
#
TM_SECRET=s0m3l0ngr4nd0mstr1ng-b3cr34tiv3&h4v3fun


# OpenStreetMap OAuth consumer key and secret (required)
#
TM_CONSUMER_KEY=foo
TM_CONSUMER_SECRET=s0m3l0ngr4nd0mstr1ng-b3cr34tiv3&h4v3fun


# The default tag used in the OSM changeset comment (optional)
#
# TM_DEFAULT_CHANGESET_COMMENT="#tm-project"


# The address to use as the sender on auto generated emails (optional)
#
# TM_EMAIL_FROM_ADDRESS=noreply@localhost

# Email sending server configuration (optional)
# This is required in order to send out messages.
#
# TM_SMTP_HOST=
# TM_SMTP_PORT=25
# TM_SMTP_USER=
# TM_SMTP_PASSWORD=

# Logging settings  (optional)
# (e.g. ERROR, DEBUG, etc.)
# If not specified DEBUG is default. ERROR is a good value for a live site.
#
# TM_LOG_LEVEL=DEBUG
# TM_LOG_DIR=/var/log/tasking-manager.logs

# Languages offered by the Tasking Manager (optional)
# Please note that there must be exactly the same number of Codes as languages.
#
# TM_SUPPORTED_LANGUAGES_CODES='ar, cs, da, de, en, es, fa_IR, fi, fr, hu, gl, id, it, ja, lt, mg, nb, nl_NL, pl, pt, pt_BR, ru, si, sl, ta, uk, vi, zh_TW'
# TM_SUPPORTED_LANGUAGES='Arabic, Česky, Dansk, Deutsch, English, Español, Persian (Iran), Suomi, Français, Magyar, Galician, Indonesia, Italiano, 日本語, Lietuvos, Malagasy, Bokmål, Nederlands, Polish, Português, Português (Brasil), Русский, සිංහල, Slovenščina, தமிழ், Українська, tiếng Việt, 中文')

# Time to wait until task auto-unlock (optional)
# (e.g. '2h' or '7d' or '30m' or '1h30m')
#
# TM_TASK_AUTOUNLOCK_AFTER=2h
  
# Mapper Level values represent number of OSM changesets (optional)
# 
# TM_MAPPER_LEVEL_INTERMEDIATE=250
# TM_MAPPER_LEVEL_ADVANCED=500
