[project]
name = "HOTOSM Tasking Manager"
version = "0.1.0"
description = "The tool to team up for mapping in OpenStreetMap"
authors = [
    {name = "HOT Sysadmin", email = "sysadmin@hotosm.org"},
]
dependencies = [
    "alembic==1.4.3",
    "aniso8601==8.0.0",
    "appdirs==1.4.4",
    "apscheduler==3.7.0",
    "attrs==20.2.0",
    "black==20.8b1",
    "bleach==3.3.0",
    "cachetools==4.1.1",
    "certifi==2020.6.20",
    "chardet==3.0.4",
    "click==7.1.2",
    "coverage==6.4",
    "entrypoints==0.3",
    "flake8==3.8.4",
    "flask==1.1.2",
    "flask-cors==3.0.9",
    "flask-httpauth==4.1.0",
    "flask-migrate==2.5.3",
    "flask-oauthlib==0.9.4",
    "flask-restful==0.3.8",
    "flask-script==2.0.6",
    "flask-sqlalchemy==2.4.4",
    "flask-swagger==0.2.14",
    "gevent==20.9.0",
    "geoalchemy2==0.8.4",
    "geojson==1.3.4",
    "glob2==0.7",
    "greenlet==0.4.17",
    "gunicorn==20.0.4",
    "idna==2.10",
    "itsdangerous==1.1.0",
    "jinja2==2.11.3",
    "mako==1.1.3",
    "markdown==3.3.3",
    "markupsafe==1.1.1",
    "mccabe==0.6.1",
    "newrelic==5.22.1.152",
    "nose==1.3.7",
    "oauthlib==2.0.2",
    "psycopg2==2.8.6",
    "pycodestyle==2.6.0",
    "pyflakes==2.2.0",
    "pyparsing==2.4.7",
    "pyproj==2.6.1.post1",
    "python-dateutil==2.8.1",
    "python-dotenv==0.14.0",
    "python-editor==1.0.4",
    "python-slugify==4.0.1",
    "pytz==2020.1",
    "pyyaml==5.4",
    "requests==2.24.0",
    "requests-oauthlib==1.0.0",
    "schematics==2.1.0",
    "sentry-sdk[flask]==1.5.8",
    "shapely==1.7.1",
    "six==1.15.0",
    "sqlalchemy==1.3.20",
    "text-unidecode==1.3",
    "toml==0.10.1",
    "unidecode==1.1.1",
    "urllib3==1.25.10",
    "webencodings==0.5.1",
    "werkzeug==0.16.1",
    "flask-mail==0.9.1",
]
requires-python = ">=3.7,<=3.8.13"
readme = "README.md"
license = {text = "BSD-2-Clause"}

[tool]
[tool.pdm]

[build-system]
requires = ["pdm-pep517"]
build-backend = "pdm.pep517.api"
