awsebcli==3.14.13
botocore==1.12.29
cement==2.8.2
colorama==0.3.9
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.13.1
jmespath==0.9.2
pathspec==0.5.9
python-dateutil==2.6.0
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
termcolor==1.1.0
websocket-client==0.40.0
