# Environment required for CICD pipeline. Env here is not used for app but rather Infra deployment via CI or manual run.

# Terragrunt Infra
# assuming we have certificate already and manage certificate manually rather than from infra
ACM_TLS_CERT_BACKEND_ARN=arn:aws:acm:EU-east-66:123456789:certificate/ARN_EXAMPLE

#GHActions
# Same secret as TM_SECRET but to encrypt terragrunt plan file uploaded to github artifacts
AWS_OIDC_ROLE_ARN=arn:aws:iam::123456789012:role/YOUR_ROLE_NAME
PLAN_FILE_ENCRYPTION_SECRET=UNSAFESTRINGUSEDUSECUSTOMSECRETKEY
