#VARIABLES
# Commented variables here as we will be editing it directly in pugrable/ecs/terragrunt.hcl. The list can be used as a reference for CI.
#
# TM_SMTP_HOST="smtp.gmail.com"
# TM_SMTP_PORT="587"
# ............... SEE pugrable/ecs/terragrunt.hcl FOR MORE ...............
#
#
#
#SECRETS
# Use "openssl rand -hex 32" to generate a random secret for TM_SECRET
#
TM_SECRET=CHANGEME
TM_CLIENT_ID=CHANGEME
TM_CLIENT_SECRET=CHANGEME
OHSOME_STATS_TOKEN=CHANGEME
TM_SMTP_USER=CHANGEME
TM_SMTP_PASSWORD=CHANGEME
TM_SENTRY_FRONTEND_DSN=CHANGEME
TM_SENTRY_BACKEND_DSN=CHANGEME
TM_IMAGE_UPLOAD_API_URL=CHANGEME
TM_IMAGE_UPLOAD_API_KEY=CHANGEME
#
#ACM
#
ACM_TLS_CERT_BACKEND_ARN=arn:aws:acm:EU-east-66:123456789:certificate/ARN_EXAMPLE
