# Environment required for CICD pipeline. Env here is not used for app but rather Infra deployment via CI or manual run.

# GHActions

# ==== VARIABLES ====
IMAGE_NAME=hotosm/tasking-manager-backend
AWS_REGION=us-east-1

# INFRA_TEAM=hotosm # optional if you want to override the team name

# ==== VARIABLES-END ====

# ==== SECRETS ====
# Same secret as TM_SECRET but to encrypt terragrunt plan file uploaded to github artifacts
AWS_OIDC_ROLE_ARN=arn:aws:iam::123456789012:role/YOUR_ROLE_NAME
PLAN_FILE_ENCRYPTION_SECRET=UNSAFESTRINGUSEDUSECUSTOMSECRETKEY
# ==== SECRETS-END ====

# Env-Variables (Redundant per environment)
FE_S3_BUCKET="your-s3-bucket-name"            # frontend bucket name for ci
FE_CLOUDFRONT_DISTRIBUTION_ID = 'EXxxxxxxxxx' #your cloudfront distribution id
ACM_TLS_CERT_BACKEND_ARN=arn:aws:acm:EU-east-66:123456789:certificate/ARN_EXAMPLE
ACM_TLS_CERT_FRONTEND_ARN=arn:aws:acm:EU-east-66:123456789:certificate/ARN_EXAMPLE
# Env-Variables (Redundant per environment) END

# GHActions-END
