<div ng-show="encouragementCtrl.ready()" class="mapper-encouragement">
    <div ng-switch="encouragementCtrl.account.mappingLevel">
        <div ng-switch-when="BEGINNER">
            <div ng-if="encouragementCtrl.isCloseToAdvancement()"
                class="mapper-encouragement__message">
                {{ "You've almost reached intermediate mapper!" | translate }}
            </div>
            <div ng-if="!encouragementCtrl.isCloseToAdvancement()">
                <div ng-if="encouragementCtrl.isHalfwayToAdvancement()"
                    class="mapper-encouragement__message">
                    {{ "You're over halfway to becoming an intermediate mapper!" | translate }}
                </div>
                <div ng-if="!encouragementCtrl.isHalfwayToAdvancement() && encouragementCtrl.hasMapped()"
                    class="mapper-encouragement__message">
                    {{ "You're on your way to becoming an intermediate mapper!" | translate }}
                </div>
            </div>
        </div>

        <div ng-switch-when="INTERMEDIATE">
            <div ng-if="encouragementCtrl.isCloseToAdvancement()"
                class="mapper-encouragement__message">
                {{ "You've almost reached advanced mapper!" | translate }}
            </div>
            <div ng-if="!encouragementCtrl.isCloseToAdvancement()">
                <div ng-if="encouragementCtrl.isHalfwayToAdvancement()"
                    class="mapper-encouragement__message">
                    {{ "You're over halfway to becoming an advanced mapper!" | translate }}
                </div>
                <div ng-if="!encouragementCtrl.isHalfwayToAdvancement()">
                    <div ng-if="encouragementCtrl.isNewlyPromoted()"
                        class="mapper-encouragement__message">
                      {{ "You've made intermediate mapper, keep it up! " | translate }}
                    </div>
                    <div ng-if="!encouragementCtrl.isNewlyPromoted()"
                        class="mapper-encouragement__message">
                          {{ "You're on your way to becoming an advanced mapper!" | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div ng-switch-when="ADVANCED">
            <div ng-if="!encouragementCtrl.hasValidated()"
                 class="mapper-encouragement__message">
                <p>
                    {{ "You're an advanced mapper! Next," | translate }}
                    <a href="https://www.missingmaps.org/validate">
                      {{ "learn how to validate!" | translate }}
                    </a>
                </p>
            </div>
            <div ng-if="encouragementCtrl.hasValidated()"
                class="mapper-encouragement__message">
                {{ "Keep up the validation! We need experts like you to help!" | translate }}
            </div>
        </div>
    </div>
</div>
