# Environment settings
option_settings:
  - option_name: TASKING_MANAGER_ENV
    value: Staging
container_commands:
    01_rewrite_www:
        command: sed -i "/access_log    /var/log/nginx/access.log;/a location /api/health-check { proxy_pass http://docker; }" /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf
    02_rewrite_www:
        command: sed -i "proxy_set_header    X-Forwarded-For        $proxy_add_x_forwarded_for;/a if ($http_x_forwarded_proto != 'https') { return 301 https://$host$request_uri; }" /etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf
