<div>
    <textarea class="form__control space-bottom--none" type="text" mentio
              rows="4"
              maxlength="{{ projectCtrl.maxlengthComment }}"
              placeholder="{{ 'Leave a comment' | translate }}"
              mentio-typed-text="typedTerm"
              mentio-search="projectCtrl.searchUser(term)"
              mentio-select="projectCtrl.formatUserTag(item)"
              mentio-items="projectCtrl.suggestedUsers"
              mentio-template-url="/app/project/user-suggestions-menu.html"
              ng-model="projectCtrl.comment"></textarea>
    <p>{{ projectCtrl.maxlengthComment - projectCtrl.comment.length }}
        {{ 'characters remaining' | translate }}</p>
    <p><strong>{{ 'Tip' | translate }}:</strong> {{ 'You can use Markdown. (HTML is not allowed)' | translate }}</p>
    <button class="button button--secondary button--small"
            ng-click="projectCtrl.showPreviewComment = !projectCtrl.showPreviewComment">
        {{ 'Preview' | translate }}
    </button>
    <p class="textblock--fulltext" ng-show="projectCtrl.showPreviewComment"
       markdown-to-html="projectCtrl.formattedComment(projectCtrl.comment)"></p>
</div>
