<div class="inner">
    <section class="section">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    #{{ projectCtrl.projectData.projectId }} - {{ projectCtrl.projectData.projectInfo.name }}
                </h1>
            </div>
        </header>
        <div class="project-container">
            <!-- side bar -->
            <div class="sidebar">
                <!-- tabs -->
                <ul class="navigation">
                        <li ng-click="projectCtrl.currentTab = 'description'"
                            ng-class="projectCtrl.currentTab == 'description'? 'active':''">
                            Description
                        </li>
                        <li ng-click="projectCtrl.currentTab = 'instructions'"
                            ng-class="projectCtrl.currentTab == 'instructions'? 'active':''">
                            Instructions
                        </li>
                        <li ng-click="projectCtrl.currentTab = 'mapping'"
                            ng-class="projectCtrl.currentTab == 'mapping'? 'active':''">
                            Mapping
                        </li>
                    </ul>
                <div class="content">
                    <div ng-show="projectCtrl.currentTab === 'description'">
                        <section>
                            <h4>#{{ projectCtrl.projectData.projectId }}-{{ projectCtrl.projectData.projectInfo.name }}</h4>
                            <div><mark>Priority: {{ projectCtrl.projectData.projectPriority }}</mark></div>
                            <p ng-bind-html="description"></p>
                        </section>
                        <button class="button button--secondary pull-right" ng-click="projectCtrl.currentTab = 'instructions'">
                            Instructions <i class="oam-ds-icon-sm-chevron-right"></i>
                        </button>
                    </div>
                    <div ng-show="projectCtrl.currentTab === 'instructions'">
                        <p ng-bind-html="instructions"></p>
                        <button class="button button--secondary pull-right" ng-click="projectCtrl.currentTab = 'mapping'">Mapping
                            <i class="oam-ds-icon-sm-chevron-right"></i>
                        </button>
                    </div>
                    <div ng-show="projectCtrl.currentTab === 'mapping'">
                        <!-- select UI -->
                        <div ng-show="projectCtrl.mappingStep === 'selecting'">
                            <h3>Choose a task</h3>
                            <p>There are 2 options for choosing a task:</p>
                            <p><strong>Option 1: </strong>Select a task by clicking on the map</p>
                            <p><strong>Option 2: </strong>
                                <button ng-click="projectCtrl.selectRandomTask()" class="button button--secondary">
                                    Select a random task
                                </button>
                            </p>
                        </div>
                        <!-- task viewing and mapping UI's -->
                        <div ng-show="projectCtrl.mappingStep === 'viewing' || projectCtrl.mappingStep === 'locked'">
                            <!-- task viewing UI -->
                            <div ng-show="projectCtrl.mappingStep === 'viewing' ">
                                <!-- task information -->
                                <h3>Task
                                    #{{ projectCtrl.selectedTaskData.taskId }} is
                                    <span ng-show="projectCtrl.selectedTaskData.taskLocked">LOCKED</span><span
                                            ng-hide="projectCtrl.selectedTaskData.taskLocked"> {{ projectCtrl.selectedTaskData.taskStatus }} </span>
                                </h3>
                                <div ng-show="projectCtrl.selectedTaskData">
                                    <div ng-show="projectCtrl.isSelectTaskMappable" class="alert alert--success"
                                         role="alert">
                                        <p>This task is available for mapping.</p>
                                    </div>
                                </div>
                                <!-- task error alerts -->
                                <div>
                                    <div ng-show="projectCtrl.taskLockError">
                                        <div class="alert alert--danger" role="alert">
                                            <p>The task could not be locked for mapping.</p>
                                        </div>
                                    </div>
                                    <div ng-show="projectCtrl.taskError === 'task-not-mappable'"
                                         class="alert alert--danger"
                                         role="alert">
                                        <p>The selected task is not available for mapping.</p>
                                    </div>
                                    <div ng-show="projectCtrl.taskError === 'none-available'">
                                        <div class="alert alert--danger" role="alert">
                                            <p>There are no tasks currently available for mapping.</p>
                                        </div>
                                    </div>
                                    <div ng-show="projectCtrl.taskError === 'task-get-error'">
                                        <div class="alert alert--danger" role="alert">
                                            <button class="alert__button-dismiss" title="Dismiss alert"
                                                    ng-click="projectCtrl.clearCurrentSelection()"><span>Dismiss</span>
                                            </button>
                                            <p>there was an error retrieving the task from the server.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- task action buttons -->
                                <div>
                                    <button ng-show="projectCtrl.isSelectTaskMappable" class="button button--secondary"
                                            ng-click="projectCtrl.lockSelectedTask()">
                                        Start
                                        Mapping
                                    </button>
                                    <button ng-hide="projectCtrl.taskError === 'none-available'"
                                            ng-click="projectCtrl.selectRandomTask()" class="button button--achromic">
                                        Select another task
                                    </button>
                                    <button class="button button--achromic"
                                            ng-click="projectCtrl.clearCurrentSelection()">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <!-- task locked UI -->
                            <div ng-show="projectCtrl.mappingStep === 'locked'"><!-- task mapping UI -->
                                <h3>Task
                                    #{{ projectCtrl.lockedTaskData.taskId }} is LOCKED by you
                                </h3>
                                <p></p>
                                <div class="form__group">
                                    <div>
                                        <select>
                                            <option selected="true">ID Editor</option>
                                            <option>JOSM</option>
                                            <option>Potlach 2</option>
                                            <option>Walking papers</option>
                                            <option>Field papers</option>
                                        </select>
                                        <button class="button button--secondary">
                                            Start Editor
                                        </button>
                                    </div>
                                    <textarea ng-model="projectCtrl.comment" class="form__control" rows="4"
                                              placeholder="Leave a comment"></textarea>
                                </div>
                                <button class="button button--secondary"
                                        ng-click="projectCtrl.unLockTask(projectCtrl.comment, projectCtrl.lockedTaskData.taskStatus)">
                                    Stop Mapping
                                </button>
                                <button class="button button--secondary"
                                        ng-click="projectCtrl.unLockTask(projectCtrl.comment, 'DONE')">
                                    Mark as done
                                </button>
                            </div>
                            <!-- advanced options UI -->
                            <div ng-init="showAdvanced=false"
                                 ng-show="projectCtrl.mappingStep === 'mapping' || projectCtrl.mappingStep === 'viewing'">
                                <div>
                                    <h3 ng-click="showAdvanced=!showAdvanced">
                                        Advanced
                                        <i ng-show="!showAdvanced"
                                           class="oam-ds-icon-sm-chevron-down"></i>
                                        <i ng-show="showAdvanced"
                                           class="oam-ds-icon-sm-chevron-up"></i>
                                    </h3>
                                    <p>Advanced task information and editing options</p>
                                </div>
                                <div ng-show="showAdvanced">
                                    <div>
                                        <h6 class="heading-alt">Details</h6>
                                        <dl class="dl-horizontal">
                                            <dt>ID</dt>
                                            <dd>#{{ projectCtrl.selectedTaskData.taskId }}</dd>
                                            <dt>Status</dt>
                                            <dd>{{ projectCtrl.selectedTaskData.taskStatus }}</dd>
                                            <dt>Locked</dt>
                                            <dd>{{ projectCtrl.selectedTaskData.taskLocked }}</dd>
                                            <dt>Difficulty</dt>
                                            <dd>TODO</dd>
                                            <dt>Addisgned</dt>
                                            <dd>TODO</dd>
                                        </dl>
                                    </div>
                                    <div ng-init="showHistory=false" class="panel-white-round-corners">
                                        <h6 class="heading-alt" ng-click="showHistory=!showHistory">History <i
                                                ng-show="!showHistory"
                                                class="oam-ds-icon-sm-chevron-down"></i>
                                            <i ng-show="showHistory"
                                               class="oam-ds-icon-sm-chevron-up"></i></h6>
                                        <div class="historyItem" ng-show="showHistory"
                                             ng-repeat="item in projectCtrl.selectedTaskData.taskHistory | orderBy: '-actionDate' track by $index"
                                             ng-class-odd="odd" ng-class-even="even">
                                            <div>
                                                <span ng-show="item.action === 'COMMENT'">Comment left by TODO</span>
                                                <span ng-show="item.action === 'LOCKED'">Locked by TODO</span>
                                                <span ng-show="item.action === 'STATE_CHANGE' && item.actionText === 'BADIMAGERY'">Marked as bad imagery by TODO</span>
                                                <span ng-show="item.action === 'STATE_CHANGE' && item.actionText === 'DONE'">Marked done by TODO</span>
                                                <span ng-show="item.action === 'STATE_CHANGE' && item.actionText === 'VALIDATED'">Validated by TODO</span>
                                                <span ng-show="item.action === 'STATE_CHANGE' && item.actionText === 'INVALIDATED'">Invalidated by TODO</span>
                                            </div>
                                            <div>
                                                <span ng-show="item.action === 'COMMENT'">{{ item.actionText }}</span>
                                            </div>
                                            <div>
                                                <span am-time-ago=item.actionDate></span>
                                                <span ng-show="item.action === 'LOCKED'"> for {{ item.actionText |  amDurationFormat : 'minute'}} </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <h6 class="heading-alt">Options</h6>
                                        <button class="button button--achromic button--small">
                                            Preview task in OSM ID Editor
                                        </button>
                                        <button class="button button--achromic button--small">
                                            View OSM changesets
                                        </button>
                                        <button class="button button--achromic button--small">
                                            View changes in overpass turbo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="map-container"></div>
        </div>
    </section>
</div>
