<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    Activity and Stats (TODO)
                </h1>
                <a ng-href="/project/{{ projectDashboardCtrl.project.id }}"
                   class="heading-alt">{{ projectDashboardCtrl.project.name }}
                </a>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <div class="dashboard-container">
                        <div class="left">
                            <h2>Last activity (TODO)</h2>
                            <div class="content">
                                <div ng-repeat="item in projectDashboardCtrl.projectActivity | orderBy: '-timeStamp'">
                                <span>
                                    <a ng-href="/user/{{ item.username }}">{{ item.username }}</a>
                                    marked {{ item.taskId }}
                                    as {{ item.status }}
                                </span>
                                    <p>
                                        <em am-time-ago="item.timeStamp | amUtc | amLocal"></em>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <h2>Contributions (TODO)</h2>
                            <div class="content">
                                <p ng-show="!projectDashboardCtrl.projectContributions.length > 0">No contributions (yet).</p>
                                <table ng-show="projectDashboardCtrl.projectContributions.length > 0" class="table table-dashboard-comments">
                                    <thead>
                                        <tr>
                                            <th>User</th>
                                            <th>Mapped</th>
                                            <th>Validated</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in projectDashboardCtrl.projectContributions | orderBy: '-mapped'">
                                            <td><a ng-href="/user/{{ item.username }}">{{ item.username }}</a></td>
                                            <td>{{ item.mapped }}</td>
                                            <td>{{ item.validated }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <div class="dashboard-container">
                        <h2>Stats</h2>
                        <div class="left">
                            <div class="section__project-dashboard--stats">
                                <span class="label">{{ projectDashboardCtrl.project.percentMapped }}% mapped</span>
                                <uib-progressbar value="projectDashboardCtrl.project.percentMapped"></uib-progressbar>
                                <span class="label">{{ projectDashboardCtrl.project.percentValidated }}% validated</span>
                                <uib-progressbar value="projectDashboardCtrl.project.percentValidated"></uib-progressbar>
                            </div>
                        </div>
                        <div class="right">
                            <div id="map" class="map-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <h2>Comments by users</h2>
                      <h6 class="heading-alt">{{ projectDashboardCtrl.selectedProject.name }}</h6>
                    <div ng-show="projectDashboardCtrl.projectComments.length < 1">
                        No comments for this project.
                    </div>
                    <div ng-show="projectDashboardCtrl.projectComments.length > 0">
                        <table class="table table-dashboard-comments">
                            <thead>
                                <tr>
                                    <th>Comment</th>
                                    <th>When</th>
                                    <th>By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="comment in projectDashboardCtrl.projectComments | orderBy: '-commentDate'">
                                    <td>{{ comment.comment }}</td>
                                    <td><span am-time-ago="comment.commentDate | amUtc | amLocal"></span></td>
                                    <td><a href="/user/{{ comment.userName }}" target="_blank">{{ comment.userName }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>