<div class="inner">
    <section class="section">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    {{ projectCtrl.project.projectName }}
                </h1>
            </div>
        </header>
        <div class="create-project">
            <div class="sidebar">
                <div class="button-group button-group--horizontal" role="group" aria-label="...">
                  <button ng-click="projectCtrl.currentTab = 'description'" class="button button--achromic" type="button" ng-class="projectCtrl.currentTab == 'description'? 'button--active':''">Description</button>
                  <button ng-click="projectCtrl.currentTab = 'instructions'" class="button button--achromic" type="button" ng-class="projectCtrl.currentTab == 'instructions'? 'button--active':''">Instructions</button>
                  <button  ng-click="projectCtrl.currentTab = 'mapping'"class="button button--achromic" type="button" ng-class="projectCtrl.currentTab == 'mapping'? 'button--active':''">*Mapping*</button>
                </div>
                <div ng-show="projectCtrl.currentTab === 'description'">
                    <h3>Description</h3>
                    <p>some text</p>
                    <button class="button button--secondary" ng-click="projectCtrl.currentTab = 'instructions'">Instructions</button>
                </div>
                <div ng-show="projectCtrl.currentTab === 'instructions'">
                    <h3>Instructions</h3>
                    <button class="button button--secondary" ng-click="projectCtrl.currentTab = 'mapping'">Mapping</button>
                </div>
                <div ng-show="projectCtrl.currentTab === 'mapping'">
                    <h3>*Mapping*</h3>
                    <button class="button button--secondary">Start Mapping</button>
                </div>
            </div>
            <div id="map" class="map-container"></div>
        </div>
    </section>
</div>
