<a href id="popup-closer" class="ol-popup-closer" ng-click="mapPopupCtrl.close()"></a>
<div id="popup-content">
    <div>
        <h4 ng-show="mapPopupCtrl.projectDetails.projectId">
            # {{ mapPopupCtrl.projectDetails.projectId }} -
            <a href="/project/{{ mapPopupCtrl.projectDetails.projectId }}"> {{ mapPopupCtrl.projectDetails.projectName }}</a>
        </h4>
        <ul>
            <li ng-show="mapPopupCtrl.projectDetails.mapperLevel">
                <strong>Mapper level: </strong>
                <span ng-show="mapPopupCtrl.projectDetails.mapperLevel === 'BEGINNER'">Beginner</span>
                <span ng-show="mapPopupCtrl.projectDetails.mapperLevel === 'INTERMEDIATE'">Intermediate</span>
                <span ng-show="mapPopupCtrl.projectDetails.mapperLevel === 'ADVANCED'">Advanced</span>
            </li>
            <li ng-show="mapPopupCtrl.projectDetails.organisationTag">
                <strong>Organisation: </strong>{{ mapPopupCtrl.projectDetails.organisationTag }}
            </li>
            <li ng-show="mapPopupCtrl.projectDetails.percentMapped">
                <strong>Mapped: </strong>{{ mapPopupCtrl.projectDetails.percentMapped }}%
            </li>
            <li ng-show="mapPopupCtrl.projectDetails.percentValidated">
                <strong>Validated: </strong>{{ mapPopupCtrl.projectDetails.percentValidated }}%
            </li>
        </ul>
        <p ng-show="mapPopupCtrl.projectDetails.projectStatus">
            <strong>{{ 'Status' | translate }}: </strong>
            <span ng-show="mapPopupCtrl.projectDetails.projectStatus === 'ARCHIVED'">
                {{ 'Archived' | translate }}
            </span>
            <span ng-show="mapPopupCtrl.projectDetails.projectStatus === 'DRAFT'">
                {{ 'Draft' | translate }}
            </span>
            <span ng-show="mapPopupCtrl.projectDetails.projectStatus === 'PUBLISHED'">
                {{ 'Published' | translate }}
            </span>
        </p>
        <div><strong>Short Description:</strong></div>
        <div class="popup-short-desc">
            <p markdown-to-html="mapPopupCtrl.projectDetails.shortDescription">
        </div>
        </p>
    </div>
</div>