<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <h1 class="section__title">
                    {{ 'Edit Mapping-issue Category' | translate }}
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner">
                    <div class="pull-right padding-at-bottom">
                        <button class="button button--outline" type="button"
                                ng-show="!mappingIssueCategoriesEditCtrl.category.archived"
                                ng-click="mappingIssueCategoriesEditCtrl.archive()">
                            {{ 'Archive' | translate }}
                        </button>
                        <button class="button button--outline" type="button"
                                ng-show="mappingIssueCategoriesEditCtrl.category.archived"
                                ng-click="mappingIssueCategoriesEditCtrl.unarchive()">
                            {{ 'Unarchive' | translate }}
                        </button>
                        <button class="button button--outline" type="button"
                                ng-click="mappingIssueCategoriesEditCtrl.delete()">
                            {{ 'Delete' | translate }}
                        </button>
                    </div>
                    <div class="clearfix"></div>

                    <form class="form" ng-hide="!mappingIssueCategoriesEditCtrl.isNew && !mappingIssueCategoriesEditCtrl.isCategoryFound">
                        <ul class="form__standard">
                            <li>
                                <label class="form__label" for="form-name">{{ 'Name' | translate }}*</label>
                                <input type="text" class="form__control form__control--medium" id="form-name"
                                       ng-model="mappingIssueCategoriesEditCtrl.category.name"
                                       name="form-name" placeholder="{{ 'Enter a name for the category' | translate }}"/>
                            </li>
                            <li>
                                <label class="form__label" for="form-description">{{ 'Short Description' | translate }}*</label>
                                <input type="text" class="form__control form__control--medium" id="form-description"
                                       ng-model="mappingIssueCategoriesEditCtrl.category.description"
                                       name="form-name" placeholder="{{ 'Enter a short description of the category' | translate }}"/>
                            </li>
                        </ul>
                        <div ng-show="!mappingIssueCategoriesEditCtrl.isNew">
                            <button class="button" type="button"
                                    ng-click="mappingIssueCategoriesEditCtrl.saveEdits()">
                                {{ 'Save edits' | translate }}
                            </button>
                            <button class="button button--achromic button--secondary" type="button"
                                    ng-click="mappingIssueCategoriesEditCtrl.cancel()">
                                {{ 'Cancel' | translate }}
                            </button>
                        </div>
                        <div ng-show="mappingIssueCategoriesEditCtrl.isNew">
                            <button class="button" type="button"
                                    ng-click="mappingIssueCategoriesEditCtrl.createNewMappingIssueCategory()">
                                {{ 'Create new category' | translate }}
                            </button>
                            <button class="button button--achromic button--secondary" type="button"
                                    ng-click="mappingIssueCategoriesEditCtrl.cancel()">
                                {{ 'Cancel' | translate }}
                            </button>
                        </div>
                    </form>
                    <div>
                        <div class="error error--below" ng-show="!mappingIssueCategoriesEditCtrl.isNew && !mappingIssueCategoriesEditCtrl.isCategoryFound">
                            <p>{{ 'No category found.' | translate }}</p>
                            <button class="button button--achromic" type="button" ng-click="mappingIssueCategoriesEditCtrl.cancel()">{{ 'Go back to category overview' | translate }}</button>
                        </div>
                        <div class="error error--below" ng-show="!mappingIssueCategoriesEditCtrl.isSaveEditsSuccessful">
                            <p>{{ 'Failed to save edits. Please try again.' | translate }}</p>
                        </div>
                        <div class="error error--below" ng-show="!mappingIssueCategoriesEditCtrl.isArchiveSuccessful">
                            <p>{{ 'Failed to archive/unarchive category. Please try again.' | translate }}</p>
                        </div>
                        <div class="error error--below" ng-show="!mappingIssueCategoriesEditCtrl.isDeleteSuccessful">
                            <p>{{ 'Failed to delete category. Note that categories cannot be deleted once in use, but must be archived instead' | translate }}</p>
                        </div>
                        <div class="error error--below" ng-show="!mappingIssueCategoriesEditCtrl.isCreateNewSuccessful">
                            <p>{{ 'Failed to create a new category. Please try again.' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
