<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <div class="section__header--left">
                    <h1 class="section__title">
                        {{ 'Mapping-issue Categories' | translate }}
                    </h1>
                </div>
                <button class="button button--primary pull-right" type="button"
                        ng-click="mappingIssueCategoriesCtrl.createNewMappingIssueCategory()">
                    {{ 'Create new category' | translate }}
                </button>
            </div>

            <div class="inner">
              <p>
                {{ 'Broad categories for classifying mapping issues noted during validation' | translate }}
              </p>
              <div class="padding-at-top padding-at-bottom">
                  <input type="checkbox" ng-click="mappingIssueCategoriesCtrl.toggleIncudeArchived()" />
                  <label>{{ 'Include Archived' | translate }}</label>
              </div>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner">
                    <table class="table table--zebra">
                        <thead>
                        <tr>
                            <th>{{ 'Name' | translate }}</th>
                            <th>{{ 'Description' | translate }}</th>
                            <th ng-if="mappingIssueCategoriesCtrl.includeArchived">{{ 'Archived' | translate }}</th>
                            <th>{{ 'Edit' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="category in mappingIssueCategoriesCtrl.issueCategories">
                                <td><strong>{{ category.name }}</strong></td>
                                <td>{{ category.description }}</td>
                                <td ng-if="mappingIssueCategoriesCtrl.includeArchived">
                                    <span class="fa fa-check" ng-show="category.archived"></span>
                                </td>
                                <td>
                                  <a href="/admin/mapping-issues/categories/edit/{{ category.categoryId }}">
                                    {{ 'Edit' | translate }}
                                  </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
