  <div class="drop drop--down drop--align-left drop--open">
      <div class="dropdown"
          ng-click="languageSwitchCtrl.toggleMenu($event)">
          <span>{{ languageSwitchCtrl.selectedLanguage }}</span>
          <i class="dropdown-arrow"></i>
      </div>
      <div ng-show="languageSwitchCtrl.showDropdown" class="drop__content">
          <ul class="drop__menu drop__menu--iconified" role="menu">
              <li ng-repeat="language in languageSwitchCtrl.availableLanguages">
                  <a class="drop__menu-item" ng-click="languageSwitchCtrl.switchLanguage(language)">
                      {{ language.language }}
                  </a>
              </li>
          </ul>
      </div>
  </div>
