<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    Edit project: # {{ editProjectCtrl.project.projectId }}
                </h1>
            </div>
        </header>
        <div class="section-container edit-project">
            <div class="section__body">
                <div class="inner">
                    <aside class="section__aside-content">
                        <h1 class="section__aside-title">In this area</h1>
                        <nav class="section__aside-nav" role="navigation">
                            <ul class="aside-menu">
                                <li>
                                    <a title="Edit description" ng-click="editProjectCtrl.currentSection = 'description'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'description' ? 'aside-menu-item--active' : ''">
                                    Description *
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit instructions" ng-click="editProjectCtrl.currentSection = 'instructions'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'instructions' ? 'aside-menu-item--active' : ''">
                                        Instructions *
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit tags" ng-click="editProjectCtrl.currentSection = 'metadata'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'metadata' ? 'aside-menu-item--active' : ''">
                                        Metadata
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit priority areas" ng-click="editProjectCtrl.currentSection = 'priorityareas'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'priorityareas' ? 'aside-menu-item--active' : ''">
                                        Priority areas
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit imagery" ng-click="editProjectCtrl.currentSection = 'imagery'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'imagery' ? 'aside-menu-item--active' : ''">
                                        Imagery
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit permissions" ng-click="editProjectCtrl.currentSection = 'permissions'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'permissions' ? 'aside-menu-item--active' : ''">
                                        Permissions
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit settings" ng-click="editProjectCtrl.currentSection = 'settings'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'settings' ? 'aside-menu-item--active' : ''">
                                        Settings
                                    </a>
                                </li>
                                <li>
                                    <a title="Edit settings" ng-click="editProjectCtrl.currentSection = 'actions'"
                                       class="aside-menu-item" ng-class="editProjectCtrl.currentSection === 'actions' ? 'aside-menu-item--active' : ''">
                                        Actions
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </aside>

                    <!-- section main content -->
                    <div class="section__main-content">
                        <form class="form" name="editProjectCtrl.editForm">
                        <!-- description section -->
                        <div ng-show="editProjectCtrl.currentSection === 'description'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">Status</label>
                                    <select class="form__control" ng-model="editProjectCtrl.project.projectStatus">
                                        <option value="PUBLISHED">Published</option>
                                        <option value="ARCHIVED">Archived</option>
                                        <option value="DRAFT">Draft</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Priority</label>
                                    <select class="form__control" ng-model="editProjectCtrl.project.projectPriority">
                                        <option value="URGENT">Urgent</option>
                                        <option value="HIGH">High</option>
                                        <option value="MEDIUM">Medium</option>
                                        <option value="LOW">Low</option>
                                    </select>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Name of the project *</label>
                                    <div class="button-group button-group--horizontal pull-right"
                                         ng-repeat="locale in editProjectCtrl.locales"
                                         role="group"
                                         aria-label="choose locale">
                                        <button class="button button--small button--achromic" type="button"
                                                ng-class="editProjectCtrl.nameLanguage === locale ? 'button--active' : ''"
                                                ng-click="editProjectCtrl.changeLanguageName(locale)">
                                                {{ locale }}
                                        </button>
                                    </div>
                                    <div ng-repeat="info in editProjectCtrl.project.projectInfoLocales">
                                        <div ng-show="info.locale === editProjectCtrl.nameLanguage">
                                            <input type="text" class="form__control"
                                                   name="name"
                                                   ng-model="info.name"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Short description *</label>
                                    <div class="button-group button-group--horizontal pull-right"
                                         ng-repeat="locale in editProjectCtrl.locales"
                                         role="group"
                                         aria-label="choose locale">
                                        <button class="button button--small button--achromic" type="button"
                                                ng-class="editProjectCtrl.shortDescriptionLanguage === locale ? 'button--active' : ''"
                                                ng-click="editProjectCtrl.changeLanguageShortDescription(locale)">
                                                {{ locale }}
                                        </button>
                                    </div>
                                    <div ng-repeat="info in editProjectCtrl.project.projectInfoLocales">
                                        <div ng-show="info.locale === editProjectCtrl.shortDescriptionLanguage">
                                            <textarea
                                                    class="form__control"
                                                    ng-model="info.shortDescription" rows="4">
                                            </textarea>
                                            <p><strong>Tip:</strong> You can use Markdown. (HTML is not allowed)</p>
                                            <button class="button button--secondary button--small"
                                                    ng-click="editProjectCtrl.showPreviewShortDescription = !editProjectCtrl.showPreviewShortDescription">
                                                Preview
                                            </button>
                                            <p ng-show="editProjectCtrl.showPreviewShortDescription" markdown-to-html="info.shortDescription"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Description *</label>
                                    <div class="button-group button-group--horizontal pull-right"
                                         ng-repeat="locale in editProjectCtrl.locales"
                                         role="group"
                                         aria-label="choose locale">
                                        <button class="button button--small button--achromic" type="button"
                                                ng-class="editProjectCtrl.descriptionLanguage === locale ? 'button--active' : ''"
                                                ng-click="editProjectCtrl.changeLanguageDescription(locale)">
                                                {{ locale }}
                                        </button>
                                    </div>
                                    <div ng-repeat="info in editProjectCtrl.project.projectInfoLocales">
                                        <div ng-show="info.locale === editProjectCtrl.descriptionLanguage">
                                            <textarea
                                                    class="form__control"
                                                    ng-model="info.description" rows="10">
                                            </textarea>
                                            <p><strong>Tip:</strong> You can use Markdown. (HTML is not allowed)</p>
                                            <button class="button button--secondary button--small"
                                                    ng-click="editProjectCtrl.showPreviewDescription = !editProjectCtrl.showPreviewDescription">
                                                Preview
                                            </button>
                                            <p ng-show="editProjectCtrl.showPreviewDescription"
                                               markdown-to-html="info.description"
                                               ng-model="editProjectCtrl.descriptionHTML">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--/ description section-->
                        <!-- instructions section -->
                        <div ng-show="editProjectCtrl.currentSection === 'instructions'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">Entities to map</label>
                                    <input type="text" class="form__control" ng-model="editProjectCtrl.project.entitiesToMap"/>
                                    <p>The list of entities to map.</p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Changeset comment</label>
                                    <input type="text" class="form__control" ng-model="editProjectCtrl.project.changesetComment"/>
                                    <p>
                                        Default comments added to uploaded changeset comment field. Users should
                                        also be encouraged to add text describing what they mapped. Example defaults:
                                        "#hotosm-guinea-project-470 #missingmaps". Hashtags are sometimes used
                                        for analysis later, but should be human informative and not overused, #group
                                        #event for example.
                                    </p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Detailed instructions *</label>
                                    <div class="button-group button-group--horizontal pull-right"
                                         ng-repeat="locale in editProjectCtrl.locales"
                                         role="group"
                                         aria-label="choose locale">
                                        <button class="button button--small button--achromic" type="button"
                                                ng-class="editProjectCtrl.instructionsLanguage === locale ? 'button--active' : ''"
                                                ng-click="editProjectCtrl.changeLanguageInstructions(locale)">
                                                {{ locale }}
                                        </button>
                                    </div>
                                    <div ng-repeat="info in editProjectCtrl.project.projectInfoLocales">
                                        <div ng-show="info.locale === editProjectCtrl.instructionsLanguage">
                                            <textarea
                                                    class="form__control"
                                                    ng-model="info.instructions" rows="10">
                                            </textarea>
                                            <p><strong>Tip:</strong> You can use Markdown. (HTML is not allowed)</p>
                                            <button class="button button--secondary button--small"
                                                    ng-click="editProjectCtrl.showPreviewInstructions = !editProjectCtrl.showPreviewInstructions">
                                                Preview
                                            </button>
                                            <p ng-show="editProjectCtrl.showPreviewInstructions" markdown-to-html="info.instructions"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Per task instructions (optional) (TODO)</label>
                                    <textarea class="form__control" rows="4" ng-model="editProjectCtrl.project.taskInstructions"></textarea>
                                    <p><strong>Tip:</strong> You can use Markdown. (HTML is not allowed)</p>
                                    <div ng-show="editProjectCtrl.project.taskInstructions">
                                        <label class="form__label">Preview</label>
                                        <p markdown-to-html="editProjectCtrl.project.taskInstructions"></p>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--/ instructions section -->
                        <!-- metadata section -->
                        <div ng-show="editProjectCtrl.currentSection === 'metadata'">
                            <fieldset class="form__fieldset">
                                <p>Metadata and tags are used to allow users to find projects to work on and group projects.</p>
                                <div class="form__group">
                                    <label class="form__label">Mapper level</label>
                                    <div class="button-group button-group--horizontal" role="group"
                                         aria-label="choose level mapping">
                                        <button class="button button--achromic" type="button"
                                                ng-class="editProjectCtrl.project.mapperLevel === 'BEGINNER'? 'button--active' : ''"
                                                ng-click="editProjectCtrl.setMapperLevel('BEGINNER')">
                                            Beginner
                                        </button>
                                        <button class="button button--achromic" type="button"
                                                ng-class="editProjectCtrl.project.mapperLevel === 'INTERMEDIATE'? 'button--active' : ''"
                                                ng-click="editProjectCtrl.setMapperLevel('INTERMEDIATE')">
                                            Intermediate
                                        </button>
                                        <button class="button button--achromic" type="button"
                                                ng-class="editProjectCtrl.project.mapperLevel === 'ADVANCED'? 'button--active' : ''"
                                                ng-click="editProjectCtrl.setMapperLevel('ADVANCED')">
                                            Advanced
                                        </button>
                                    </div>
                                    <p>Setting the level will help the mappers find suitable projects to work
                                        on. You can enforce the level required for mapping in the permissions section.</p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Type(s) of mapping</label>
                                    <label class="form__option">
                                        <input type="checkbox" ng-model="editProjectCtrl.mappingTypes.roads"/>Roads
                                    </label>
                                    <label class="form__option">
                                        <input type="checkbox" ng-model="editProjectCtrl.mappingTypes.buildings"/>Buildings
                                    </label>
                                    <label class="form__option">
                                        <input type="checkbox" ng-model="editProjectCtrl.mappingTypes.waterways"/>Waterways
                                    </label>
                                    <label class="form__option">
                                        <input type="checkbox" ng-model="editProjectCtrl.mappingTypes.landuse"/>Land use
                                    </label>
                                    <label class="form__option">
                                        <input type="checkbox" ng-model="editProjectCtrl.mappingTypes.other"/>Other
                                    </label>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Organisation tag</label>
                                    <p>Only one organisation tag is allowed.</p>
                                    <tags-input ng-model="editProjectCtrl.projectOrganisationTag"
                                        name="organisationTag" placeholder="choose from existing tags or create a new one"
                                        replace-spaces-with-dashes="false" max-tags="1">
                                        <auto-complete source="editProjectCtrl.getOrganisationTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Campaign tag</label>
                                    <p>Only one campaign tag is allowed.</p>
                                    <tags-input ng-model="editProjectCtrl.projectCampaignTag"
                                        name="campaignTag" placeholder="choose from existing tags or create a new one"
                                                replace-spaces-with-dashes="false" max-tags="1">
                                        <auto-complete source="editProjectCtrl.getCampaignTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </fieldset>
                        </div>
                        <!--/ metadata section -->
                        <!-- imagery section -->
                        <div ng-show="editProjectCtrl.currentSection === 'imagery'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">URL to service</label>
                                    <input type="text" class="form__control form__control--medium"
                                           name="imagery"
                                        ng-model="editProjectCtrl.project.imagery"/>
                                    <p>Note: follow this format for TMS URLs: tms[22]:http://hiu-maps.net/hot/1.0.0/kathmandu_flipped/{zoom}/{x}/{y}.png</p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Required license</label>
                                    <select class="form__control form__control--medium"
                                            ng-options="license.name for license in editProjectCtrl.licenses"
                                            ng-model="editProjectCtrl.projectLicense">
                                         <option value="">-- no license --</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                        <!--/ imagery section -->
                        <!-- priority area section -->
                        <div ng-show="editProjectCtrl.currentSection === 'priorityareas'">
                            TODO
                            <p>{{ editProjectCtrl.numberOfPriorityAreas }} priority areas</p>
                            <div>
                                <p>If you want mappers to work on the highest priorty areas first, draw one of more polygons within the project area. </p>
                            </div>
                            <div class="button-group button-group--horizontal" role="group" aria-label="priority draw tools">
                                <button class="button button--achromic"
                                        ng-class="editProjectCtrl.drawPolygonInteraction.getActive() ? 'button--active' : ''"
                                        ng-click="editProjectCtrl.drawPriorityPolygon()">Draw polygon</button>
                                <button class="button button--achromic"
                                        ng-class="editProjectCtrl.drawRectangleInteraction.getActive() ? 'button--active' : ''"
                                        ng-click="editProjectCtrl.drawPriorityRectangle()">Draw rectangle</button>
                                <button class="button button--achromic"
                                        ng-class="editProjectCtrl.drawCircleInteraction.getActive() ? 'button--active' : ''"
                                        ng-click="editProjectCtrl.drawPriorityCircle()">Draw circle</button>
                                <button class="button button--achromic"
                                        ng-class="editProjectCtrl.editPriority ? 'button--active' : ''"
                                        ng-click="editProjectCtrl.editPriorityArea()">Edit</button>
                                <button class="button button--achromic"
                                        ng-class="editProjectCtrl.deletePriority ? 'button--active' : ''"
                                        ng-click="editProjectCtrl.deletePriorityArea()">Delete</button>
                                <button class="button button--base"
                                        ng-click="editProjectCtrl.clearAllPriorityAreas()">Clear all</button>
                            </div>
                            <div id="map" class="map-container"></div>
                        </div>
                        <!--/ priority area section -->
                        <!-- permissions -->
                        <div ng-show="editProjectCtrl.currentSection === 'permissions'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">Mapper level</label>
                                    <label class="form__option">
                                        <input ng-model="editProjectCtrl.project.enforceMapperLevel" type="checkbox"/>Only mappers with level {{ editProjectCtrl.project.mapperLevel }} or higher can map
                                    </label>
                                    <p>If checked, only users with the experienced mapper role will be able to
                                        contribute tot the current project. If not, anyone can.
                                        Go to metadata to change the level.
                                    </p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Validator level</label>
                                    <label class="form__option">
                                        <input ng-model="editProjectCtrl.project.enforceValidatorRole" type="checkbox"/>Only validators can validate
                                    </label>
                                    <p>If checked, only users with the validator role will be able to (in)validate
                                        tasks for the current project. If not, anyone can.</p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Private project</label>
                                    <label class="form__option">
                                        <input ng-model="editProjectCtrl.project.private" type="checkbox" ng-click="editProjectCtrl.onPrivateChange()"/>Private
                                    </label>
                                    <p>Private means that only a given list of users can access this project. In
                                        order for the user's name to be available to add to the Allowed Users - they
                                        first must visit the URL for your instance of OSMTM and Authorize access to
                                        their OpenStreetMap account. After they've done this, their username should be
                                        available for the administrator to add.
                                    </p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Allowed users on private project</label>
                                    <ul>
                                        <li ng-repeat="user in editProjectCtrl.project.allowedUsernames">
                                            {{ user }} <i class="hot-ds-icon-sm-xmark" ng-click="editProjectCtrl.removeUser(user)"></i>
                                        </li>
                                    </ul>
                                    <div class="form__input-group">
                                        <input type="text" ng-model="user" placeholder="Type a username"
                                               ng-change="editProjectCtrl.enableAddUser(false)"
                                           class="form__control form__control--medium"
                                           uib-typeahead="user for user in editProjectCtrl.getUser($viewValue)"
                                           typeahead-loading="loadingLocations"
                                           typeahead-no-results="noResults"
                                           typeahead-on-select="editProjectCtrl.enableAddUser(true)">
                                        <span class="form__input-group-button">
                                            <button type="submit" class="button button--achromic button--medium"
                                                    ng-click="editProjectCtrl.addUser(user)"
                                                   ng-class="!editProjectCtrl.project.private || !editProjectCtrl.addUserEnabled ? 'disabled' : ''">
                                                <span>Add user</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <!--/ permissions -->
                        <!-- settings -->
                        <div ng-show="editProjectCtrl.currentSection === 'settings'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">Default locale</label>
                                    <div class="button-group button-group--horizontal pull-right"
                                         ng-repeat="locale in editProjectCtrl.locales"
                                         role="group"
                                         aria-label="choose default locale">
                                        <button class="button button--small button--achromic" type="button"
                                                ng-class="editProjectCtrl.project.defaultLocale === locale ? 'button--active' : ''"
                                                ng-click="editProjectCtrl.changeDefaultLocale(locale)">
                                                {{ locale }}
                                        </button>
                                    </div>
                                </div>
                                <!-- hide project due date and JOSM preset for now -->
                                <!--<div class="form__group">
                                    <label class="form__label">Project due date (dd/mm/yyyy)</label>
                                    <div class="form__input-group">
                                        <input type="date" class="form__control form__control--medium"
                                               placeholder="dd/mm/yyyy"
                                               ng-model="editProjectCtrl.project.dueDate"
                                               name="dueDate">
                                    </div>
                                    <p>The date after which the project will automatically be archived.</p>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">JOSM preset</label>
                                    <input type="file" class="form__control" fileread="editProjectCtrl.josmPreset"/>
                                    <p ng-show="editProjectCtrl.project.josmPreset">
                                        A JOSM Preset has already been added to this project.
                                    </p>
                                </div>-->
                            </fieldset>
                        </div>
                            <!--/ settings -->
                            <!-- settings -->
                        <div ng-show="editProjectCtrl.currentSection === 'actions'">
                            <fieldset class="form__fieldset">
                                <div class="form__group">
                                    <label class="form__label">Message all contributors (TODO)</label>
                                    <div>
                                        <button class="button button--secondary" type="button">Message all contributors</button>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">(In)validation</label>
                                    <p>Use this if for some
                                        reason you need to (in)validate all tasks in a single step.</p>
                                    <div class="alert alert--warning" role="alert">
                                        <p><strong>Warning:</strong> This cannot be undone.</p>
                                    </div>
                                    <button class="button button--secondary" type="button"
                                        ng-click="editProjectCtrl.showInvalidateConfirmation(true)">
                                        Invalidate all tasks
                                    </button>
                                    <button class="button button--secondary" type="button"
                                        ng-click="editProjectCtrl.showValidateConfirmation(true)">
                                        Validate all tasks
                                    </button>
                                </div>
                                <div class="form__group">
                                    <label class="form__label">Delete project</label>
                                    <p>You can only delete projects with no contributions.</p>
                                    <div class="alert alert--warning" role="alert">
                                        <p><strong>Warning:</strong> This cannot be undone.</p>
                                    </div>
                                    <button class="button button--secondary" type="button"
                                            ng-click="editProjectCtrl.showDeleteConfirmation(true)">
                                        Delete project
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                            <!--/ settings -->
                            <div class="pull-right">
                                <div class="form__group">
                                    <a class="button button--achromic" role="button"
                                       href="/project/{{ editProjectCtrl.project.projectId }}">
                                        Go to project
                                    </a>
                                </div>
                            </div>
                            <div ng-show="editProjectCtrl.currentSection !== 'actions'">
                                <div class="pull-right">
                                    <div class="form__group">
                                        <button class="button button--primary" type="button"
                                                ng-click="editProjectCtrl.saveEdits()">Save changes
                                        </button>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <div class="form__group">
                                        <p ng-show="editProjectCtrl.updateProjectSuccess">Your project has been updated successfully.</p>
                                        <p class="error" ng-show="editProjectCtrl.updateProjectFail">There was an error updating your project. Please try again.</p>
                                    </div>
                                </div>
                                <div class="error">
                                    <p ng-show="editProjectCtrl.nameMissing">
                                        A name for the default locale "{{ editProjectCtrl.project.defaultLocale }}" is missing.
                                    </p>
                                    <p ng-show="editProjectCtrl.shortDescriptionMissing">
                                        A short description for the default locale "{{ editProjectCtrl.project.defaultLocale }}" is missing.
                                    </p>
                                    <p ng-show="editProjectCtrl.descriptionMissing">
                                        A description for the default locale "{{ editProjectCtrl.project.defaultLocale }}" is missing.
                                    </p>
                                    <p ng-show="editProjectCtrl.instructionsMissing">
                                        Instructions for the default locale "{{ editProjectCtrl.project.defaultLocale }}" are missing.
                                    </p>
                                    <p ng-show="!editProjectCtrl.editForm.campaignTag.$valid">
                                        Please make sure you only have one campaign tag.
                                    </p>
                                    <p ng-show="!editProjectCtrl.editForm.organisationTag.$valid">
                                        Please make sure you only have one organisation tag.
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--/ section main content -->
        </div>
    </section>
</div>
<!-- delete project confirmation modal -->
<section class="modal modal-tm" ng-show="editProjectCtrl.showDeleteConfirmationModal">
    <div class="modal__inner">
        <header class="modal__header">
            <div class="modal__headline">
                <h1 class="modal__title">Delete project</h1>
            </div>
        </header>
        <div class="modal__body">
            <p ng-hide="editProjectCtrl.deleteProjectSuccess">
                Are you sure you want to delete this project? You cannot undo deleting a project.
            </p>
            <p ng-show="editProjectCtrl.deleteProjectSuccess">The project was deleted successfully.</p>
            <p ng-show="editProjectCtrl.deleteProjectFail" class="error">The project was not deleted successfully. This project might have some contributions.</p>
        </div>
        <footer class="modal__footer">
            <div ng-hide="editProjectCtrl.deleteProjectSuccess">
                <button class="button button--achromic" type="button"
                        ng-click="editProjectCtrl.showDeleteConfirmation(false)">Cancel
                </button>
                <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.deleteProject()">Delete
                </button>
            </div>
            <div ng-show="editProjectCtrl.deleteProjectSuccess">
                 <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.goToHome()">Go to the homepage
                </button>
            </div>
        </footer>
    </div>`
    <button class="modal__button-dismiss" title="Close" ng-click="editProjectCtrl.showDeleteConfirmation(false)">
        Dismiss
    </button>
</section>
<!-- delete project confirmation modal -->

<!-- invalidate tasks confirmation modal -->
<section class="modal modal-tm" ng-show="editProjectCtrl.showInvalidateConfirmationModal">
    <div class="modal__inner">
        <header class="modal__header">
            <div class="modal__headline">
                <h1 class="modal__title">Task invalidation</h1>
            </div>
        </header>
        <div class="modal__body">
            <div ng-hide="editProjectCtrl.invalidateTasksSuccess">
                <p>
                    Are you sure you want to invalidate all tasks? You cannot undo this.
                </p>
                <p>
                    This will mark all tasks (except 'ready' and 'bad imagery' tasks) as invalid. Please use this only if you are sure
                    of what you are doing.
                </p>
            </div>
            <p ng-show="editProjectCtrl.invalidateTasksSuccess">
                The tasks were invalidated successfully.
            </p>
            <p ng-show="editProjectCtrl.invalidateTasksFail" class="error">
                The tasks were not invalidated successfully.
            </p>
        </div>
        <footer class="modal__footer">
            <div ng-hide="editProjectCtrl.invalidateTasksSuccess">
                <button class="button button--achromic" type="button"
                        ng-click="editProjectCtrl.showInvalidateConfirmation(false)">Cancel
                </button>
                <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.invalidateAllTasks()">Invalidate all tasks
                </button>
                <span ng-show="editProjectCtrl.invalidateInProgress">Invalidating...</span>
            </div>
            <div ng-show="editProjectCtrl.invalidateTasksSuccess">
                 <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.showInvalidateConfirmation(false)">Close message
                </button>
            </div>
        </footer>
    </div>
    <button class="modal__button-dismiss" title="Close" ng-click="editProjectCtrl.showInvalidateConfirmation(false)">
        Dismiss
    </button>
</section>
<!-- invalidate tasks confirmation modal -->

<!-- validate tasks confirmation modal -->
<section class="modal modal-tm" ng-show="editProjectCtrl.showValidateConfirmationModal">
    <div class="modal__inner">
        <header class="modal__header">
            <div class="modal__headline">
                <h1 class="modal__title">Task validation</h1>
            </div>
        </header>
        <div class="modal__body">
            <div ng-hide="editProjectCtrl.validateTasksSuccess">
                <p>
                    Are you sure you want to validate all tasks? You cannot undo this.
                </p>
                <p>
                    This will mark all tasks (except 'bad imagery') as valid. Please use this only if you are sure of what you are doing.
                </p>
            </div>
            <p ng-show="editProjectCtrl.validateTasksSuccess">
                The tasks were marked validated successfully.
            </p>
            <p ng-show="editProjectCtrl.validateTasksFail" class="error">
                The tasks were not marked validated successfully.
            </p>
        </div>
        <footer class="modal__footer">
            <div ng-hide="editProjectCtrl.validateTasksSuccess">
                <button class="button button--achromic" type="button"
                        ng-click="editProjectCtrl.showValidateConfirmation(false)">Cancel
                </button>
                <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.validateAllTasks()">Validate all tasks
                </button>
                <span ng-show="editProjectCtrl.validateInProgress">Validating...</span>
            </div>
            <div ng-show="editProjectCtrl.validateTasksSuccess">
                 <button class="button button--base" type="button"
                        ng-click="editProjectCtrl.showValidateConfirmation(false)">Close message
                </button>
            </div>
        </footer>
    </div>
    <button class="modal__button-dismiss" title="Close" ng-click="editProjectCtrl.showValidateConfirmation(false)">
        Dismiss
    </button>
</section>
<!-- validate tasks confirmation modal -->