<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <h1 class="section__title">
                    {{ 'Users' | translate }}
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner users-container">
                      <div class="search-container">
                            <h3>{{ 'Search Users' | translate }}</h3>
                            <form class="form">
                                <fieldset>
                                    <div class="form__group list-type--none search-option">
                                        <label class="form__label">{{ 'Role' | translate }}</label>
                                        <ul>
                                            <li>
                                                <label class="form__option form__option--radio">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.role value="" />
                                                    <span>{{ 'All' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="form__option form__option--radio">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.role value="MAPPER" />
                                                    <span>{{ 'Mapper' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                 <label class="form__option form__option--radio">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.role value="VALIDATOR" />
                                                    <span>{{ 'Validator' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                 <label class="form__option form__option--radio">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.role value="PROJECT_MANAGER" />
                                                    <span>{{ 'Project Manager' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                 <label class="form__option form__option--radio">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.role value="ADMIN" />
                                                    <span>{{ 'Admin' | translate }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form__group list-type--none search-option">
                                        <label class="form__label">{{ 'Mapping level' | translate }}</label>
                                        <ul>
                                            <li>
                                                <label class="form__option">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.level value="" />
                                                    <span>{{ 'All' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                <label class="form__option">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.level value="BEGINNER" />
                                                    <span>{{ 'Beginner' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                 <label class="form__option">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.level value="INTERMEDIATE" />
                                                    <span>{{ 'Intermediate' | translate }}</span>
                                                </label>
                                            </li>
                                            <li>
                                                 <label class="form__option">
                                                    <input ng-click="usersCtrl.searchUsers()"
                                                            type="radio" name="form-radio" ng-model=usersCtrl.level value="ADVANCED" />
                                                    <span>{{ 'Advanced' | translate }}</span>
                                                </label>
                                            </li>
                                        </ul>
                                   </div>
                                   <div class="form__group search-option">
                                        <label class="form__label" for="form-name">{{ 'Username' | translate }}</label>
                                        <input type="text" class="form__control "
                                               placeholder="{{ 'Enter a username' | translate }}"
                                               ng-model="usersCtrl.username"
                                               ng-change="usersCtrl.searchUsers()"/>
                                   </div>
                              </fieldset>
                          </form>
                      </div>
                      <div class="results">
                          <div ng-show="usersCtrl.errorGetUsers" class="error">
                              {{ 'Error: cannot get user list' | translate }}
                          </div>
                          <div ng-show="!usersCtrl.errorGetUsers">
                              <div ng-show="usersCtrl.locale === 'en'">
                                  {{ 'Total number of users:' | translate }} {{ usersCtrl.pagination.total | number : fractionSize}}
                              </div>
                              <div ng-show="usersCtrl.locale !== 'en'">
                                  {{ 'Total number of users:' | translate }} {{ usersCtrl.pagination.total }}
                              </div>
                              <div ng-show="usersCtrl.users.length > 0">
                                  <div class="results-table-container">
                                      <table class="table">
                                          <thead>
                                          <tr>
                                              <th>{{ 'Username' | translate }}</th>
                                              <th>{{ 'Role' | translate }}</th>
                                              <th>{{ 'Mapping level' | translate }}</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          <tr ng-repeat="user in usersCtrl.users track by $index">
                                              <td><a href="/user/{{ user.username }}">{{ user.username }}</a></td>
                                              <td>{{ user.role }}</td>
                                              <td>{{ user.mappingLevel }}</td>
                                          </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <!-- Pagination -->
                                  <div class="paging" role="group"
                                       aria-label="{{ 'Navigate the results' | translate }}">
                                       <ul>
                                          <li class=""
                                                  ng-class="!usersCtrl.pagination.hasPrev ? 'disabled' : ''"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.prevNum)">
                                              {{ 'Previous' | translate }}
                                          </li>
                                          <li class=""
                                                  ng-show="(usersCtrl.pagination.prevNum || usersCtrl.pagination.page) != 1"
                                                  ng-class="usersCtrl.pagination.page === 1 ? 'disabled' : ''"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.lastNum)">
                                              1 min
                                          </li>
                                          <li class="disabled"
                                                  ng-show="usersCtrl.pagination.prevNum - 1 > 1">
                                              ...
                                          </li>
                                          <li class=""
                                                  ng-show="usersCtrl.pagination.prevNum"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.prevNum)">
                                              {{ usersCtrl.pagination.prevNum }}
                                          </li>
                                          <li class="button--active"
                                                  ng-show="usersCtrl.pagination.page">
                                              {{ usersCtrl.pagination.page }}
                                          </li>
                                          <li class=""
                                                  ng-show="usersCtrl.pagination.nextNum"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.nextNum)">
                                              {{ usersCtrl.pagination.nextNum }}
                                          </li>
                                          <li class="disabled"
                                                  ng-show="usersCtrl.pagination.pages - usersCtrl.pagination.page > 2">
                                              ...
                                          </li>
                                          <li class=""
                                                  ng-show="(usersCtrl.pagination.nextNum || usersCtrl.pagination.page) != usersCtrl.pagination.pages"
                                                  ng-class="usersCtrl.pagination.pages === usersCtrl.pagination.page ? 'disabled' : ''"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.pages)">
                                              {{ usersCtrl.pagination.pages }}
                                          </li>
                                          <li class=""
                                                  ng-class="!usersCtrl.pagination.hasNext ? 'disabled' : ''"
                                                  ng-click="usersCtrl.searchUsersWithPage(usersCtrl.pagination.nextNum)">
                                              {{ 'Next' | translate }}
                                          </li>
                                      </ul>
                                  </div>
                                  <!-- /Pagination -->
                              </div>

                          </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
