<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Barlow+Condensed:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-size: 14px;
      }

      body {
        font-family: "Archivo", sans-serif;
        width: 600px;
        line-height: 1.4;
        margin: 0;
        color: #2c3038;
      }

      p {
        margin: 0;
      }

      h1,
      h2,
      h3 {
        font-family: "Barlow Condensed", sans-serif;
      }

      button {
        font-family: inherit;
      }
    </style>
  </head>

  <body>
    <div style="padding: 0 2.357rem; margin-bottom: 3.428rem">
      <h1
        style="
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.714rem;
          line-height: 0.916;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          margin-bottom: 1.714rem;
          margin-top: 4rem;
        "
      >
        We haven&#39;t seen you in a while.
      </h1>
      <p style="margin-bottom: 1.714rem">
        We noticed that you haven&#39;t mapped any task with Tasking Manager
        yet. Need a little help to get started?<br /><br />How about exploring
        this list of projects we selected for you?
      </p>
      <div style="display: flex; flex-wrap: wrap; gap: 16px">
        <!-- card starts here -->
        <div
          style="
            border: 1px solid #ecebed;
            border-radius: 0px 2px 2px 2px;
            padding: 24px;
            flex: 30%;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.285rem;
              "
            >
              <img
                src="./assets/demo-logo.png"
                alt="logo of the organization"
                height="32"
              />
              <div>
                <p
                  style="
                    text-transform: uppercase;
                    padding: 5px 8px;
                    border: 1px solid #d73f3f;
                    border-radius: 2px;
                    font-size: 0.714rem;
                    color: #d73f3f;
                    line-height: 1.4;
                    font-weight: 500;
                  "
                >
                  Urgent
                </p>
              </div>
            </div>
            <p
              style="
                color: #68707f;
                font-weight: 12px;
                line-height: 10px;
                margin-bottom: 15px;
              "
            >
              #5660
            </p>
            <p
              style="
                font-size: 18px;
                line-height: 22.4px;
                font-weight: 700;
                margin-bottom: 16px;
              "
            >
              Response to the impact of Cyclone Idai in Mozambique
            </p>
            <div
              style="
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 10px;
                color: #68707f;
                font-weight: 500;
              "
            >
              <p>Disaster Response</p>
              <p>Response</p>
              <p>Disaster Response</p>
            </div>
          </div>
          <!-- card foot -->
          <div>
            <p
              style="
                color: #68707f;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 8px;
              "
            >
              Last contribution 16h ago
            </p>
            <div
              style="
                width: 100%;
                height: 8px;
                border-radius: 4px;
                background: #f0efef;
                position: relative;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  width: 83%;
                  height: 8px;
                  border-radius: 4px;
                  background-image: url(./assets/Mask.png);
                "
              ></div>
              <div
                style="
                  position: absolute;
                  left: 0;
                  background: #d73f3f;
                  width: 33%;
                  height: 8px;
                  border-radius: 4px;
                "
              ></div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                align-items: center;
              "
            >
              <p
                style="
                  color: #2c3038;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 13px;
                "
              >
                Beginner
              </p>
              <div
                style="
                  display: flex;
                  gap: 4px;
                  align-items: center;
                  background-color: #f0efef;
                  border-radius: 2px;
                  padding: 6px 8px;
                "
              >
                <img
                  src="./assets/clock-icon.png"
                  height="12"
                  width="12"
                  alt="clock icon"
                />
                <p style="font-size: 10px; color: #68707f; line-height: 1">
                  2 days left
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            border: 1px solid #ecebed;
            border-radius: 0px 2px 2px 2px;
            padding: 24px;
            flex: 30%;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.285rem;
              "
            >
              <img
                src="./assets/demo-logo.png"
                alt="logo of the organization"
                height="32"
              />
              <div>
                <p
                  style="
                    text-transform: uppercase;
                    padding: 5px 8px;
                    border: 1px solid #d73f3f;
                    border-radius: 2px;
                    font-size: 0.714rem;
                    color: #d73f3f;
                    line-height: 1.4;
                    font-weight: 500;
                  "
                >
                  Urgent
                </p>
              </div>
            </div>
            <p
              style="
                color: #68707f;
                font-weight: 12px;
                line-height: 10px;
                margin-bottom: 15px;
              "
            >
              #5660
            </p>
            <p
              style="
                font-size: 18px;
                line-height: 22.4px;
                font-weight: 700;
                margin-bottom: 16px;
              "
            >
              Response to the impact of Cyclone Idai in Mozambique
            </p>
            <div
              style="
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 10px;
                color: #68707f;
                font-weight: 500;
              "
            >
              <p>Disaster Response</p>
              <p>Response</p>
              <p>Disaster Response</p>
            </div>
          </div>
          <!-- card foot -->
          <div>
            <p
              style="
                color: #68707f;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 8px;
              "
            >
              Last contribution 16h ago
            </p>
            <div
              style="
                width: 100%;
                height: 8px;
                border-radius: 4px;
                background: #f0efef;
                position: relative;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  width: 83%;
                  height: 8px;
                  border-radius: 4px;
                  background-image: url(./assets/Mask.png);
                "
              ></div>
              <div
                style="
                  position: absolute;
                  left: 0;
                  background: #d73f3f;
                  width: 33%;
                  height: 8px;
                  border-radius: 4px;
                "
              ></div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                align-items: center;
              "
            >
              <p
                style="
                  color: #2c3038;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 13px;
                "
              >
                Beginner
              </p>
              <div
                style="
                  display: flex;
                  gap: 4px;
                  align-items: center;
                  background-color: #f0efef;
                  border-radius: 2px;
                  padding: 6px 8px;
                "
              >
                <img
                  src="./assets/clock-icon.png"
                  height="12"
                  width="12"
                  alt="clock icon"
                />
                <p style="font-size: 10px; color: #68707f; line-height: 1">
                  2 days left
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            border: 1px solid #ecebed;
            border-radius: 0px 2px 2px 2px;
            padding: 24px;
            flex: 30%;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.285rem;
              "
            >
              <img
                src="./assets/demo-logo.png"
                alt="logo of the organization"
                height="32"
              />
              <div>
                <p
                  style="
                    text-transform: uppercase;
                    padding: 5px 8px;
                    border: 1px solid #d73f3f;
                    border-radius: 2px;
                    font-size: 0.714rem;
                    color: #d73f3f;
                    line-height: 1.4;
                    font-weight: 500;
                  "
                >
                  Urgent
                </p>
              </div>
            </div>
            <p
              style="
                color: #68707f;
                font-weight: 12px;
                line-height: 10px;
                margin-bottom: 15px;
              "
            >
              #5660
            </p>
            <p
              style="
                font-size: 18px;
                line-height: 22.4px;
                font-weight: 700;
                margin-bottom: 16px;
              "
            >
              Response to the impact of Cyclone Idai in Mozambique
            </p>
            <div
              style="
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 10px;
                color: #68707f;
                font-weight: 500;
              "
            >
              <p>Disaster Response</p>
              <p>Response</p>
              <p>Disaster Response</p>
            </div>
          </div>
          <!-- card foot -->
          <div>
            <p
              style="
                color: #68707f;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 8px;
              "
            >
              Last contribution 16h ago
            </p>
            <div
              style="
                width: 100%;
                height: 8px;
                border-radius: 4px;
                background: #f0efef;
                position: relative;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  width: 83%;
                  height: 8px;
                  border-radius: 4px;
                  background-image: url(./assets/Mask.png);
                "
              ></div>
              <div
                style="
                  position: absolute;
                  left: 0;
                  background: #d73f3f;
                  width: 33%;
                  height: 8px;
                  border-radius: 4px;
                "
              ></div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                align-items: center;
              "
            >
              <p
                style="
                  color: #2c3038;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 13px;
                "
              >
                Beginner
              </p>
              <div
                style="
                  display: flex;
                  gap: 4px;
                  align-items: center;
                  background-color: #f0efef;
                  border-radius: 2px;
                  padding: 6px 8px;
                "
              >
                <img
                  src="./assets/clock-icon.png"
                  height="12"
                  width="12"
                  alt="clock icon"
                />
                <p style="font-size: 10px; color: #68707f; line-height: 1">
                  2 days left
                </p>
              </div>
            </div>
          </div>
        </div>
        <div
          style="
            border: 1px solid #ecebed;
            border-radius: 0px 2px 2px 2px;
            padding: 24px;
            flex: 30%;
            height: 370px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          "
        >
          <div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-bottom: 2.285rem;
              "
            >
              <img
                src="./assets/demo-logo.png"
                alt="logo of the organization"
                height="32"
              />
              <div>
                <p
                  style="
                    text-transform: uppercase;
                    padding: 5px 8px;
                    border: 1px solid #d73f3f;
                    border-radius: 2px;
                    font-size: 0.714rem;
                    color: #d73f3f;
                    line-height: 1.4;
                    font-weight: 500;
                  "
                >
                  Urgent
                </p>
              </div>
            </div>
            <p
              style="
                color: #68707f;
                font-weight: 12px;
                line-height: 10px;
                margin-bottom: 15px;
              "
            >
              #5660
            </p>
            <p
              style="
                font-size: 18px;
                line-height: 22.4px;
                font-weight: 700;
                margin-bottom: 16px;
              "
            >
              Response to the impact of Cyclone Idai in Mozambique
            </p>
            <div
              style="
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                font-size: 12px;
                line-height: 10px;
                color: #68707f;
                font-weight: 500;
              "
            >
              <p>Disaster Response</p>
              <p>Response</p>
              <p>Disaster Response</p>
            </div>
          </div>
          <!-- card foot -->
          <div>
            <p
              style="
                color: #68707f;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 8px;
              "
            >
              Last contribution 16h ago
            </p>
            <div
              style="
                width: 100%;
                height: 8px;
                border-radius: 4px;
                background: #f0efef;
                position: relative;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  width: 83%;
                  height: 8px;
                  border-radius: 4px;
                  background-image: url(./assets/Mask.png);
                "
              ></div>
              <div
                style="
                  position: absolute;
                  left: 0;
                  background: #d73f3f;
                  width: 33%;
                  height: 8px;
                  border-radius: 4px;
                "
              ></div>
            </div>
            <div
              style="
                display: flex;
                justify-content: space-between;
                margin-top: 4px;
                align-items: center;
              "
            >
              <p
                style="
                  color: #2c3038;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 13px;
                "
              >
                Beginner
              </p>
              <div
                style="
                  display: flex;
                  gap: 4px;
                  align-items: center;
                  background-color: #f0efef;
                  border-radius: 2px;
                  padding: 6px 8px;
                "
              >
                <img
                  src="./assets/clock-icon.png"
                  height="12"
                  width="12"
                  alt="clock icon"
                />
                <p style="font-size: 10px; color: #68707f; line-height: 1">
                  2 days left
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- card ends here -->
      </div>
    </div>
  </body>
</html>
