{% extends "base.html" %}
{% block content %}
<div style="padding: 0 2.357rem; margin-bottom: 3.428rem">
  {% if values["EMAIL_TYPE"]==1 %}
  <div>
    <h1 style="
          font-weight: 500;
          font-size: 1.714rem;
          line-height: 0.916;
          letter-spacing: 0.75px;
          margin-bottom: 1.114rem;
          margin-top: 4rem;
        ">
        Hi {{ values["USERNAME"] }}
    </h1>
    <p style="margin-bottom: 1.714rem; line-height: 1.5;">
      you recently participated in the mapping project -
      <a style="color: #d73f3f; font-weight: 700" href="{{values['APP_BASE_URL']}}/projects/{{values['PROJECT_ID']}}">{{values['PROJECT_NAME']}}</a> - on the
      <a style="color: #d73f3f; font-weight: 700" href="{{values['APP_BASE_URL']}}">{{values["ORG_CODE"]}} Tasking Manager</a>.
      We want to inform you the project has reached <span style=" font-weight: 700">{{ values["PROJECT_COMPLETION"] }}% </span> of completeness.
      <br> <br>
      Please login and help us to finish the project!
      <br>
      Thank you!
    </p>
  </div>
  {% elif values["EMAIL_TYPE"]==2 %}
    <div>
      <h1 style="
            font-weight: 500;
            font-size: 1.714rem;
            line-height: 0.916;
            letter-spacing: 0.75px;
            margin-bottom: 1.114rem;
            margin-top: 4rem;
          ">
          Hi {{ values["USERNAME"] }}
      </h1>
      <p style="margin-bottom: 1.714rem; line-height: 1.5;">
        you recently participated in the mapping project -
        <a style="color: #d73f3f; font-weight: 700" href="{{values['APP_BASE_URL']}}/projects/{{values['PROJECT_ID']}}">{{values['PROJECT_NAME']}}</a> - on the
        <a style="color: #d73f3f; font-weight: 700" href="{{values['APP_BASE_URL']}}">{{values["ORG_CODE"]}} Tasking Manager</a>.
        We want to inform you the project has been completed. It is time to celebrate!
        <br>
        Do you want to continue? Find the suitable project for you here: <a style="color: #d73f3f" href="{{values['APP_BASE_URL']}}/explore">{{values['APP_BASE_URL']}}/explore</a>
      </p>
    </div>
  {% elif values["EMAIL_TYPE"]==3 %}
    <div>
      <h1 style="
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.714rem;
            line-height: 0.916;
            letter-spacing: 0.75px;
            margin-bottom: 1.714rem;
            margin-top: 4rem;
          ">
        We haven&#39;t seen you in a while.
      </h1>
      <p style="margin-bottom: 1.714rem">
        We noticed that you haven&#39;t mapped any task with Tasking Manager
        yet. Need a little help to get started?<br /><br />How about exploring
        this list of projects we selected for you?
      </p>
    </div>
  {% endif %}
  {% if values["EMAIL_TYPE"] ==3 %}
    <div>
      <!-- card starts here -->
      <table aria-label=""> <!-- Noncompliant -->
        <thead>
          <th>
          </th>
        <thead>
        {% for projects in [values["PROJECTS"][:2], values["PROJECTS"][2:]] %}
        <tr>
          {% for project in projects %}
            <td style="
                margin-left: 16px;
                border: 1px solid #ecebed;
                border-radius: 0px 2px 2px 2px;
                padding: 24px;
                max-height: 370px;
                width: 200px;
                text-align: left;
                vertical-align: top;
                ">
            <a style="text-decoration: none;" href="{{ values['APP_BASE_URL'] }}/projects/{{ project.id }}" >
              <div class="card-content" style="margin-bottom: 3.7rem; justify-content: left;">
                <table
                  aria-label=""
                  style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; margin-bottom:2.285rem;"> <!-- Noncompliant -->
                  <th style="width:60%;">
                    <img style="text-decoration: none; font-weight: normal;"
                      src={{ project.org_logo }}
                      alt="logo of the organization" height="32"/>
                  </th>
                  <th
                    style="text-align:center; font-size:0.714rem; font-weight:500;line-height:1.4; width:40%;">
                    {% if project.priority == "URGENT" %}
                    <p style="
                            padding: 5px 8px;
                            border: 1px solid #d73f3f;
                            border-radius: 2px;
                            color: #d73f3f;
                            ">
                      {% elif project.priority == "HIGH" %}
                    <p style="
                            padding: 5px 8px;
                            border-radius: 2px;
                            border: 1px solid #faa71e;
                            color: #faa71e;">
                      {% elif project.priority == "MEDIUM" %}
                    <p style="
                            padding: 5px 8px;
                            border-radius: 2px;
                            border: 1px solid #929DB3;
                            color: #929DB3;">
                      {% elif project.priority == "LOW" %}
                    <p style="
                            padding: 5px 8px;
                            border-radius: 2px;
                            border: 1px solid #68707f;
                            color: #68707f;">
                      {% endif %}
                      {{ project.priority }}
                    </p>
                  </th>
                </table>
                <p style="
                      color: #68707f;
                      font-weight: 12px;
                      line-height: 10px;
                      margin-bottom: 15px;
                    ">
                  #{{project.id}}
                </p>
                <p style="
                      font-size: 18px;
                      line-height: 22.4px;
                      font-weight: 700;
                      margin-bottom: 16px;
                      color: #2c3038;
                      overflow-y: hidden;
                    ">
                  {{ project.name }}
                </p>
                <p style="
                      font-size: 12px;
                      line-height: 10px;
                      color: #68707f;
                      height: 65px;
                      font-weight: 500;
                      overflow-y: hidden;
                    ">
                  {{ project.description }}
                </p>
              </div>
              <div class="card-footer">
                <p style="
                        color: #68707f;
                        font-size: 12px;
                        line-height: 13px;
                        margin-bottom: 8px;
                      ">
                  <span style="font-weight: 700">{{ project.total_contributors }} </span>
                   total contributors
                </p>
                <div style="
                        width: 100%;
                        height: 8px;
                        border-radius: 4px;
                        background: #f0efef;
                        position: relative;
                      ">
                  <div style="
                          left: 0;
                          width: 83%;
                          height: 8px;
                          border-radius: 4px;
                        ">
                    <div style="
                            background: #d73f3f;
                            width: {{ project.progress }}%;
                            height: 8px;
                            border-radius: 4px;
                          ">
                    </div>
                  </div>
                </div>
                <table
                  aria-label=""
                  style="
                    margin-top: 4px;
                    align-items: center;
                    width: 100%;
                  "> <!-- Noncompliant -->
                  <th style="
                          color: #2c3038;
                          font-weight: 500;
                          font-size: 10px;
                          line-height: 13px;
                          max-width: 40%;
                        ">
                    {{ project.difficulty }}
                  </th>
                  <th style="
                          display: flex;
                          align-items: right;
                          background-color: #f0efef;
                          border-radius: 2px;
                          padding: 6px 8px;
                          max-width: 60%;
                          margin-left: 25%;
                        ">
                    <img
                      src="https://raw.githubusercontent.com/hotosm/tasking-manager/58c1c64687eba4d4b58724c78ac9bf206a20ddc4/backend/services/messaging/templates/assets/clock-icon.png"
                      height="12" width="12" alt="clock icon" />
                    <p style="font-size: 10px; color: #68707f; line-height: 1.1; margin-left: 3px;">
                      {% if project.due_date %}
                        {{ project.due_date}} days left
                      {% else %}
                        No expiry
                      {% endif %}
                    </p>
                  </th>
                </table>
              </div>
            </a>
          </td>
          {% if  loop.index ==1 %}
            <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">&nbsp;</td>
          {% endif %}
        {% endfor %}
        </tr>
        <tr>
          <td style="font-family: sans-serif; font-size: 3px; vertical-align: top;">&nbsp;</td>
        </tr>
        {% endfor %}
      </table>
      <!-- card ends here -->
    </div>
  {% endif %}
</div>
{% endblock %}
