{% extends "base.html" %}
{% block content %}
  {% if values['MESSAGE_TYPE'] == 3 %}
    <p style="font-size: 14px; font-weight: 600"><a style="color: #d73f3f" href="{{values['FROM_USER_LINK']}}">@{{values['FROM_USERNAME']}}</a> mentioned you in a comment on project <a style="color: #d73f3f" href="{{values['PROJECT_LINK']}}">{{values['PROJECT_NAME']}}</a>:</p>
  {% endif %}
  {% if values['MESSAGE_TYPE'] == 4 %}
    <p style="font-size: 14px; font-weight: 600">Task validated on project <a style="color: #d73f3f" href="{{values['PROJECT_LINK']}}">{{values['PROJECT_NAME']}}</a>:</p>
  {% endif %}
  {% if values['MESSAGE_TYPE'] == 5 %}
    <p style="font-size: 14px; font-weight: 600">Task on project <a style="color: #d73f3f" href="{{values['PROJECT_LINK']}}">{{values['PROJECT_NAME']}}</a> needs more mapping:</p>
  {% endif %}
  {% if values['MESSAGE_TYPE'] == 8 %}
    <p style="font-size: 14px; font-weight: 600"><a style="color: #d73f3f" href="{{values['FROM_USER_LINK']}}">@{{values['FROM_USERNAME']}}</a> left a comment on <a style="color: #d73f3f" href="{{values['TASK_LINK']}}">Task {{values['TASK_ID']}}</a> in project <a style="color: #d73f3f" href="{{values['PROJECT_LINK']}}">{{values['PROJECT_NAME']}}</a>:</p>
  {% endif %}
  {% if values['MESSAGE_TYPE'] == 9 %}
    <p style="font-size: 14px; font-weight: 600"><a style="color: #d73f3f" href="{{values['FROM_USER_LINK']}}">@{{values['FROM_USERNAME']}}</a> left a comment on project <a style="color: #d73f3f" href="{{values['PROJECT_LINK']}}">{{values['PROJECT_NAME']}}</a>:</p>
  {% endif %}
  <p>
    {{ values['CONTENT']|safe }}
  </p>
{% endblock %}
