{% extends "base.html" %}
{% block content %}
    <br>
    <div style="padding: 0 2.357rem">
        <p>
            Project
            <a style="color: #d73f3f" href="{{values['APP_BASE_URL']}}/projects/{{values['PROJECT_ID']}}">{{values['PROJECT_NAME']}}</a>
             associated with your organisation
            <a style="color: #d73f3f" href="{{values['APP_BASE_URL']}}/organisations/{{values['PROJECT_ORG_ID']}}">{{values['PROJECT_ORG_NAME']}}</a>
             has been transferred to
            <a style="color: #d73f3f" href="{{values['APP_BASE_URL']}}/users/{{values['TRANSFERRED_TO']}}">{{values['TRANSFERRED_TO']}}</a>
             by
            <a style="color: #d73f3f" href="{{values['APP_BASE_URL']}}/users/{{values['TRANSFERRED_BY']}}">{{values['TRANSFERRED_BY']}}</a>
             on
            <a style="color: #d73f3f; font-weight: 700" href="{{values['APP_BASE_URL']}}">{{values["ORG_CODE"]}} Tasking Manager</a>.
        </p>
        <br><br>
        Please ignore this email if you have received it by mistake.<br>
        Many thanks,<br>
        {{values['ORG_NAME']}}<br>
    </div>
{% endblock %}
