{% extends "base.html" %}
{% block content %}
    <div
      style="
        height: 300px;
        width: 600px;
        background-image: url(https://raw.githubusercontent.com/hotosm/tasking-manager/59c92150108884f7b6bee9b6108d4ef0d6a33933/backend/services/messaging/templates/assets/validation_hero.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        justify-content: center;
        align-items: center;
      "
    >
    </div>
    <div style="padding: 0 2.357rem; margin-bottom: 3.428rem">
      <h1
        style="
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.714rem;
          line-height: 0.916;
          letter-spacing: 0.75px;
          margin-bottom: 24px;
          margin-top: 2rem;
        "
      >
        Validator role unlocked!
      </h1>
      <p style="margin-bottom: 24px">
        Here&#39;s to you, {{ values["USERNAME"] }}! <br />You&#39;ve worked hard on your
        mapping skills and it shows. You&#39;ve accomplished a lot to get to
        this moment:
      </p>
      <table aria-label="" style="text-align: center;"> <!-- Noncompliant -->
        <th style="width:150px;">
          <h3 style="
            font-size: 48px;
            line-height: 50px;
            font-weight: 500;
            color: #d73f3f;
            align-self: center;
            margin: 0;
          "
          >
            {{ values["MAPPED"] }}
          </h3>
        </th>
        <th style="padding: 0 10px;">
          &nbsp;
        </th>
        <th style="width: 55px;" >
          <h3 style="
            font-size: 48px;
            line-height: 58px;
            font-weight: 500;
            color: #d73f3f;
            align-self: center;
            margin: 0;
          "
          >
            {{ values["VALIDATED"] }}
          </h3>
        </th>
        <tr>
          <td style="color: #68707f;">
            Tasks mapped
          </td>
          <td>
            &nbsp;
          </td>
          <td style="color: #68707f;">
            Validated
          </td>
        </tr>
      </table>
      <p
        style="
          font-size: 14px;
          line-height: 20px;
          margin-top: 24px;
          margin-bottom: 32px;
        "
      >
        Now, it’s time to celebrate!
      </p>

      <table width="100%" cellspacing="0" cellpadding="0" aria-label="" style="margin-top: 2.285rem; margin-bottom: 3.428rem;"> <!-- Noncompliant -->
        <thead>
          <th>
          </th>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:center;">
                    <table aria-label=""> <!-- Noncompliant -->
                      <thead>
                        <th>
                        </th>
                      </thead>
                        <tbody>
                            <tr>
                                <td style="  padding: 11px 24px;  border: #d73f3f; border-radius:2px;" bgcolor="#d73f3f">
                                    <a
                                      href="{{values['APP_BASE_URL']}}/learn"
                                      style="
                                          font-size:1.142rem;
                                          color: #ffffff;
                                          text-decoration: none;
                                          display: inline-block;
                                      "
                                      >
                                        Learn to validate
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
