{% extends "base.html" %}
{% block content %}
    <div style="padding: 0 2.357rem">
        <h1 style="
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.714rem;
          font-size-adjust: 0.6;
          line-height: 0.916;
          letter-spacing: 0.75px;
          margin-bottom: 1.714rem;
          margin-top: 4rem;
        ">
            Welcome to tasking manager!
        </h1>
        <p style="margin-bottom: 1.714rem;">
            Hi, {{values['USERNAME']}} <br /><br />We are so glad to have you as a part of our growing community. Now that you&#39;ve set up your account you are ready to start mapping.
        </p>
    </div>
    <img src="https://github.com/hotosm/tasking-manager/blob/58c1c64687eba4d4b58724c78ac9bf206a20ddc4/backend/services/messaging/templates/assets/Bitmap.png?raw=true" height="345px" width="610.32px" style="margin-bottom: 3.428rem" alt="TM hero image" height="345px" width="610.32px" style="margin-bottom: 3.428rem" alt="TM hero image" />
    <div>
        <p style="
          width: 87%;
          font-weight: 700;
          font-size: 1.142rem;
          line-height: 1.5625;
          margin-bottom: 2.857rem;
          padding: 0 2.357rem;
        ">
            We&#39;re here to teach you how to use Tasking Manager in 4 quick and simple steps:
        </p>

        <img src="https://raw.githubusercontent.com/hotosm/tasking-manager/59c92150108884f7b6bee9b6108d4ef0d6a33933/backend/services/messaging/templates/assets/learning_steps.png" alt="Learning_steps" height="530px" width="567px" style="margin-left: 33px">
        <!-- table component starts -->
        <table width="100%" cellspacing="0" cellpadding="0" aria-label="" style="margin-top: 2.285rem; margin-bottom: 3.428rem;"> <!-- Noncompliant -->
            <thead>
                <th>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;">
                        <table cellspacing="0" cellpadding="0" style="margin:0 auto;" aria-label="" > <!-- Noncompliant -->
                            <thead>
                                <th>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="  padding: 11px 24px;  border: #d73f3f; border-radius:2px;" bgcolor="#d73f3f">
                                        <a
                                        href="{{values['APP_BASE_URL']}}"
                                        style="
                                            font-size:1.142rem;
                                            color: #ffffff;
                                            text-decoration: none;
                                            display: inline-block;
                                        "
                                        >
                                            Start contributing
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- table component ends -->
    </div>
{% endblock %}
