<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Barlow+Condensed:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-size: 14px;
      }

      body {
        font-family: "Archivo", sans-serif;
        width: 600px;
        line-height: 1.4;
        margin: 0;
        color: #2c3038;
      }

      p {
        margin: 0;
      }

      h1,
      h2,
      h3 {
        font-family: "Barlow Condensed", sans-serif;
      }

      button {
        font-family: inherit;
      }
    </style>
  </head>

  <body>
    <div style="padding: 0 2.357rem">
      <h1
        style="
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.714rem;
          line-height: 0.916;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          margin-bottom: 1.714rem;
          margin-top: 4rem;
        "
      >
        Welcome to tasking manager
      </h1>
      <p style="margin-bottom: 1.714rem">
        Hi Amanda Smith, <br /><br />We are so glad to have you as a part of our
        growing community. Now that you&#39;ve set up your account you are ready
        to start mapping.
      </p>
    </div>
    <img
      src="./assets/Bitmap.png"
      height="300"
      width="100%"
      style="margin-bottom: 3.428rem"
      alt="TM hero image"
    />
    <div>
      <p
        style="
          width: 87%;
          font-weight: 700;
          font-size: 1.142rem;
          line-height: 1.5625;
          margin-bottom: 2.857rem;
          padding: 0 2.357rem;
        "
      >
        We&#39;re here to teach you how to use Tasking Manager in 4 quick and
        simple steps:
      </p>

      <!-- card components -->
      <div
        style="
          display: flex;
          flex-direction: column;
          gap: 1.142rem;
          mix-blend-mode: normal;
          padding: 0 2.357rem;
          position: relative;
        "
      >
        <div
          style="
            display: flex;
            align-items: center;
            gap: 2.142rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            padding: 24px;
            background-color: white;
            z-index: 2;
          "
        >
          <img
            src="./assets/technical.jpg"
            width="60"
            height="50"
            alt="some logo that goes with the alongside text"
          />
          <div>
            <p
              style="
                font-weight: 700;
                font-size: 1.142rem;
                line-height: 1;
                margin-bottom: 0.571rem;
              "
            >
              1. Select a project
            </p>
            <p style="color: #68707f">
              Search through our list of projects for one that meets your
              interests and fits your skill level.
            </p>
          </div>
        </div>

        <div
          style="
            display: flex;
            align-items: center;
            gap: 2.142rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            padding: 24px;
            background-color: white;
            z-index: 2;
          "
        >
          <img
            src="./assets/technical.jpg"
            width="60"
            height="50"
            alt="some logo that goes with the alongside text"
          />
          <div>
            <p
              style="
                font-weight: 700;
                font-size: 1.142rem;
                line-height: 1;
                margin-bottom: 0.571rem;
              "
            >
              1. Select a project
            </p>
            <p style="color: #68707f">
              Search through our list of projects for one that meets your
              interests and fits your skill level.
            </p>
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            gap: 2.142rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            padding: 24px;
            background-color: white;
            z-index: 2;
          "
        >
          <img
            src="./assets/technical.jpg"
            width="60"
            height="50"
            alt="some logo that goes with the alongside text"
          />
          <div>
            <p
              style="
                font-weight: 700;
                font-size: 1.142rem;
                line-height: 1;
                margin-bottom: 0.571rem;
              "
            >
              1. Select a project
            </p>
            <p style="color: #68707f">
              Search through our list of projects for one that meets your
              interests and fits your skill level.
            </p>
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            gap: 2.142rem;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            padding: 24px;
            background-color: white;
            z-index: 2;
          "
        >
          <img
            src="./assets/technical.jpg"
            width="60"
            height="50"
            alt="some logo that goes with the alongside text"
          />
          <div>
            <p
              style="
                font-weight: 700;
                font-size: 1.142rem;
                line-height: 1;
                margin-bottom: 0.571rem;
              "
            >
              1. Select a project
            </p>
            <p style="color: #68707f">
              Search through our list of projects for one that meets your
              interests and fits your skill level.
            </p>
          </div>
        </div>
        <img
          src="./assets/Mask.png"
          width="534"
          height="100%"
          style="position: absolute; top: 33px; left: 66px; z-index: 1"
          alt="mask image"
        />
      </div>
      <!-- card components end -->
      <!-- button component starts -->
      <div
        style="
          display: flex;
          justify-content: center;
          margin-top: 4.285rem;
          margin-bottom: 3.428rem;
        "
      >
        <button
          style="
            color: #fff;
            padding: 11px 24px;
            background-color: #d73f3f;
            border-radius: 2px;
            font-size: 1.142rem;
          "
        >
          Start contributing
        </button>
      </div>
      <!-- button component ends -->
    </div>
  </body>
</html>
