.sponsor {
  &__cards {
    text-align: left;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: top;
    align-items: stretch;
  }

  &__card {
    width: 350px;
    margin-bottom: 2rem;
    border: 1px solid darken($lightest-background-grey, 8%);
    background-color: #fff;
  }

  &__content {
    padding: 1rem;
    height: 250px;
    text-align: center;
    .sponsor-logo {
      height: 140px;
      white-space: nowrap;
      text-align: center;
      margin: 1em 0;
      img {
        max-height: 125px;
        vertical-align: middle;
      }
    }
    .helper{
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    span {
      font-size: .86em;
      font-style: italic;
      color: $lightgrey;
    }
  }
}

.sponsor__card--become {
    position: relative;
    .sponsor__content {
        transform: translateY(20%);
        padding: 2em;
        @include media(medium-up) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          height: inherit;
        }
    }
}
