/* ==========================================================================
   Create project
   ========================================================================== */

.create-project {
  height: 35rem;
  padding: 30px;

  .sidebar {
    float: left;
    height: inherit;
    overflow-y: auto;

    .content {
      height: 100%;
      overflow-y: auto;
      padding: 5px 20px 5px 5px;
    }

    .navigation-steps {
      .button-group {
        width: 100%;
        button {
          width: 50%;
        }
      }
    }

    @include span(5/12);

    @include media(medium-up) {
      @include span(4/12);
    }

    @include media(large-up) {
      @include span(3/12);
    }
  }
  .map-container {
    float: left;
    height: inherit;
    position: relative;
    @include span(7/12);

    @include media(medium-up) {
      @include span(8/12);
    }

    @include media(large-up) {
      @include span(9/12);
    }
  }
}

.create-project input[type="file"] {
    display: none;
}

/* ==========================================================================
   Edit project
   ========================================================================== */

/* Aside menu
   ========================================================================== */

.aside-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: $base-font-bold;

  > li {
    margin: 0 0 ($global-spacing / 2) 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.aside-menu-item {
  display: block;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 ($global-spacing / 2);
  border-radius: $base-border-radius;
  &, &:visited {
    color: $base-font-color;
  }
  &--active {
    background: rgba($base-color, 0.08);
  }
}