/* ==========================================================================
   Base
   ========================================================================== */

/* Reset the box-sizing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Make viewport responsive on every browser */

@at-root {
  @-moz-viewport      { width: device-width; }
  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @-webkit-viewport   { width: device-width; }
  @viewport           { width: device-width; }
}

/* Reset HTML, body, etc */

html {
  font-size: $root-font-size;
  // Changes the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background: #fff;
  color: $base-font-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: $base-font-style;
  min-width: $row-min-width;
}


/* Links
   ========================================================================== */

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;
  transition: opacity 0.24s ease 0s;
}

a:visited {
  color: $link-color;
}

a:hover {
  opacity: 0.64;
}

a:active {
  outline: none;
  transform: translate(0, 1px);
}


/* Rows
   ========================================================================== */

.row {
  @extend .clearfix;
  padding-left: $global-spacing;
  padding-right: $global-spacing;
  @include media(small-up) {
    padding-left: $global-spacing * 2;
    padding-right: $global-spacing * 2;
  }
  @include media(xlarge-up) {
    padding-left: $global-spacing * 4;
    padding-right: $global-spacing * 4;
  }
  &--centered {
    max-width: $row-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Buttons
   ========================================================================== */

/**
 * iOS "clickable elements" fix for role="button":
 * https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
 */

[role="button"] {
  cursor: pointer;
}


/* Forms
   ========================================================================== */

input, select, textarea {
  font: inherit;
  height: auto;
  width: auto;
  margin: 0;
}


/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button, .button:visited {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: $orange;
  padding: .5em 1em;
  color: #fff;
  border: none;
}
