.contribute-container {
  @include column(12/12);

  .search {
    @include column(12/12);
    @include media(medium-up) {
      @include column(4/12);
    }
  }

  .search-results {
    @include column(12/12);
    @include media(medium-up) {
      @include column(8/12);
    }
  }
}

/* ==========================================================================
   Search results
   ========================================================================== */

.search-results-container {
  text-align: center !important;
}

.project-result {
  &__cards {
    text-align: left;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: top;
    align-items: stretch;
  }

  &__card {
    width: 350px;
    margin-bottom: 2rem;
  }

  &__content {
    padding: 1rem;
  }
}

.pagination {
    list-style: none;
  >li {
    @extend .button--achromic;
    display: inline;
    cursor: pointer;
    padding: 0.5rem;
    a {
      color: black;
    }
  }
  >li.active {
    @extend .button--active;
  }
}