.contribute-container {
  @include column(24/24);

  .search {
    background: #f6f5f5;
    box-shadow: 0 2px 12px 2px rgba(34, 10, 10, 0.12), 0 0 0 1px rgba(34, 10, 10, 0.12);
    border-radius: 0.25rem;
    border-radius: 20px;
    padding: 10px;
    @include column(24/24);
    @include media(medium-up) {
      @include column(7/24);
    }
  }

  .search-results {
    @include column(24/24);
    @include media(medium-up) {
      @include column(24/24);
    }
    .paging {
      text-align: center !important;
    }
  }
}

.search-container {
  width: 18%;
  float: left;
  margin-right: 3%;
}

/* ==========================================================================
   Search results
   ========================================================================== */
.project-result {
  &__cards {
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: top;
    align-items: stretch;
  }

  &__card {
    width: 47%;
    margin-bottom: 1rem;
    margin-top: 1em;
    background-color: #fff;
    -moz-box-shadow:    0px 2px 3px 1px darken($lightest-background-grey, 8%);
    -webkit-box-shadow: 0px 2px 3px 1px darken($lightest-background-grey, 8%);
    box-shadow:         0px 2px 3px 1px darken($lightest-background-grey, 8%);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    position: relative;
    margin-right: 1%;
    min-height: 450px;

    @include media(large-up) {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &:hover {
      -moz-box-shadow:    0px 5px 5px 1px darken($lightest-background-grey, 11%);
      -webkit-box-shadow: 0px 5px 5px 1px darken($lightest-background-grey, 11%);
      box-shadow:         0px 5px 5px 1px darken($lightest-background-grey, 11%);
      margin-top: .5em;
      margin-bottom: 1.5em;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }
  }

  &__content {
    padding: 2.5rem 2.5rem 3rem;
    dt {
      padding-top: .2em;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2.5rem;
    width: 100%;
    border-top: 1px solid darken($lightest-background-grey, 2%);
    dt, dd {
      margin-bottom: 0;
    }
    dd { margin-right: 3em; }
  }
}

.progress-bar-container {
  .label {
    font-size: x-small;
  }
  /** Override default styling **/
  .progress {
    height: 10px !important;
    margin-bottom: 10px !important;
  }
}

.search-options-container {
  margin-top: 15px;
  @include span(20/20);
  .search-option {
    padding-bottom: 2em;
  }
  .search-button {
    padding-top: 1.75em;
  }
}

/** Make button look like a select button **/
.drop__toggle--caret-select:after {
  float: right;
}

.drop--full-width {
  width: 100%;
}

.button--select {
  font-weight: normal;
  width: 100%;
  text-align: left;
  &drop__toggle--caret:after {
    float: right
  }
}

/** Wider column for project description in list view **/
.list {
  .wider-column {
    width: 25%;
  }
}

.popup-short-desc {
  height: 10em;
  overflow-y: auto;
}

.ng-isolate-scope {
  overflow-y: hidden;
  max-height: 100px;
  margin-bottom: 1em;
}
