.contribute-container {
  @include column(24/24);

  .search-results {
    @include column(24/24);
    @include media(medium-up) {
      @include column(24/24);
    }
  }
}

.search {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid darken($lightest-background-grey, 8%);
}

.search-container {
  width: 25%;
  float: left;
  margin-right: 3%;
  @include media(large-up) {
    width: 18%;
  }

  select {
    width: 100%;
  }
}

.page__body {
  .section__body--contribute, .project-container--wrapper, .create-project {
    .inner {
      padding-top: 3em;
    }
  }
}

/* ==========================================================================
   Search results
   ========================================================================== */
.project-result {
  &__cards {
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: top;
    align-items: stretch;
  }

  &__card {
    width: 88%;
    margin-bottom: 1rem;
    margin-top: 1em;
    background-color: #fff;
    -moz-box-shadow:    0 2px 3px 1px darken($lightest-background-grey, 8%);
    -webkit-box-shadow: 0 2px 3px 1px darken($lightest-background-grey, 8%);
    box-shadow:         0 2px 3px 1px darken($lightest-background-grey, 8%);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    position: relative;
    margin-right: 0;
    min-height: 420px;
    border: 1px solid darken($lightest-background-grey, 6%);
    font-size: .86em;

    code {
      color: $red;
    }

    .ng-isolate-scope {
      max-height: 180px;
      margin-bottom: 1em;
      overflow: hidden;
    }

    @include media(large-up) {
      width: 47%;
      margin-right: 1%;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    &:active {
      border: 1.5px solid darken($lightest-background-grey, 40%);
      -moz-box-shadow:    0 5px 5px 1px darken($lightest-background-grey, 18%);
      -webkit-box-shadow: 0 5px 5px 1px darken($lightest-background-grey, 18%);
      box-shadow:         0 5px 5px 1px darken($lightest-background-grey, 18%);
    }

    &:hover {
      -moz-box-shadow:    0 5px 5px 1px darken($lightest-background-grey, 11%);
      -webkit-box-shadow: 0 5px 5px 1px darken($lightest-background-grey, 11%);
      box-shadow:         0 5px 5px 1px darken($lightest-background-grey, 11%);
      margin-top: .5em;
      margin-bottom: 1.5em;
    }

    ul {
      padding: 0;
      list-style-type: none;
    }

    &.draft,
    &.archived {
      background: url(../../img/closed_back.gif) transparent;
    }
  }

  &__content {
    padding: 1.3rem 1.8rem 1.75rem;
    overflow: hidden;

    @include media(medium-up) {
      padding: 2.5rem 2.5rem 3rem;
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: 1rem 2.5rem;
    width: 100%;
    border-top: 1px solid darken($lightest-background-grey, 2%);
    dt, dd {
      margin-bottom: 0;
    }
    dd { margin-right: 2em; }
  }
}

.progress-bar-container {
  .label {
    font-size: x-small;
  }
  /** Override default styling **/
  .progress {
    height: 10px !important;
    margin-bottom: 10px !important;
  }
}

.search-options-container {
  margin-top: 15px;
  @include span(20/20);
  .search-button {
    padding-top: 1.75em;
  }
}

/** Make button look like a select button **/
.drop__toggle--caret-select:after {
  float: right;
}

.drop--full-width {
  width: 100%;
}

.button--select {
  font-weight: normal;
  width: 100%;
  text-align: left;
  &drop__toggle--caret:after {
    float: right
  }
}

/** Wider column for project description in list view **/
.list {
  .wider-column {
    width: 25%;
  }
}

.popup-short-desc {
  height: 10em;
  overflow-y: auto;
}

.page__project {
  dd {
    width: 45%;
    margin-right: 4%;
    @include media(medium-up) {
      width: 15%;
    }
  }
  dt {
    width: 45%;
    clear: none;
    &:nth-of-type(odd) {
      clear: left;
    }
    @include media(medium-up) {
      width: 20%;
    }
  }
  .active-mappers{
    margin-left: 4em;
    font-weight: bold;
  }

  .ng-isolate-scope {
    overflow-y: visible;
    max-height: 100%;
    margin-bottom: 2em;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
}

