.contribute-container {
  @include column(24/24);

  .search {
    @include column(24/24);
    @include media(medium-up) {
      @include column(9/24);
    }
  }

  .search-results {
    @include column(24/24);
    @include media(medium-up) {
      @include column(15/24);
    }
    .list {
      max-height: 500px;
      overflow-y: auto;
    }
  }
}

/* ==========================================================================
   Search results
   ========================================================================== */

.search-results-container {
  text-align: center !important;
}

.project-result {
  &__cards {
    text-align: left;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: top;
    align-items: stretch;
  }

  &__card {
    width: 330px;
    margin-bottom: 2rem;
  }

  &__content {
    padding: 1rem;
  }
}

.progress-bar-container {
  float: right;
  max-width: 100px;
  .label {
    font-size: x-small;
  }
  /** Override default styling **/
  .progress {
    height: 10px !important;
    margin-bottom: 10px !important;
  }
}