.dashboard-container {
  @include column(12/12);

  .filter {
    @include column(12/12);
    @include media(medium-up) {
      @include column(4/12);
    }
  }

  .results {
    @include column(12/12);
    @include media(medium-up) {
      @include column(8/12);
    }
  }
}

.table-project-dashboard {
  .selected {
    background-color: rgba($base-color, 0.1);
  }
}

/* ==========================================================================
   Dashboard stats
   ========================================================================== */
.section__project-dashboard--stats {
  text-align: center;
  left: 0;
  width: 100%;
  clear: both;
  padding: 2rem 0;

  .stats__card {
    display: inline-block;
    margin: 1rem auto;
    width: 33%;
    padding: 0rem 2rem;
  }

  .stats__card--amount {
    font-size: 2em;
    letter-spacing: -1px;
  }

  .stats__card--title {
    letter-spacing: 1px;
    opacity: .7;
    line-height: 18px;
  }
}
