.darkened-background {
  background-color: #f6f7f8;
}

.pull-right {
  float: right !important;
}

.pull-center {
  text-align: center;
  margin: auto;
}

.error {
  color: $danger-color;
}

.pointer {
  cursor: pointer;
}

/** Override the OSM design system **/
.form__group {
  margin-top: $global-spacing;
}

hr {
  width: 100%;
  max-width: 50rem;
}

.tr-hover:hover {
  background-color: rgba($base-color, 0.1);
}


.pagination {
    list-style: none;
  > li {
    > a {
      cursor: pointer;
      padding: 1rem;
    }
    @extend .button--achromic;
    display: inline;
    padding: 0.5rem;
    a {
      color: black;
    }
  }
  > li.active {
    @extend .button--active;
  }
}

.modal-tm {
  .modal__inner {
    .modal__body {
      text-align: center;
    }
  }
}