/** CSS rule for Angular ng-cloak; see https://docs.angularjs.org/api/ng/directive/ngCloak **/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.pull-right {
  float: right !important;
}

.pull-center {
  text-align: center;
  margin: auto;
}

.error {
  color: $danger-color;
  background-color: rgba(234, 79, 84, .2);
  width: 100%;
  padding: .3em .5em;
  margin-bottom: 1em;
  border: 1px solid rgba(234, 79, 84, .4);
  text-align: center;
  border-radius: 4px;
  margin-bottom: 1.5em;
  p {
    margin-bottom: 0;
  }
}

.pointer {
  cursor: pointer;
}

.padding-at-bottom {
  padding-bottom: 1rem;
}

/** Override the OSM design system **/

hr {
  width: 100%;
  max-width: 50rem;
}

.tr-hover:hover {
  background-color: rgba($medium-grey, 0.1);
}

.tr-darker {
  background-color: rgba($medium-grey, 0.1);
}

.pagination {
    list-style: none;
  > li {
    > a {
      cursor: pointer;
      padding: 0.8rem;
    }
    display: inline;
    padding: 0.5rem;
    a {
      color: black;
    }
  }
  > li.active {
  }
}

.modal-tm {
  .modal__inner {
    .modal__body {
      text-align: center;
    }
  }
}

/** For using Angular UI Bootstrap's progress bar **/
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: $secondary-color;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

/** For using Angular UI's typeahead dropdown **/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: $primary-color;
  outline: 0;
}

/** Bootstrap's badge class **/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 0px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $medium-grey;
  border-radius: 10px;
}

.form__control__inline {
  width: auto;
  display: inline;
}

.button[disabled]{
  cursor: not-allowed;
}
