/* ==========================================================================
   Header
   ========================================================================== */
.tm-header {
  // background-image: url('../../img/kaart17.jpg');
  background-color: $kaart-green;
  h1, p {
    color: #fff;
  }
  p {
    margin-bottom: 3em;
    a {
      color: #000!important;
    }
  }
  .inner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* ==========================================================================
   Get involved
   ========================================================================== */
.get-involved-section {
  border-bottom: 10px solid $base-alpha-color;
}

/* ==========================================================================
   Field stories
   ========================================================================== */

.field-stories-container {
  text-align: center;
}

.field-stories {
  &__cards {
    text-align: left;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: top;
    align-items: center;
    padding-left: 3%;
    margin-top: 3em;
  }

  &__card {
    margin-right: 3.5%;
    width: 100%;
    align-self: flex-start;
    &:last-of-type {
      margin-right: 0;
    }
    @include media(medium-up) {
      width: 31%;
    }
  }
}

#story-2 {
  display: none;
  @include media(medium-up) {
    display: block;
  }
}

#story-3 {
  display: none;
  @include media(xlarge-up) {
    display: block;
  }
}

/* ==========================================================================
   Stats
   ========================================================================== */

.homepage-stats-container {
  text-align: center;
  color: white;
  .inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.homepage-stats {
  &__cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: top;
    align-items: center;
    padding-left: 3%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 3.5%;
    width: 100%;
    align-self: flex-start;
    &:last-of-type {
      margin-right: 0;
    }
    @include media(medium-up) {
      width: 31%;
    }
  }
}

#homepage-stats-2 {
  display: none;
  @include media(medium-up) {
    display: flex;
  }
}

#homepage-stats-3 {
  display: none;
  @include media(xlarge-up) {
    display: flex;
  }
}

.stats-card {
  &__container {
    height: 50px;
  }

  &__amount {
    font-size: 2em;
    letter-spacing: -1px;
  }

  &__title {
    letter-spacing: 1px;
    opacity: .7;
    line-height: 18px;
  }

  &__loading {
    width: 20px;
    height: 20px;
    border: 2px solid $medium-grey;
    border-bottom: 2px solid $lightgrey;
    border-radius: 50%;
    animation: spin 2s linear infinite;

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}
