/* OpenLayers override */
.ol-zoom button {
  background-color: $secondary-color;
}

.ol-attribution button {
  background-color: $secondary-color;
}

.ol-control button, .ol-control button:focus, .ol-control button:hover {
  background-color: $secondary-color;
}

.ol-scale-line {
  background-color: $secondary-color;
}