/* OpenLayers override */
.ol-zoom button {
  background-color: $secondary-color;
}

.ol-attribution button {
  background-color: $secondary-color;
}

.ol-control button, .ol-control button:focus, .ol-control button:hover {
  background-color: $secondary-color;
}

.ol-scale-line {
  background-color: $secondary-color;
}

/* Layer switcher override */
.layer-switcher {
  bottom: 3em;
  top: auto;
}

.add-layer-control {
  right: 0.5em;
  position: absolute;
  width: 300px;
  z-index: 1000;
}