.mapper-level-indicator {
  display: flex;
  align-items: center;

  &.beginner {
    color: $bronze;
  }

  &.intermediate {
    color: $silver;
  }

  &.advanced {
    color: $gold;
  }

  &__icon {
    font-size: 2em;
  }

  &__label {
    margin-left: 1rem;
    text-transform: capitalize;
    font-weight: $base-font-regular;
  }
}
