.mob-disclaimer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: .5em 4em;
  z-index: 10;
  background: #d34143;
  color: white;
  text-align: center;
  @include media(large-up) {
  	display: none;
  }
}