/* ==========================================================================
   Map/validate project
   ========================================================================== */

.project-container {
  height: 100%;
  position: absolute;
  width: 100%;
  padding-top: $global-spacing * 2;

  @include media(medium-up) {
    padding-top: $global-spacing * 4;
  }

   @include media(large-up) {
    padding-top: $global-spacing * 5;
  }

  p {
    font-size: 0.90rem;
  }

  .sidebar {
    float: left;
    height: inherit;
    overflow-y: auto;

    .content {
      height: calc(100% - 64px);
      overflow-y: auto;
      padding: 25px;
    }

    > ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .navigation > li {
      background: rgba($base-color, 0.1) none repeat scroll 0 0;
      display: inline-block;
      float: left;
      width: 25%;
      margin: 0;
      border-right: 1px solid #C6C1B2;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      cursor: pointer;
      color: rgba($base-color, 0.6);
      font-size: 1rem;
      font-weight: bold
    }

   .navigation > .active {
     background: white none repeat scroll 0 0;
     color: $primary-color;
    }

    @include span(6/12);

    @include media(medium-up) {
      @include span(6/12);
    }

    @include media(large-up) {
      @include span(5/12);
    }

    @include media(xlarge-up) {
      @include span(4/12);
    }

    @include media(xxlarge-up) {
      @include span(3/12);
    }

    img {
      max-width: 100%;
    }
  }
  .map-container {
    float: left;
    height: inherit;
    position: relative;
    @include span(6/12);

    @include media(medium-up) {
      @include span(6/12);
    }

    @include media(large-up) {
      @include span(7/12);
    }

    @include media(xlarge-up) {
      @include span(8/12);
    }

    @include media(xxlarge-up) {
      @include span(9/12);
    }
  }
}

.history {
  margin-bottom: 0.5em;
  font-size: smaller;

  .odd {
    background-color: rgba($base-color, 0.1);
    padding: 5px;
    border-radius: 5px;
  }
  .even {
    padding: 5px;
    border-radius: 5px;
  }
}

.project-title {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 100;
}


