.profile-container {
  @include column(12/12);

  .details {
    @include column(12/12);
    @include media(medium-up) {
      @include column(7/12);
    }
  }

  .roles {
    @include column(12/12);
    @include media(medium-up) {
      @include column(4/12);
    }
  }
}

.profile-projects-list {
  max-height: 600px;
  overflow-y: auto;
  margin-bottom: 50px;
}

/* ==========================================================================
   Stats
   ========================================================================== */
.section__header--left {

  @include media(medium-up) {
    float: left;
  }
}

.section__inverse--stats {
  left: 0;
  display: block;

  @include media(medium-up) {
    float: right;
    text-align: center;
  }

  .stats__card {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 2em;
    
    @include media(medium-up) {
      width: 200px;
    }
  }

  .stats__card--amount {
    font-size: 2em;
    letter-spacing: -1px;
  }

  .stats__card--title {
    letter-spacing: 1px;
    opacity: .7;
    line-height: 18px;
  }
}

.roles {
  button {
    margin: 0 .5rem .5rem 0;
  }
  .button-group {
    margin: 0 .5rem 1.5rem 0;
  }
}

.validator-star {
  color: #FFCC11;
}

.icon-sm-chevron-down, .icon-sm-chevron-up {
  background-size: 12px 12px;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: .2em;
}

.icon-sm-chevron-down {
  background-image: url('../../icons/chevron-right.svg');
}

.icon-sm-chevron-up {
  background-image: url('../../icons/chevron-down.svg');
}
