/* ==========================================================================
   Map/validate project
   ========================================================================== */

.project-container {
  height: 45rem;

  p {
    font-size: 0.90rem;
  }

  .sidebar {
    float: left;
    height: inherit;
    overflow-y: auto;

    .content {
      height: calc(100% - 50px);
      overflow-y: auto;
      padding: 5px 20px 5px 5px;
    }

    > ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .navigation > li {
      background: #F1F1F1 none repeat scroll 0 0;
      display: inline-block;
      float: left;
      width: 25%;
      margin: 0;
      border-right: 1px solid #C6C1B2;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 15px;
      cursor: pointer;
      color: #737067;
      font-size: 13px;
    }

   .navigation > .active {
     background: white none repeat scroll 0 0;
     color: $primary-color;
    }

    @include span(5/12);

    @include media(medium-up) {
      @include span(4/12);
    }

    @include media(large-up) {
      @include span(3/12);
    }
  }
  .map-container {
    float: left;
    height: inherit;
    position: relative;
    @include span(7/12);

    @include media(medium-up) {
      @include span(8/12);
    }

    @include media(large-up) {
      @include span(9/12);
    }
  }
}