/* ==========================================================================
   Map/validate project
   ========================================================================== */

.project-container {
  padding-top: $global-spacing * 3;
  padding-bottom: $global-spacing * 4;

  @include media(medium-up) {
    padding-top: $global-spacing * 5;
  }

   @include media(large-up) {
    padding-top: $global-spacing * 5;
  }

  p {
    font-size: 0.90rem;
    max-height: 100%;
  }

  code {
    font-size: 0.90rem;
  }

  .sidebar {
    float: left;
    height: inherit;

    > ul {
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 0;
    }

    .navigation > li {
      background: rgba($medium-grey, 0.1) none repeat scroll 0 0;
      display: inline-block;
      float: left;
      width: 20%;
      margin: 0;
      border-right: 1px solid #C6C1B2;
      text-align: center;
      padding-bottom: 20px;
      padding-top: 20px;
      cursor: pointer;
      color: rgba($medium-grey, 0.6);
      font-size: 0.8rem;
      font-weight: bold;
    }

   .navigation > .active {
     background: white none repeat scroll 0 0;
     color: $primary-color;
    }

    @include span(6/12);

    @include media(medium-up) {
      @include span(7/12);
    }

    @include media(large-up) {
      @include span(7/12);
    }

    @include media(xlarge-up) {
      @include span(6/12);
      width: 44%;
      margin-right: 4%;
    }

    img {
      max-width: 100%;
    }
  }
  .map-container {
    float: left;
    height: inherit;
    position: relative;
    @include span(6/12);

    @include media(medium-up) {
      @include span(5/12);
    }

    @include media(large-up) {
      @include span(6/12);
    }
  }
}

.history {
  margin-bottom: 0.5em;
  font-size: smaller;

  .odd {
    background-color: rgba($medium-grey, 0.1);
    padding: .5em .8em;
    border-radius: 5px;
  }
  .even {
    padding: .5em .8em;
    border-radius: 5px;
  }
  a {
    color: $link-color;
  }
}

.user-activity-for-validation{
  font-size: smaller;
}

.chat--individual {
  margin-bottom: 1.5em;
}

.project-title {
  pointer-events: none;
  padding-top: 10px;
  padding-left: 45px;
  padding-right: 175px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;
}

.activity-project-button {
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  z-index: 5;
}

.edit-project-button {
  margin-bottom: 2em;
}

.project--notes {
  h1 {
    font-size: 1.714rem;
  }
  h2 {
    font-size: 1.571rem;
  }
  h3 {
    font-size: 1.286rem;
  }
  h4 {
    font-size: 1rem;
  }
}

.imagery-container {
  word-wrap:break-word;
}

.container__nextsteps {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 2em;
  border: 1px solid darken($lightest-background-grey, 6%);
  margin-top: 3em;
}

.indent--right {
  padding-left: 1.5em;
}
