/* ==========================================================================
   Inner
   ========================================================================== */

.page__inner {
  background: tint($medium-grey, 96%);
}

/* ==========================================================================
   Header
   ========================================================================== */

.page__header {
  position: relative;
  z-index: 10;
  background: #fff;
  color: $base-font-color;
  padding: $global-spacing 0;
  box-shadow: inset 0 -1px 0 0 $base-alpha-color;

  > .inner {
    @extend .row, .row--centered;
  }
}

.page__header__fixed {
  position: fixed;
  width: 100%;
  @extend .clearfix;
}

/* Headline */

.page__headline {
  float: left;
}

.page__title {
  font-size: inherit;
  line-height: 1;
  margin: 0;
  a {
    display: inline-block;
    vertical-align: top;
  }
}

/* Navigation */

.page__prime-nav {
  width: 85%;
  @include media(medium-up) {
    float: left;
    margin: 0 1em;
  }

  .toggle-menu {
    position: absolute;
    top: 0.5rem;
    right: $global-spacing / 4;
    margin: 0;

    a {
      vertical-align: top;

      &:before {
      }

      @include media(medium-up) {
        &:before {
          font-size: 1.5rem;
        }
      }
    }

    @include media(small-up) {
      right: $global-spacing * 1.5;
    }

    @include media(medium-up) {
      display: none;
    }
  }
}

.menu-wrapper {
  transition: opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s;
  &.menu-wrapper--open {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }

  @include media(small-up) {
    padding: $global-spacing ($global-spacing * 2);
  }

  @include media(medium-up) {
    padding: 0;
    opacity: 1;
    visibility: visible;
  }
}

.global-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  @include media(medium-up) {
    li {
      display: inline-block;
      margin: 0 ($global-spacing / 2) 0 0;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.menu-secondary-wrapper {
  float: right;
  list-style: none;
}

.global-menu-item {
  display: inline-block;
  line-height: 2rem;
  padding: .3rem 1rem .1rem;
  border-radius: $base-border-radius;
  .button {
    font-size: 0.9rem !important;
    @include media(large-up) {
      font-size: 1rem !important;
    }
  }
  &, &:visited {
    color: $base-font-color;
  }
  &--active {
    background: rgba($medium-grey, 0.08);
  }
  @include media(large-up) {
    font-size: 1rem !important;
  }
}

.global-menu-item--pipe {
  margin-right: 1.2em;
  padding-right: 1.5em;
  border-right: 1px solid darken($lightest-background-grey, 5%);
}

.language-dropown-wrapper {
  display: inline-block;
}

.drop__content {
  position: absolute;
  width: 180px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: #fff;
  border: 1px solid darken($lightest-background-grey, 5%);
  -moz-box-shadow:    0px 1px 2px 1px darken($lightest-background-grey, 5%);
  -webkit-box-shadow: 0px 1px 2px 1px darken($lightest-background-grey, 5%);
  box-shadow:         0px 1px 2px 1px darken($lightest-background-grey, 5%);
  right: 0em;
  top: 3em;
}

.drop__menu {
  margin: 0;
  padding: 0;
  li {
    display: block;
    padding: .5em 1em;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    margin: 0;
    &:hover {
      background-color: $lightest-background-grey;
    }
  }
}

/* ==========================================================================
   Body
   ========================================================================== */

.page__body {
  .section__body {
    @extend .clearfix;
    .inner {
      padding-top: 3rem;
    }
    .project-container {
      padding-top: 1rem;
    }
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.page__footer {
  box-shadow: inset 0 1px 0 0 $base-alpha-color;
  background: #fff;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  @include column(12/12);

  .left {
    @include column(5/12, $offset: 1/12);
  }

  .right {
    @include column(6/12);
  }
}

/* ==========================================================================
   Section
   ========================================================================== */

.section {
  &__large-header {
    position: relative;
    color: inherit;
    padding: {
      top: ($global-spacing * 4);
      right: 0;
      bottom: ($global-spacing * 2);
      left: 0;
    }
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0);
    margin-top: - $page-header-y;

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .row;
      @extend .row--centered;
    }

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: linear-gradient(rgba(#fff, 0.92), rgba(#fff, 0.80), rgba(#fff, 0.64));
    }

    @include media(medium-up) {
      text-align: center;
      padding: {
        top: ($global-spacing * 8);
        bottom: ($global-spacing * 3);
      }
    }

    @include media(large-up) {
      padding: {
        top: ($global-spacing * 8);
        bottom: ($global-spacing * 4);
      }
    }
  }

  &__header {
    position: relative;
    color: inherit;
    padding: {
      top: ($global-spacing * 4);
      right: 0;
      bottom: ($global-spacing * 0.5);
      left: 0;
    }
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: translateZ(0);
    margin-top: - $page-header-y;

    > * {
      position: relative;
      z-index: 2;
    }

    > .inner {
      @extend .row;
      @extend .row--centered;
    }

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: linear-gradient(rgba(#fff, 0.64), rgba(#fff, 0.80), rgba(#fff, 0.92));
    }

    @include media(medium-up) {
      padding: {
        top: ($global-spacing * 7);
        bottom: ($global-spacing * 1);
      }
    }

    @include media(large-up) {
      padding: {
        top: ($global-spacing * 12);
        bottom: ($global-spacing * 3);
      }
    }

    &--nodescription {
      padding-bottom: 1em;
    }
  }

  &__headline {
    @include column(12/12);

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(8/12, $offset: 2/12);
    }
  }

  &__title {
    @extend .heading;
  }

  &__subtitle {
    text-transform: uppercase;
    font-weight: $base-font-regular;
    color: rgba($base-font-color, 0.48);
    font-size: 0.875rem;
    line-height: 1.25;
    margin: 0;

    @include media(medium-up) {
      position: absolute;
      transform: translate(0, -100%);
    }
  }

  &__introduction {
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 2rem;
    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__body {
    margin-bottom: 2rem;
    > .inner {
      @extend .row;
      @extend .row--centered;
    }
    @include media(medium-up) {
      margin-bottom: 3rem;
    }
  }

  &__main-content {
    @include column(12/12);

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

.header--withShare {
  @extend .clearfix;

  .section__title {
    float: left;
    width: 85%;
  }
  .component--share {
    float: right;
    width: 15%;
    text-align: right;
    position: relative;
  }
  .share--options {
    text-align: left;
  }
  .drop__content {
    width: 140px;
  }
}

/* Section layout modifiers
   ========================================================================== */

.section--simple {
  .section__main-content {
    @include media(medium-up) {
      @include column(9/12, $offset: 1.5/12);
    }

    @include media(large-up) {
      @include column(8/12, $offset: 2/12);
    }
  }
}

.section--asided {
  .section__header {
    text-align: left;
  }

  .section__headline {
    @include media(medium-up) {
      @include column(10/12);
    }

    @include media(large-up) {
      @include column(8/12);
    }
  }

  .section__main-content {
    @include media(medium-up) {
      @include column(9/12, $offset: -3/12);
    }

    @include media(large-up) {
      @include column(8/12);
    }
  }
}

.section__body--secondary {
  background-color: $lightest-background-grey;
  border-top: 1px solid darken($lightest-background-grey, 3%)
}

/* Section aside
   ========================================================================== */

.section__aside-content {
  @include column(12/12);

  padding-bottom: ($global-spacing * 2);
  margin-bottom: ($global-spacing * 2);
  box-shadow: inset 0 -1px 0 0 $base-alpha-color;

  @include media(medium-up) {
    @include column(3/12);

    box-shadow: none;
    padding-bottom: 0;
  }
}

.section__aside-title {
  @extend .heading-alt;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: $global-spacing;
}

.tab--wrapper {
  margin: 0;
  padding: 0;
  float: left;
}

.tab--item {
  list-style: none;
  display: inline-block;
  padding: .5em .8em;
  margin-right: .5em;
  &:hover {
    color: $link-color;
  }
}

.form__group {
  border-bottom: 1px solid darken($lightest-background-grey, 8%);
  margin-bottom: 3em;
  @extend .clearfix;
}

.search-results-container--wrapper {
  float: left;
  width: 78%;
}
