/* ==========================================================================
   Tables
   ========================================================================== */

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 2.5em;


  th, td  {
    padding: 0.75rem 0.5rem;
    vertical-align: top;
    text-align: left;
    box-shadow: inset 0 -1px 0 0 $base-alpha-color;
  }

  th:first-child,
  td:first-child {
    padding-left: 1rem;
  }

  th:last-child,
  td:last-child {
    padding-right: 1rem;
  }

  thead th {
    text-transform: uppercase;
    font-weight: $base-font-regular;
    font-size: 0.875rem;
    line-height: 1.25rem;
    vertical-align: bottom;
    box-shadow: inset 0 -2px 0 0 $base-alpha-color;
    a {
      display: inline-block;
      &.table__sort:after {
        font-size: 1rem;
        margin-left: 0.375rem;
        vertical-align: top;
        display: inline-block;
        line-height: inherit !important;
      }
      &.table__sort--none:after {
        /*@extend %hot-ds-icon-sort-none;*/
      }
      &.table__sort--asc:after {
        /*@extend %hot-ds-icon-sort-asc;*/
      }
      &.table__sort--desc:after {
        /*@extend %hot-ds-icon-sort-desc;*/
      }
    }
    a, a:visited, a:hover {
      color: inherit;
    }
  }

  &--zebra {
    tbody tr:nth-of-type(odd) {
      background: rgba($lightgrey, 0.04);
    }
  }
}

/* Prose specific */

.prose--responsive {
  > .table thead th {
    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}


/* Responsive table wrapper
   ========================================================================== */

.responsive-table-wrapper {
  position: relative;
  min-height: .01%;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: $global-spacing;
  > *:last-child {
    margin-bottom: 0;
  }
}
