<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    {{ "What is New in the Tasking Manager 3" | translate }}
                </h1>
                <p>
                    {{'The Tasking Manager 3 has new features and functionality that are meant to improve the experience of everyone that uses it. Most of the individual improvements bring benefits to each group of users, mappers, validators and project managers. But the improvements can be divided into three broad categories: Improvements for Mappers, improvements for validators and improvements for mapping project managers.'| translate }}
                </p>
                <p>
                    {{'Read more below about the major improvements for mappers and validators. Have some immediate questions? '| translate }}<a href="/faq">{{'Jump over to read the FAQs.'| translate }}</a>
                </p>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner">
                    <h3>{{'Improvements for Mappers'| translate }}</h3>
                    <ul>
                        <li>
                            <p>{{'Expanded User Profile and Contact information - Please make the first thing you do in the new Tasking Manager visiting your'| translate }} <a title="{{ 'user profile' | translate }}"
                                    ng-click="accountNavCtrl.goToProfile()">{{ 'user profile' | translate }}</a>. {{'There you will see your mapper experience level and most importantly, can fill in your user contact information so you can get feedback on your mapping delivered to your email in-box.'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Finding a Project - When you visit the Contribute link to find a project that needs mapping, you will have a new set of options to help you find a project to work on. You can now filter by:'| translate }}
                                <ul>
                                    <li>
                                        <p>{{'Difficulty - Every new project will have a difficulty rating so you can work on projects that are best for your experience level.'| translate }}</p>
                                    </li>
                                    <li>
                                        <p>{{'Organization - Select from the list of organizations that make use of OpenStreetMap map data'| translate }}</p>
                                    </li>
                                    <li>
                                        <p>{{'Campaign - Often projects are grouped into campaigns, efforts that need multiple projects to get done, now you can easily find all the projects in a campaign.'| translate }}</p>
                                    </li>
                                    <li>
                                        <p>{{'Type of Mapping - Roads, buildings, waterways, find the kind of mapping you are in the mood for.'| translate }}</p>
                                    </li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <p>{{'More ways to ask questions and get feedback - There is now a "Questions and Comments" tab on each project, with a quick link to direct a question to the mapping project manager.'| translate }}</p>
                        </li>
                    </ul>
                    <h3>{{'Improvements for Validators'| translate }}</h3>
                    <ul>
                        <li>
                            <p>{{'Expanded User Profile and Contact information - Please make the first thing you do in the new Tasking Manager visiting your '| translate }}<a title="{{ 'user profile' | translate }}"
                                    ng-click="accountNavCtrl.goToProfile()">{{ 'user profile' | translate }}</a>.
                                {{'The Tasking Manager now tracks and displays the number of Tasks you have validated. Since users can also enter their email addresses, when you direct mapping feedback to a user, they are
                                much more likely to see your feedback (make sure to add your email address to your profile too.)'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Validate multiple tasks at once - While you can still validate one task at a time, you can also checkout multiple tasks at once to validate. You have to option of drawing a polygon around
                                a group of tasks, or you can select all the tasks completed by an individual mapper. There is a dedicated "Validation" tab with a list of all the contributors to a project and some key
                                information to help you prioritize your validation. You can sort contributing users by:'| translate }}
                                <ul>
                                    <li>
                                        <p>{{'Experience level - Based on the number of changesets a user has in OSM you can get an immediate idea of how experienced a mapper is.'| translate }}</p>
                                    </li>
                                    <li>
                                        <p>{{'Registration date - This tells you how long a user has been using the Tasking Manager. It will help you find brand new users who can benefit from immediate feedback.'| translate }}</p>
                                    </li>
                                    <li>
                                        <p>{{'Time since last validation - This will let you know how long it has been since a user received feedback.'| translate }}</p>
                                    </li>
                                </ul>
                            </p>
                        </li>
                        <li>
                            <p>{{'Project level comments and full task comment feed - With the new "Questions and Comments" tab on each project and a full list of all the comments on individual tasks, you will be able to
                                find users who have questions or identify issues with the project quickly.'| translate }}</p>
                        </li>
                    </ul>
                    <h3>{{'Improvements for Project Managers'| translate }}</h3>
                    <ul>
                        <li>
                            <p>{{'Split Tasks during project creation - While creating a project you can "pre-split" tasks over dense settlement areas. You can also use satellite imagery during the project creation process
                                to help you determine good Task sizes.'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Project Grouping by requesting organization and campaigns - You can easily group projects by different organizations and campaigns. This allows you to easily see over all progress via your
                                Project Dashboard in the user menu.'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Project level comments and full task comment feed - You can quickly review task and project level comments to identify issues and answer questions.'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'More project permissions options - You can restrict mapping to only intermediate or experienced mappers and validators'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Project cloning - Easily create duplicate projects and change the AoI or the instructions'| translate }}</p>
                        </li>
                        <li>
                            <p>{{'Expanded User Profile and Contact information - Please make the first thing you do in the new Tasking Manager visiting your'| translate }} <a title="{{ 'user profile' | translate }}"
                                    ng-click="accountNavCtrl.goToProfile()">{{ 'user profile' | translate }}</a>
                                {{'and entering your email address so Tasking Manager messages sent to you will go to your email box. There is a new "Contact the project manager" link on the Questions and Comments tab so
                                you will hopefully get more feedback and questions.'| translate }}</p>
                        </li>
                    </ul>
                </div>
                <div class="inner">
                </div>
            </div>
        </div>
    </section>
</div>
