<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <h1 class="section__title section__header--left">
                    {{ 'Manage Priorities' | translate }}
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner">
                    <table class="table table--zebra">
                        <thead>
                        <tr>
                            <th ng-click="managePrioritiesCtrl.sortBy('name')"><a
                                class="table__sort table__sort--none"
                                title="{{ 'Sort column' | translate }}"><span>{{ 'Name' | translate }}</span></a></th>
                            <th ng-click="managePrioritiesCtrl.sortBy('uploadedBy')"><a
                                class="table__sort table__sort--none"
                                title="{{ 'Sort column' | translate }}"><span>{{ 'Uploaded by' | translate }}</span></a></th>
                            <th ng-click="managePrioritiesCtrl.sortBy('uploadedOn')"><a
                                class="table__sort table__sort--none"
                                title="{{ 'Sort column' | translate }}"><span>{{ 'Date uploaded' | translate }}</span></a></th>
                            <th ng-click="managePrioritiesCtrl.sortBy('filesize')"><a
                                class="table__sort table__sort--none"
                                title="{{ 'Sort column' | translate }}"><span>{{ 'Filesize (bytes)' | translate }}</span></a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="priority in managePrioritiesCtrl.priorities | orderBy:managePrioritiesCtrl.propertyName:managePrioritiesCtrl.reverse">
                                <td><strong>{{ priority.name }}</strong></td>
                                <td>{{ priority.uploadedBy }}</td>
                                <td>{{ priority.uploadedOn | amDateFormat:'YYYY-MM-DD' }}</td>
                                <td>{{ priority.filesize | number }}</td>
                                <td>
                                    <button class="button button--secondary" type="button"
                                            ng-click="managePrioritiesCtrl.delete(priority.priorityId)">
                                        {{ 'Delete' | translate }}
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
