.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #8d8d8d !important;
}

.card-text-ellipsis {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partners-social-icon {
  height: 20px;
  width: 20px;
}

.partners-banner-button {
  padding: 0.75rem 0 !important;
}

.partners-banner-logo {
  margin: 2.25rem 0 1.75rem 0;
}

.partners-custom-dropdown {
  width: 17rem;
  right: 0;
  padding: 0.5rem 2rem;
}

.partners-dropdown-icon {
  width: 12px;
}

.partners-tab-item {
  border-radius: 3px 3px 0px 0px;
  padding: 0.625rem 1.375rem;
  fontweight: 500;
}
