.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
  color: #fff !important;
  background: #8d8d8d !important;
}

.card-text-ellipsis {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partners-social-icon {
  height: 24px;
  width: 24px;
}
