<script src="profile.controller.js"></script>
<div class="inner">
    <section class="section section--asided">
        <header class="section__header section__header--nodescription">
            <div class="inner">
                <div class="section__header--left">
                    <h1 class="section__title">
                        {{ 'User Profile' | translate }} - {{ profileCtrl.username }}
                    </h1>
                    <ul class="list--piped">
                        <li>
                            <span ng-show="profileCtrl.userDetails.mappingLevel === 'BEGINNER'">{{ 'Beginner mapper' | translate }}</span>
                            <span ng-show="profileCtrl.userDetails.mappingLevel === 'INTERMEDIATE'">{{ 'Intermediate mapper' | translate }}</p>
                            <span ng-show="profileCtrl.userDetails.mappingLevel === 'ADVANCED'">{{ 'Advanced mapper' | translate }}</span>
                        </li>
                        <li>
                            <span ng-show="profileCtrl.userDetails.role === 'VALIDATOR'">
                                <i class="fa fa-star fa-2x validator-star"></i> {{ 'Validator' | translate }}
                            </span>
                            <span ng-show="profileCtrl.userDetails.role === 'PROJECT_MANAGER'">
                                <i class="hot-ds-icon-pencil"></i> {{ 'Project Manager' | translate }}
                            </span>
                            <span ng-show="profileCtrl.userDetails.role === 'ADMIN'">
                                <i class="hot-ds-icon-pencil"></i> {{ 'Administrator' | translate }}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="section__inverse--stats">
                    <div class="stats__card">
                        <div class="stats__card--amount"><strong>{{ profileCtrl.userDetails.tasksMapped }}</strong></div>
                        <div class="stats__card--title">{{ 'Tasks Mapped' | translate }}</div>
                    </div>
                    <div class="stats__card">
                        <div class="stats__card--amount"><strong>{{ profileCtrl.userDetails.tasksValidated }}</strong></div>
                        <div class="stats__card--title">{{ 'Tasks Validated' | translate }}</div>
                    </div>
                </div>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body section__body--secondary">
                <div class="inner">
                    <div class="profile-container">
                        <div class="details">
                            <div>
                                <h4>{{ profileCtrl.username }}'s {{ 'Progress' | translate }}</h4>
                                <div ng-show="profileCtrl.mapperLevelIntermediate > profileCtrl.osmUserDetails.changesetCount">
                                    <span class="label">{{ profileCtrl.mapperLevelIntermediate - profileCtrl.osmUserDetails.changesetCount }} {{ 'OSM changeset(s) to intermediate mapper' | translate }}</span>
                                    <uib-progressbar value="profileCtrl.osmUserDetails.changesetCount" max="profileCtrl.mapperLevelIntermediate"></uib-progressbar>
                                </div>
                                <div ng-show="profileCtrl.mapperLevelAdvanced > profileCtrl.osmUserDetails.changesetCount">
                                    <span class="label">{{ profileCtrl.mapperLevelAdvanced - profileCtrl.osmUserDetails.changesetCount }} {{ 'OSM changeset(s) to advanced mapper' | translate }}</span>
                                    <uib-progressbar value="profileCtrl.osmUserDetails.changesetCount" max="profileCtrl.mapperLevelAdvanced"></uib-progressbar>
                                </div>
                                <div ng-show="profileCtrl.osmUserDetails.changesetCount > profileCtrl.mapperLevelAdvanced">
                                    <span class="label">0 {{ 'OSM changesets to advanced mapper' | translate }}</span>
                                    <uib-progressbar value="600" max="profileCtrl.mapperLevelAdvanced"></uib-progressbar>
                                </div>
                                <hr/>
                            </div>
                            <div>
                                <h4>Stats</h4>
                                <span>Time Spent Mapping (TM3 only)</span>
                                <span class="pull-right">{{ profileCtrl.userStats.timeSpentMapping | amDurationFormat : 'second' }}</span>
                                <hr/>
                            </div>
                            <div>
                                <h4>OSM details</h4>
                                <div ng-show="profileCtrl.osmUserDetails">
                                    <p>{{ 'Joined OSM' | translate }} <span am-time-ago="profileCtrl.osmUserDetails.accountCreated | amUtc | amLocal"></span></p>
                                    <p>{{ profileCtrl.osmUserDetails.changesetCount}} {{ 'Total OSM changesets' | translate }}</p>
                                </div>
                                <p>
                                    <a href="http://www.openstreetmap.org/user/{{ profileCtrl.username }}" target="_blank" rel="noopener">
                                        {{ 'OSM profile' | translate }}
                                    </a>
                                   </p>
                                <p>
                                    <a href="http://www.missingmaps.org/users/#/{{ profileCtrl.username }}/badges" target="_blank" rel="noopener">
                                        {{ 'Missing Maps Badges' | translate }}
                                    </a>
                                    </p>
                                <p>
                                    <a href="http://www.openstreetmap.org/user/{{ profileCtrl.username }}/history" target="_blank" rel="noopener">
                                        {{ 'OSM edit history' | translate }}
                                    </a>
                                </p>
                                <p>
                                    <a href="http://yosmhm.neis-one.org/?{{ profileCtrl.username }}" target="_blank" rel="noopener">
                                        {{ 'OSM heat map' | translate }}
                                    </a>
                                </p>
                                <hr/>
                            </div>
                        </div>
                        <div class="roles pull-right">
                            <form name="profileCtrl.contactDetailsForm" class='form__standard'>
                                <ul class='form__standard'>
                                    <li>
                                        <label class="form__label"
                                               ng-show="profileCtrl.userDetails.emailAddress || profileCtrl.editDetails">
                                            Email (only visible to you):
                                        </label>
                                        <span ng-hide="profileCtrl.editDetails">
                                            {{ profileCtrl.userDetails.emailAddress }}
                                        </span>
                                        <input ng-show="profileCtrl.editDetails" size="30"
                                               class="form__control form__control__inline"
                                               placeholder="Email"
                                               type="email"
                                               ng-model="profileCtrl.userDetails.emailAddress"/>
                                        <span ng-show="profileCtrl.userDetails.isEmailVerified && profileCtrl.userDetails.emailAddress">
                                            <i class="hot-ds-icon-sm-tick"></i>
                                        </span>
                                        <span ng-show="profileCtrl.userDetails.emailAddress && !profileCtrl.userDetails.isEmailVerified && !profileCtrl.editDetails">
                                            <button class="button button--achromic button--small"
                                                    ng-click="profileCtrl.resendVerificationEmail()">Resend validation email</button>
                                        </span>
                                    </li>
                                    <li>
                                        <label class="form_label"
                                               ng-show="profileCtrl.userDetails.gender || profileCtrl.editDetails">Gender:</label><!--<p>HOT envisions a world where everyone can contribute to OpenStreetMap, and 						OpenStreetMap genderbalance more closely matches that of our world in general. Help us measure our progress toward this goal by providing your gender.</p>-->
                                        <span ng-hide="profileCtrl.editDetails">{{profileCtrl.userDetails.gender}}</span>
                                        <div ng-show="profileCtrl.editDetails">
                                            <input ng-show="profileCtrl.editDetails"  type="radio" 
                                                   class="form__control form__control__inline"
                                                   ng-model="profileCtrl.userDetails.gender"  value="Female"/>Female<br>
                                            <input ng-show="profileCtrl.editDetails" type="radio" 
                                                   class="form__control form__control__inline"                           
                                                   ng-model="profileCtrl.userDetails.gender"  value="Male">Male<br>
                                            <input ng-show="profileCtrl.editDetails" type="radio" 
                                                   class="form__control form__control__inline"
                                                   ng-model="profileCtrl.userDetails.gender"  value="Self-describe:"/>Prefer to self-describe:<br>
                                            <div ng-switch="profileCtrl.userDetails.gender">
                                                <input ng-switch-when="Self-describe:"  type="text" size="30"
                                                    class="form__control form__control__inline"/>
                                            </div>
                                            <input ng-show="profileCtrl.editDetails" type="radio" 
                                                   class="form__control form__control__inline" 
                                                   ng-model="profileCtrl.userDetails.gender"  value="Prefer not to say"/>Prefer not to say<br> 
                                       </div>
                                    </li>
                                    <li>
                                        <label class="form__label"
                                               ng-show="profileCtrl.userDetails.facebookId || profileCtrl.editDetails">Facebook:</label>
                                        <a ng-hide="profileCtrl.editDetails"
                                           href="http://www.facebook.com/{{ profileCtrl.userDetails.facebookId }}"
                                           target="_blank" rel="noopener">
                                            {{ profileCtrl.userDetails.facebookId }}
                                        </a>
                                        <input ng-show="profileCtrl.editDetails" type="text" size="30"
                                               class="form__control form__control__inline"
                                               placeholder="Facebook ID (e.g. hotosm)"
                                               ng-model="profileCtrl.userDetails.facebookId"/>
                                    </li>
                                    <li>
                                        <label class="form__label"
                                               ng-show="profileCtrl.userDetails.twitterId || profileCtrl.editDetails">Twitter:</label>
                                        <a ng-hide="profileCtrl.editDetails"
                                           href="http://www.twitter.com/{{ profileCtrl.userDetails.twitterId }}"
                                           target="_blank" rel="noopener">
                                            {{ profileCtrl.userDetails.twitterId }}
                                        </a>
                                        <input ng-show="profileCtrl.editDetails" type="text" size="30"
                                               class="form__control form__control__inline"
                                               placeholder="Twitter ID (e.g. hotosm)"
                                               ng-model="profileCtrl.userDetails.twitterId"/>
                                    </li>
                                    <li>
                                        <label class="form__label"
                                               ng-show="profileCtrl.userDetails.linkedinId || profileCtrl.editDetails">LinkedIn:</label>
                                        <a ng-hide="profileCtrl.editDetails"
                                           href="http://www.linkedin.com/in/{{ profileCtrl.userDetails.linkedinId }}"
                                           target="_blank" rel="noopener">
                                            {{ profileCtrl.userDetails.linkedinId }}
                                        </a>
                                        <input ng-show="profileCtrl.editDetails" type="text" size="30"
                                               class="form__control form__control__inline"
                                               placeholder="LinkedIn ID (personal)"
                                               title="{{ 'Your ID is the part after https://www.linkedin.com/in/....' | translate}}"
                                               ng-model="profileCtrl.userDetails.linkedinId"/>
                                    </li>
                                    
                                    <li>
                                        <label class="form__option form__option--custom-checkbox" ng-show="profileCtrl.editDetails">
                                              <input ng-show="profileCtrl.editDetails" type="checkbox" name="form-custom-checkbox"
                                                    ng-model="profileCtrl.userDetails.validation_message"/>
                                              <span class="form__option__text">{{ 'Receive automated validation messages' | translate }}</span>
                                              <span class="form__option__ui"></span>
                                        </label>
                                    </li>
                                </ul>
                                <div ng-show="profileCtrl.userDetails.username === profileCtrl.currentlyLoggedInUser.username">
                                    <button class="button button--achromic" type="button"
                                            ng-click="profileCtrl.editDetails = !profileCtrl.editDetails"
                                            ng-show="!profileCtrl.editDetails">
                                        <i class="hot-ds-icon-pencil" title="Edit Twitter URL"></i>
                                        <span>{{ 'Add/edit contact details' | translate}}</span>
                                    </button>
                                    <button class="button button--achromic" type="button"
                                            ng-click="profileCtrl.setContactDetails()"
                                            ng-disabled="profileCtrl.contactDetailsForm.$invalid"
                                            ng-show="profileCtrl.editDetails">
                                        <i class="hot-ds-icon-tick" title="Save edits"></i>
                                        <span>{{ 'Save' | translate }}</span>
                                    </button>
                                    <button class="button button--achromic button--secondary" type="button"
                                            ng-click="profileCtrl.editDetails = false"
                                            ng-show="profileCtrl.editDetails">
                                        <span>{{ 'Cancel' | translate }}</span>
                                    </button>
                                    <p ng-show="!profileCtrl.contactDetailsForm.$valid" class="error">
                                        {{ 'Not a valid email address' | translate }}
                                    </p>
                                    <p ng-show="profileCtrl.errorSetContactDetails" class="error">
                                        {{ 'Error: setting your contact details' | translate }}
                                    </p>
                                    <p ng-show="profileCtrl.errorVerificationEmailSent" class="error">
                                        {{ 'Error: sending your verification email' }}
                                    </p>
                                    <p ng-show="profileCtrl.verificationEmailSent">
                                        {{ 'A verification email was sent.' | translate }}
                                    </p>
                                    <hr ng-show="profileCtrl.userDetails.emailAddress || profileCtrl.userDetails.facebookId || profileCtrl.userDetails.twitterId || profileCtrl.userDetails.linkedinId"/>
                                </div>
                            </form>
                            <div class="form__group">
                                <!-- Someone else's profile -->
                                <div ng-hide="profileCtrl.userDetails.username === profileCtrl.currentlyLoggedInUser.username">
                                    <div ng-show="profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER' || profileCtrl.currentlyLoggedInUser.role === 'ADMIN'">
                                        <h4>
                                            {{ 'Set role' | translate }}
                                        </h4>
                                        <div class="button-group button-group--horizontal" role="group">
                                            <button class="button button--achromic"
                                                    ng-class="profileCtrl.userDetails.role === 'MAPPER'? 'button--active' : ''"
                                                    ng-hide="profileCtrl.userDetails.role === 'ADMIN' && profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER'"
                                                    ng-click="profileCtrl.setRole('MAPPER')">{{ 'Mapper' | translate }}
                                            </button>
                                            <button class="button button--achromic"
                                                    ng-class="profileCtrl.userDetails.role === 'PROJECT_MANAGER'? 'button--active' : ''"
                                                    ng-hide="profileCtrl.userDetails.role === 'ADMIN' && profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER'"
                                                    ng-click="profileCtrl.setRole('PROJECT_MANAGER')">{{ 'Project Manager' | translate }}
                                            </button>
                                            <button class="button button--achromic"
                                                    ng-class="profileCtrl.userDetails.role === 'VALIDATOR'? 'button--active' : ''"
                                                    ng-hide="profileCtrl.userDetails.role === 'ADMIN' && profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER'"
                                                    ng-click="profileCtrl.setRole('VALIDATOR')">{{ 'Validator' | translate }}
                                            </button>
                                            <button class="button button--achromic"
                                                    ng-class="profileCtrl.userDetails.role === 'ADMIN'? 'button--active' : ''"
                                                    ng-show="profileCtrl.currentlyLoggedInUser.role === 'ADMIN'"
                                                    ng-click="profileCtrl.setRole('ADMIN')">{{ 'Administrator' | translate }}
                                            </button>
                                            <button class="button button--achromic"
                                                    ng-class="profileCtrl.userDetails.role === 'READ_ONLY'? 'button--active' : ''"
                                                    ng-hide="profileCtrl.currentlyLoggedInUser.role === 'ADMIN' && profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER'"
                                                    ng-click="profileCtrl.setRole('READ_ONLY')">{{ 'Block user' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <p ng-show="profileCtrl.errorSetRole" class="error">{{ 'An error occurred when setting the role.' | translate }}</p>
                            </div>
                            <div ng-show="profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER' || profileCtrl.currentlyLoggedInUser.role === 'ADMIN'">
                                <h4>{{ 'Set mapper level' | translate }}</h4>
                                <p>{{ 'Manually set the experience level of a user.' | translate }}</p>
                                <div class="button-group button-group--horizontal" role="group" aria-label="{{ 'Set mapper level' | translate }}">
                                    <button class="button button--achromic"
                                            ng-class="profileCtrl.userDetails.mappingLevel === 'BEGINNER'? 'button--active' : ''"
                                            ng-disabled="profileCtrl.osmUserDetails.changesetCount > profileCtrl.mapperLevelIntermediate"
                                            ng-show="profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER' || profileCtrl.currentlyLoggedInUser.role === 'ADMIN'"
                                            ng-click="profileCtrl.setLevel('BEGINNER')">{{ 'Beginner' | translate }}
                                    </button>
                                    <button class="button button--achromic"
                                            ng-class="profileCtrl.userDetails.mappingLevel === 'INTERMEDIATE'? 'button--active' : ''"
                                            ng-disabled="profileCtrl.osmUserDetails.changesetCount > profileCtrl.mapperLevelAdvanced"
                                            ng-show="profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER' || profileCtrl.currentlyLoggedInUser.role === 'ADMIN'"
                                            ng-click="profileCtrl.setLevel('INTERMEDIATE')">{{ 'Intermediate' | translate }}
                                    </button>
                                    <button class="button button--achromic"
                                            ng-class="profileCtrl.userDetails.mappingLevel === 'ADVANCED'? 'button--active' : ''"
                                            ng-show="profileCtrl.currentlyLoggedInUser.role === 'PROJECT_MANAGER' || profileCtrl.currentlyLoggedInUser.role === 'ADMIN'"
                                            ng-click="profileCtrl.setLevel('ADVANCED')">{{ 'Advanced' | translate }}
                                    </button>
                                    <p ng-show="profileCtrl.errorSetLevel" class="error">{{ 'An error occurred when setting the level.' | translate }}</p>
                                </div>
                            </div>
                            <div>
                                <h4>{{ 'Expert Mode' | translate }}</h4>
                                <p>{{ 'Expert mode makes advanced and experimental features available. Most users should leave this off.' | translate }}</p>
                                <label class="form__option">
                                    <i ng-show="profileCtrl.savingExpertMode" class="fa fa-spinner fa-spin fa-lg fa-fw"></i>
                                    <input ng-show="!profileCtrl.savingExpertMode" type="checkbox" ng-model="profileCtrl.userDetails.isExpert" ng-change="profileCtrl.setExpertMode(profileCtrl.userDetails.isExpert)"/>
                                    {{ 'Expert Mode' | translate }}
                                </label>
                                <p ng-show="profileCtrl.errorSetExpertMode" class="error">{{ 'An error occurred when altering expert mode setting.' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">

        </div>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <h2>{{ 'Projects' | translate }}</h2>
                     <p ng-show="!profileCtrl.projects.length > 0">{{ 'No contributions to projects (yet).' | translate }}</p>
                    <div ng-show="profileCtrl.projects.length > 0" class="profile-projects-list">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Project name' | translate }}</th>
                                <th>{{ 'Number of tasks mapped' | translate }}</th>
                                <th>{{ 'Number of tasks validated' | translate }}</th>
                                <th>{{ 'Status' | translate }}</th>
                                <th>Overpass</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="project in profileCtrl.projects">
                                <td>{{ project.projectId }}</td>
                                <td><a ng-href="project/{{ project.projectId }}">{{ project.name }}</a></td>
                                <td>{{ project.tasksMapped }}</td>
                                <td>{{ project.tasksValidated }}</td>
                                <td>{{ project.status }}</td>
                                <td><a href="" ng-click="profileCtrl.viewOverpassTurbo(project.aoi)">{{ 'View in Overpass Turbo' | translate }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div id="map" class="map-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
