<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    User profile
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <div class="profile-container">
                        <div class="details">
                            <h1>{{ profileCtrl.username }}</h1>
                            <p ng-show="profileCtrl.userDetails.mappingLevel === 'BEGINNER'">Beginner mapper</p>
                            <p ng-show="profileCtrl.userDetails.mappingLevel === 'INTERMEDIATE'">Intermediate mapper</p>
                            <p ng-show="profileCtrl.userDetails.mappingLevel === 'ADVANCED'">Advanced mapper</p>
                            <div ng-show="profileCtrl.osmUserDetails">
                                <p>Joined OSM <span am-time-ago="profileCtrl.osmUserDetails.accountCreated | amUtc | amLocal"></span></p>
                                <p>{{ profileCtrl.osmUserDetails.changesetCount}} total OSM changesets</p>
                            </div>
                            <p><a href="http://www.openstreetmap.org/user/{{ profileCtrl.username }}">OSM profile</a></p>
                            <p><a href="http://www.openstreetmap.org/user/{{ profileCtrl.username }}/history">OSM edit history</a></p>
                        </div>
                        <div class="roles pull-right">
                            <h4 ng-show="profileCtrl.userDetails.role === 'VALIDATOR'">
                                <i class="hot-ds-icon-circle-tick"></i> Validator
                            </h4>
                            <h4 ng-show="profileCtrl.userDetails.role === 'ADMIN'">
                                <i class="hot-ds-icon-pencil"></i> Administrator
                            </h4>
                            <h4 ng-show="profileCtrl.userDetails.role === 'PROJECT_MANAGER'">
                                <i class="hot-ds-icon-pencil"></i> Project Manager
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section__inverse--stats">
                <div class="stats__card">
                    <div class="stats__card--amount"><strong>{{ profileCtrl.userDetails.tasksMapped }}</strong></div>
                    <div class="stats__card--title">tasks mapped</div>
                </div>
                <div class="stats__card">
                    <div class="stats__card--amount"><strong>{{ profileCtrl.userDetails.tasksValidated }}</strong></div>
                    <div class="stats__card--title">tasks validated</div>
                </div>
            </div>
        </div>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <h2>Projects</h2>
                    <div class="profile-projects-list">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Project name</th>
                                <th>Number of tasks mapped</th>
                                <th>Number of tasks validated</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="project in profileCtrl.projects | orderBy: '-lastUpdated'"
                                class="pointer tr-hover"
                                ng-mouseover="profileCtrl.highlightProjectOnMap(project.id)"
                                ng-mouseleave="profileCtrl.removeHighlightOnMap()"
                                ng-click="profileCtrl.navigateToProject(project.id)">
                                <th scope="row">{{ project.id }}</th>
                                <td>{{ project.name }}</td>
                                <td>{{ project.tasksMapped }}</td>
                                <td>{{ project.tasksValidated }}</td>
                                <td>{{ project.status }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div id="map" class="map-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>