<a ng-show="!accountNavCtrl.account.username" class="button button--primary" role="button"
    ng-click="accountNavCtrl.login()">
    <span>Login</span>
</a>
<a class="global-menu-item" ng-show="accountNavCtrl.account.username">
    <div class="drop drop--down drop--align-left drop--open">
        <button class="button button--achromic drop__toggle drop__toggle--caret" type="button"
            ng-click="accountNavCtrl.showDropdown = !accountNavCtrl.showDropdown">
            <span>{{ accountNavCtrl.account.username }}</span>
        </button>
        <div ng-show="accountNavCtrl.showDropdown" class="drop__content">
            <ul class="drop__menu drop__menu--iconified" role="menu">
                <li>
                    <a title="Your profile" class="drop__menu-item" ng-click="accountNavCtrl.navigateToProfile()">
                        Your profile
                    </a>
                </li>
                <li>
                    <a title="Logout" class="drop__menu-item" ng-click="accountNavCtrl.logout()">
                        Logout
                    </a>
                </li>
            </ul>
            <ul ng-show="accountNavCtrl.account.role === 'PROJECT_MANAGER' || accountNavCtrl.account.role === 'ADMIN'"
                class="drop__menu drop__menu--iconified" role="menu">
                <li ng-show="accountNavCtrl.account.role === 'PROJECT_MANAGER'">
                    <a title="Manage licences" class="drop__menu-item" ng-click="accountNavCtrl.manageLicenses()">
                        Manage licences
                    </a>
                </li>
                <li ng-show="accountNavCtrl.account.role === 'PROJECT_MANAGER' || accountNavCtrl.account.role === 'ADMIN'">
                    <a title="New project" class="drop__menu-item" ng-click="accountNavCtrl.createNewProject()">
                        Create new project
                    </a>
                </li>
            </ul>
        </div>
    </div>
</a>