extends base

block header
    .brand OSM Tasking Manager

block content
    .container
        .row
            for project in projects
                .project.well
                  ul.nav.project-stats
                    li
                      i.icon-user
                      span
                    li.row
                      table
                        tr
                          td
                            .progress(style='border: 1px solid #ccc;')
                              .bar(style='width: 90%;')
                          td
                  h4
                    a(href="${request.route_url('project', project=project.id)}") ${project.name}
                  .clear
                  .created-by
                    | Created by
                    span Pierre
                  .world_map
                    .marker(style='top: 15px; left: 43px;')
                  .clear
                  .updated-at
                    | Updated
                    span 10 min
                    | ago
            endfor

