div
    div
        p#export.well.well-small
            i.icon-share-alt
            button#josm.btn.btn-small JOSM
            button#potlatch2.btn.btn-small Potlatch 2
            button#wp.btn.btn-small Walking Papers
            button.btn.btn-small.btn-link .osm
        a#lock.btn.btn-small.btn-primary(href="${request.route_url('task_lock', id=task.id)}") Lock
<%
|from geoalchemy2 import shape
|import geojson
%>
script
    var task_geometry = ${geojson.dumps(shape.to_shape(task.geometry))|n};
