extends base

block content
    .container
        form.form-horizontal(method='post', action='')
            legend New Task
            .control-group
              label.control-label(for='id_short_description') Short Description
              .controls
                input#id_short_description.text.input-xxlarge(type='text', name='short_description', value='')
            .row
              .span6
                .control-group
                  label.control-label(for='id_zoom') Zoom level
                  .controls
                    select#id_zoom(name='zoom')
                      option 10
                      option 11
                      option(selected='selected') 12
                      option 13
                      option 14
                      option 15
                      option 16
                      option 17
                      option 18
            .form-actions
              input#id_submit.btn.btn-primary(type='submit', value='Create the task', name='form.submitted')
