<div title="You can only view other projects at larger scales">
    <label class="form__option" ng-class="{'disabled': showProjectAoisCtrl.currentResolution > showProjectAoisCtrl.otherProjectMaxResolution}">
        <input type="checkbox"
               ng-model="visible"
               ng-disabled="showProjectAoisCtrl.currentResolution > showProjectAoisCtrl.otherProjectMaxResolution"
               ng-change="showProjectAoisCtrl.toggleOtherProjectAreasLayer()" />
        {{ 'Toggle the Area of Interest of existing projects' | translate }}
    </label>
    <p ng-show="showProjectAoisCtrl.errorLoadingExistingProjects" class="error">{{ 'Error loading the projects' | translate }}</p>
</div>
