@import '@hotosm/underpass-ui/dist/index.css';

.maplibregl-map {
  height: calc(100vh - 6.05rem);
}

.top {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 999;
}

svg.pl2 {
  display: inherit;
  height: 22px !important;
  width: 19px !important;
  margin-left: 0px;
}
