@import '@hotosm/underpass-ui/dist/index.css';

.maplibregl-map {
  height: calc(100vh - 6.05rem);
}

.live-monitoring-top-filters {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

.live-monitoring-options {
  border-top: 2px solid var(--hot-gray-100);
  border-bottom: 2px solid var(--hot-gray-100);
  padding-top: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.hui-input-text {
  margin-top: 10px;
}

.hui-theme h3.title-text {
  line-height: 0;
  margin-bottom: 0;
}