/* Border options */
.border {
  border-style: solid;
  border-width: 1px;
}
.border-t {
  border-top-style: solid;
  border-top-width: 1px;
}
.border-r {
  border-right-style: solid;
  border-right-width: 1px;
}
.border-b {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.border-l {
  border-left-style: solid;
  border-left-width: 1px;
}

/**
 *Make a border zero pixels wide. Class set includes `*-mm`, `*-ml`, and `*-mxl` variations to target screen sizes.
 */
.border--0 { border-width: 0 !important; }
.border-t--0 { border-top-width: 0 !important; }
.border-r--0 { border-right-width: 0 !important; }
.border-b--0 { border-bottom-width: 0 !important; }
.border-l--0 { border-left-width: 0 !important; }

/**
 *Make a border two pixels wide.
 */
.border--2 { border-width: 2px !important; }
.border-t--2 { border-top-width: 2px !important; }
.border-r--2 { border-right-width: 2px !important; }
.border-b--2 { border-bottom-width: 2px !important; }
.border-l--2 { border-left-width: 2px !important; }

/**
 *Make a border dashed instead of solid.
 */
.border--dash { border-style: dashed !important; }

/**
* Border colors options
*/
.border-b--lightgray {
  border-bottom-color: $lightgrey;
}

.border--lightgray {
  border-color: $lightgrey;
}
