.btn-group {
  line-height: 2.5 em;
  margin: auto 0;
}

.btn-group--sidebyside > li, .btn-group--sidebyside > button, .btn-group--sidebyside > div {
  display: inline-block;
  margin-left: 1em;
}


.btn[disabled]{
  cursor: not-allowed;
}

button, .btn {
  font-family: $base-font-family;
  border-radius: 2px;
  border-color: transparent;
  padding: .7em 1.4em;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
}
.btn-primary-disabled {
  background-color: $primary-light-color;
  color: #fff;
}
.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
}
.btn-secondary-disabled {
  background-color: $secondary-light-color;
  color: #fff;
}
.btn-tertiary {
  background-color: #fff;
  color: $secondary-color;
}
.btn-tertiary-disabled {
  background-color: #fff;
  color: $secondary-light-color;
}
