.btn-group {
  line-height: 2.5 em;
  margin: auto 0;
}

.btn-group--sidebyside > li,
.btn-group--sidebyside > a,
.btn-group--sidebyside > button,
.btn-group--sidebyside > svg,
.btn-group--sidebyside > div {
  display: inline-block;
  margin-left: 0.5em;
  @include media(medium-down) {
    margin-left: 0.2em !important;
  }
}


.btn[disabled]{
  cursor: not-allowed;
}

button, .btn {
  font-family: $base-font-family;
  border-radius: 2px;
  border-color: transparent;
  display: inline-block;
  padding: .7em 1.4em;
  font-weight: 600;
  cursor: pointer;
  @include media(medium-down) {
    padding: .7em 1.2em !important;
  }
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
}
.btn-primary-disabled {
  background-color: $primary-light-color;
  color: #fff;
}
.btn-secondary {
  background-color: $secondary-color;
  color: #fff;
}
.btn-secondary-disabled {
  background-color: $secondary-light-color;
  color: #fff;
}
.btn-tertiary {
  background-color: #fff;
  color: $secondary-color;
}
.btn-tertiary-disabled {
  background-color: #fff;
  color: $secondary-light-color;
}

.burger-menu {
  cursor: pointer;
  position: relative;
  padding: 10px;
  line-height: 20px;
  background-color: #fff;
}

.burger-menu, .bar1,
.bar2,
.bar3 {
  background-color: $secondary-color;
  width: 25px;
  height: 4px;
  transition: 0.4s;
}

.bar1 {
  margin-bottom: 4px;
}
.bar3 {
  margin-top: 4px;
}
