/*
Text colors
*/
.red {
  color: $red !important;
}
.red-light {
  color: $red-light !important;
}
.orange {
  color: $orange !important;
}
.tan {
  color: $tan !important;
}
.blue-dark {
  color: $blue-dark !important;
}
.blue-light {
  color: $blue-light !important;
}
.blue-grey {
  color: $blue-grey !important;
}
.grey-light {
  color: $grey-light !important;
}

/*
Text colors hover
*/
.hover-red:hover, .hover-red:focus {
  color: $red !important;
}
.hover-red-light:hover, .hover-red-light:focus {
  color: $red-light !important;
}
.hover-orange:hover, .hover-orange:focus {
  color: $orange !important;
}
.hover-tan:hover, .hover-tan:focus {
  color: $tan !important;
}
.hover-blue-dark:hover, .hover-blue-dark:focus {
  color: $blue-dark !important;
}
.hover-blue-light:hover, .hover-blue-light:focus {
  color: $blue-light !important;
}
.hover-blue-grey:hover, .hover-blue-grey:focus {
  color: $blue-grey !important;
}
.hover-grey-light:hover, .hover-grey-light:focus {
  color: $grey-light !important
}

/*
Background colors
*/
.bg-red {
  background-color: $red !important;
}
.bg-red-light {
  background-color: $red-light !important;
}
.bg-orange {
  background-color: $orange !important;
}
.bg-tan {
  background-color: $tan !important;
}
.bg-blue-dark {
  background-color: $blue-dark !important;
}
.bg-blue-light {
  background-color: $blue-light !important;
}
.bg-blue-grey {
  background-color: $blue-grey !important;
}
.bg-grey-light {
  background-color: $grey-light !important
}

/*
Background colors hover
*/
.hover-bg-red:hover, .hover-bg-red:focus {
  background-color: $red !important;
}
.hover-bg-red-light:hover, .hover-bg-red-light:focus {
  background-color: $red-light !important;
}
.hover-bg-orange:hover, .hover-bg-orange:focus {
  background-color: $orange !important;
}
.hover-bg-tan:hover, .hover-bg-tan:focus {
  background-color: $tan !important;
}
.hover-bg-blue-dark:hover, .hover-bg-blue-dark:focus {
  background-color: $blue-dark !important;
}
.hover-bg-blue-light:hover, .hover-bg-blue-light:focus {
  background-color: $blue-light !important;
}
.hover-bg-blue-grey:hover, .hover-bg-grey:focus {
  background-color: $blue-grey !important;
}
.hover-bg-grey-light:hover, .hover-bg-grey-light:focus {
  background-color: $grey-light !important
}

/*
Border colors
*/
.b--red {
  border-color: $red !important;
}
.b--red-light {
  border-color: $red-light !important;
}
.b--orange {
  border-color: $orange !important;
}
.b--tan {
  border-color: $tan !important;
}
.b--blue-dark {
  border-color: $blue-dark !important;
}
.b--blue-light {
  border-color: $blue-light !important;
}
.b--blue-grey {
  border-color: $blue-grey !important;
}
.b--grey-light {
  border-color: $grey-light !important
}
