/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 5px;
  position: fixed;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
  box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
  background-color: #f9f9f9;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: #ccc;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
