.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top-header {
  grid-template-areas: "l1 r1";
}

.nav {
  grid-template-areas:
    "l2 l2 l2 c c c c c r2 r2 r2 r2";
}

.nav > div {
  margin: auto 0;
}

.header-slogan {
  grid-area: l1;
  text-align: left;
}

.header-org-link {
  grid-area: r1;
  text-align: right;
}

.header-brand {
  grid-area: l2;
}

.header-menu {
  grid-area: c;
}

.header-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

.header-menu > ul > li {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 1.1rem;
}

.header-menu > ul > li > a {
  color: $secondary-color;
}

.header-user {
  grid-area: r2;
}

.tm-title {
  font-size: 24px;
  line-height: $line-height-l;
  font-weight: $base-font-semi-bold;
}
