.org-unicef {
  background: no-repeat center url('../img/organizations/unicef.png');
}
.org-usaid {
  background: no-repeat center url('../img/organizations/usaid.png');
}
.org-gfdrr {
  background: no-repeat center url('../img/organizations/gfdrr.png');
}
.org-aws {
  background: no-repeat center url('../img/organizations/aws.png');
}
.org-redcross {
  background: no-repeat center url('../img/organizations/redcross.png');
}
.org-msf {
  background: no-repeat center url('../img/organizations/msf.png');
}
