/**
 * Apply margin on the top and bottom.
 *
 * @group
 * @example
 * <div class='my24'>my24</div>
 * @memberof Margins
 */

.my-neg1 {
  margin-top: -1px !important;
  margin-bottom: -1px !important;
}

.my-neg2 {
  margin-top: -2px !important;
  margin-bottom: -2px !important;
}

.my-neg3 {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}

.my-neg6 {
  margin-top: -6px !important;
  margin-bottom: -6px !important;
}

.my-neg12 {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}

.my-neg18 {
  margin-top: -18px !important;
  margin-bottom: -18px !important;
}

.my-neg24 {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}

.my-neg30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}

.my-neg36 {
  margin-top: -36px !important;
  margin-bottom: -36px !important;
}

.my-neg60 {
  margin-top: -60px !important;
  margin-bottom: -60px !important;
}

.my-neg120 {
  margin-top: -120px !important;
  margin-bottom: -120px !important;
}

.my-neg180 {
  margin-top: -180px !important;
  margin-bottom: -180px !important;
}

.my-neg240 {
  margin-top: -240px !important;
  margin-bottom: -240px !important;
}

.my-neg300 {
  margin-top: -300px !important;
  margin-bottom: -300px !important;
}

.my-neg360 {
  margin-top: -360px !important;
  margin-bottom: -360px !important;
}

.my0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.my6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.my12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.my18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.my24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.my36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}

.my60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.my120 {
  margin-top: 120px !important;
  margin-bottom: 120px !important;
}

.my180 {
  margin-top: 180px !important;
  margin-bottom: 180px !important;
}

.my240 {
  margin-top: 240px !important;
  margin-bottom: 240px !important;
}

.my300 {
  margin-top: 300px !important;
  margin-bottom: 300px !important;
}

.my360 {
  margin-top: 360px !important;
  margin-bottom: 360px !important;
}

/** @endgroup */

/**
 * Apply margin on the left and right.
 *
 * @group
 * @example
 * <div class='mx24'>mx24</div>
 * @memberof Margins
 */
.mx-neg1 {
  margin-left: -1px !important;
  margin-right: -1px !important;
}

.mx-neg2 {
  margin-left: -2px !important;
  margin-right: -2px !important;
}

.mx-neg3 {
  margin-left: -3px !important;
  margin-right: -3px !important;
}

.mx-neg6 {
  margin-left: -6px !important;
  margin-right: -6px !important;
}

.mx-neg12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.mx-neg18 {
  margin-left: -18px !important;
  margin-right: -18px !important;
}

.mx-neg24 {
  margin-left: -24px !important;
  margin-right: -24px !important;
}

.mx-neg30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.mx-neg36 {
  margin-left: -36px !important;
  margin-right: -36px !important;
}

.mx-neg60 {
  margin-left: -60px !important;
  margin-right: -60px !important;
}

.mx-neg120 {
  margin-left: -120px !important;
  margin-right: -120px !important;
}

.mx-neg180 {
  margin-left: -180px !important;
  margin-right: -180px !important;
}

.mx-neg240 {
  margin-left: -240px !important;
  margin-right: -240px !important;
}

.mx-neg300 {
  margin-left: -300px !important;
  margin-right: -300px !important;
}

.mx-neg360 {
  margin-left: -360px !important;
  margin-right: -360px !important;
}

.mx0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.mx6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.mx12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.mx18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.mx24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.mx36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}

.mx60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.mx120 {
  margin-left: 120px !important;
  margin-right: 120px !important;
}

.mx180 {
  margin-left: 180px !important;
  margin-right: 180px !important;
}

.mx240 {
  margin-left: 240px !important;
  margin-right: 240px !important;
}

.mx300 {
  margin-left: 300px !important;
  margin-right: 300px !important;
}

.mx360 {
  margin-left: 360px !important;
  margin-right: 360px !important;
}

/** @endgroup */

/**
 * Apply margin on the top.
 *
 * @group
 * @example
 * <div class='mt24'>mt24</div>
 * @memberof Margins
 */
.mt-neg1 {
  margin-top: -1px !important;
}

.mt-neg2 {
  margin-top: -2px !important;
}

.mt-neg3 {
  margin-top: -3px !important;
}

.mt-neg6 {
  margin-top: -6px !important;
}

.mt-neg12 {
  margin-top: -12px !important;
}

.mt-neg18 {
  margin-top: -18px !important;
}

.mt-neg24 {
  margin-top: -24px !important;
}

.mt-neg30 {
  margin-top: -30px !important;
}

.mt-neg36 {
  margin-top: -36px !important;
}

.mt-neg60 {
  margin-top: -60px !important;
}

.mt-neg120 {
  margin-top: -120px !important;
}

.mt-neg180 {
  margin-top: -180px !important;
}

.mt-neg240 {
  margin-top: -240px !important;
}

.mt-neg300 {
  margin-top: -300px !important;
}

.mt-neg360 {
  margin-top: -360px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt3 {
  margin-top: 3px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt18 {
  margin-top: 18px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mt300 {
  margin-top: 300px !important;
}

.mt360 {
  margin-top: 360px !important;
}

/** @endgroup */

/**
 * Apply margin on the right.
 *
 * @group
 * @example
 * <div class='mr24'>mr24</div>
 * @memberof Margins
 */
.mr-neg1 {
  margin-right: -1px !important;
}

.mr-neg2 {
  margin-right: -2px !important;
}

.mr-neg3 {
  margin-right: -3px !important;
}

.mr-neg6 {
  margin-right: -6px !important;
}

.mr-neg12 {
  margin-right: -12px !important;
}

.mr-neg18 {
  margin-right: -18px !important;
}

.mr-neg24 {
  margin-right: -24px !important;
}

.mr-neg30 {
  margin-right: -30px !important;
}

.mr-neg36 {
  margin-right: -36px !important;
}

.mr-neg60 {
  margin-right: -60px !important;
}

.mr-neg120 {
  margin-right: -120px !important;
}

.mr-neg180 {
  margin-right: -180px !important;
}

.mr-neg240 {
  margin-right: -240px !important;
}

.mr-neg300 {
  margin-right: -300px !important;
}

.mr-neg360 {
  margin-right: -360px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr3 {
  margin-right: 3px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr18 {
  margin-right: 18px !important;
}

.mr24 {
  margin-right: 24px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr36 {
  margin-right: 36px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr120 {
  margin-right: 120px !important;
}

.mr180 {
  margin-right: 180px !important;
}

.mr240 {
  margin-right: 240px !important;
}

.mr300 {
  margin-right: 300px !important;
}

.mr360 {
  margin-right: 360px !important;
}

/** @endgroup */

/**
 * Apply margin on the bottom.
 *
 * The negative margin classes, <code>mb-neg</code>, can be useful for certain design patterns like underline tabs.
 *
 * @group
 * @example
 * <div class='mb24'>mb24</div>
 * @memberof Margins
 */
.mb-neg1 {
  margin-bottom: -1px !important;
}

.mb-neg2 {
  margin-bottom: -2px !important;
}

.mb-neg3 {
  margin-bottom: -3px !important;
}

.mb-neg6 {
  margin-bottom: -6px !important;
}

.mb-neg12 {
  margin-bottom: -12px !important;
}

.mb-neg18 {
  margin-bottom: -18px !important;
}

.mb-neg24 {
  margin-bottom: -24px !important;
}

.mb-neg30 {
  margin-bottom: -30px !important;
}

.mb-neg36 {
  margin-bottom: -36px !important;
}

.mb-neg60 {
  margin-bottom: -60px !important;
}

.mb-neg120 {
  margin-bottom: -120px !important;
}

.mb-neg180 {
  margin-bottom: -180px !important;
}

.mb-neg240 {
  margin-bottom: -240px !important;
}

.mb-neg300 {
  margin-bottom: -300px !important;
}

.mb-neg360 {
  margin-bottom: -360px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.mb180 {
  margin-bottom: 180px !important;
}

.mb240 {
  margin-bottom: 240px !important;
}

.mb300 {
  margin-bottom: 300px !important;
}

.mb360 {
  margin-bottom: 360px !important;
}

/** @endgroup */

/**
 * Apply margin on the left.
 *
 * @group
 * @example
 * <div class='ml24'>ml24</div>
 * @memberof Margins
 */
.ml-neg1 {
  margin-left: -1px !important;
}

.ml-neg2 {
  margin-left: -2px !important;
}

.ml-neg3 {
  margin-left: -3px !important;
}

.ml-neg6 {
  margin-left: -6px !important;
}

.ml-neg12 {
  margin-left: -12px !important;
}

.ml-neg18 {
  margin-left: -18px !important;
}

.ml-neg24 {
  margin-left: -24px !important;
}

.ml-neg30 {
  margin-left: -30px !important;
}

.ml-neg36 {
  margin-left: -36px !important;
}

.ml-neg60 {
  margin-left: -60px !important;
}

.ml-neg120 {
  margin-left: -120px !important;
}

.ml-neg180 {
  margin-left: -180px !important;
}

.ml-neg240 {
  margin-left: -240px !important;
}

.ml-neg300 {
  margin-left: -300px !important;
}

.ml-neg360 {
  margin-left: -360px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml3 {
  margin-left: 3px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml18 {
  margin-left: 18px !important;
}

.ml24 {
  margin-left: 24px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml36 {
  margin-left: 36px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml120 {
  margin-left: 120px !important;
}

.ml180 {
  margin-left: 180px !important;
}

.ml240 {
  margin-left: 240px !important;
}

.ml300 {
  margin-left: 300px !important;
}

.ml360 {
  margin-left: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the top and bottom.
 *
 * @group
 * @example
 * <div class='py24'>py24</div>
 * @memberof Padding
 */
.py0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.py6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.py12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.py18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.py24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.py36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}

.py60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.py120 {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}

.py180 {
  padding-top: 180px !important;
  padding-bottom: 180px !important;
}

.py240 {
  padding-top: 240px !important;
  padding-bottom: 240px !important;
}

.py300 {
  padding-top: 300px !important;
  padding-bottom: 300px !important;
}

.py360 {
  padding-top: 360px !important;
  padding-bottom: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the left and right.
 *
 * @group
 * @example
 * <div class='px24'>px24</div>
 * @memberof Padding
 */
.px0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.px6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.px12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.px18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.px24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.px36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}

.px60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.px120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}

.px180 {
  padding-left: 180px !important;
  padding-right: 180px !important;
}

.px240 {
  padding-left: 240px !important;
  padding-right: 240px !important;
}

.px300 {
  padding-left: 300px !important;
  padding-right: 300px !important;
}

.px360 {
  padding-left: 360px !important;
  padding-right: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the top.
 *
 * @group
 * @example
 * <div class='pt24'>pt24</div>
 * @memberof Padding
 */
.pt0 {
  padding-top: 0 !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt36 {
  padding-top: 36px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pt180 {
  padding-top: 180px !important;
}

.pt240 {
  padding-top: 240px !important;
}

.pt300 {
  padding-top: 300px !important;
}

.pt360 {
  padding-top: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the right.
 *
 * @group
 * @example
 * <div class='pr24 align-r'>pr24</div>
 * @memberof Padding
 */
.pr0 {
  padding-right: 0 !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pr18 {
  padding-right: 18px !important;
}

.pr24 {
  padding-right: 24px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr36 {
  padding-right: 36px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr120 {
  padding-right: 120px !important;
}

.pr180 {
  padding-right: 180px !important;
}

.pr240 {
  padding-right: 240px !important;
}

.pr300 {
  padding-right: 300px !important;
}

.pr360 {
  padding-right: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the bottom.
 *
 * @group
 * @example
 * <div class='pb24'>pb24</div>
 * @memberof Padding
 */
.pb0 {
  padding-bottom: 0 !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pb12 {
  padding-bottom: 12px !important;
}

.pb18 {
  padding-bottom: 18px !important;
}

.pb24 {
  padding-bottom: 24px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb36 {
  padding-bottom: 36px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.pb180 {
  padding-bottom: 180px !important;
}

.pb240 {
  padding-bottom: 240px !important;
}

.pb300 {
  padding-bottom: 300px !important;
}

.pb360 {
  padding-bottom: 360px !important;
}

/** @endgroup */

/**
 * Apply padding on the left.
 *
 * @group
 * @example
 * <div class='pl24'>pl24</div>
 * @memberof Padding
 */
.pl0 {
  padding-left: 0 !important;
}

.pl3 {
  padding-left: 3px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.pl12 {
  padding-left: 12px !important;
}

.pl18 {
  padding-left: 18px !important;
}

.pl24 {
  padding-left: 24px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl36 {
  padding-left: 36px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pl120 {
  padding-left: 120px !important;
}

.pl180 {
  padding-left: 180px !important;
}

.pl240 {
  padding-left: 240px !important;
}

.pl300 {
  padding-left: 300px !important;
}

.pl360 {
  padding-left: 360px !important;
}

/** @endgroup */

/**
 * Set an element's width.
 *
 * In addition to numeric values, there are `w-full` and `w-auto` classes.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='w60'>w60</div>
 */
.w0 {
  width: 0 !important;
}

.w3 {
  width: 3px !important;
}

.w6 {
  width: 6px !important;
}

.w12 {
  width: 12px !important;
}

.w18 {
  width: 18px !important;
}

.w24 {
  width: 24px !important;
}

.w30 {
  width: 30px !important;
}

.w36 {
  width: 36px !important;
}

.w60 {
  width: 60px !important;
}

.w120 {
  width: 120px !important;
}

.w180 {
  width: 180px !important;
}

.w240 {
  width: 240px !important;
}

.w300 {
  width: 300px !important;
}

.w360 {
  width: 360px !important;
}

.w600 {
  width: 600px !important;
}

.w-full {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

/** @endgroup */

/**
 * Set an element's maximum width.
 *
 * In addition to numeric values, there are `wmax-full` and `wmax-none` classes.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='wmax6'>wmax6</div>
 */
.wmax0 {
  max-width: 0 !important;
}

.wmax3 {
  max-width: 3px !important;
}

.wmax6 {
  max-width: 6px !important;
}

.wmax12 {
  max-width: 12px !important;
}

.wmax18 {
  max-width: 18px !important;
}

.wmax24 {
  max-width: 24px !important;
}

.wmax30 {
  max-width: 30px !important;
}

.wmax36 {
  max-width: 36px !important;
}

.wmax60 {
  max-width: 60px !important;
}

.wmax120 {
  max-width: 120px !important;
}

.wmax180 {
  max-width: 180px !important;
}

.wmax240 {
  max-width: 240px !important;
}

.wmax300 {
  max-width: 300px !important;
}

.wmax360 {
  max-width: 360px !important;
}

.wmax600 {
  max-width: 600px !important;
}

.wmax-full {
  max-width: 100% !important;
}

.wmax-none {
  max-width: none !important;
}

/** @endgroup */

/**
 * Set an element's minimum width.
 *
 * In addition to numeric values, there is the `wmin-full` class.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='inline-block wmin60'>wmin60</div>
 */
.wmin0 {
  min-width: 0 !important;
}

.wmin3 {
  min-width: 3px !important;
}

.wmin6 {
  min-width: 6px !important;
}

.wmin12 {
  min-width: 12px !important;
}

.wmin18 {
  min-width: 18px !important;
}

.wmin24 {
  min-width: 24px !important;
}

.wmin30 {
  min-width: 30px !important;
}

.wmin36 {
  min-width: 36px !important;
}

.wmin60 {
  min-width: 60px !important;
}

.wmin120 {
  min-width: 120px !important;
}

.wmin180 {
  min-width: 180px !important;
}

.wmin240 {
  min-width: 240px !important;
}

.wmin300 {
  min-width: 300px !important;
}

.wmin360 {
  min-width: 360px !important;
}

.wmin600 {
  min-width: 600px !important;
}

.wmin-full {
  min-width: 100% !important;
}

/** @endgroup */

/**
 * Set an element's height.
 *
 * In addition to numeric values, there are `h-full` and `h-auto` classes.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='h24'>h24</div>
 */
.h0 {
  height: 0 !important;
}

.h3 {
  height: 3px !important;
}

.h6 {
  height: 6px !important;
}

.h12 {
  height: 12px !important;
}

.h18 {
  height: 18px !important;
}

.h24 {
  height: 24px !important;
}

.h30 {
  height: 30px !important;
}

.h36 {
  height: 36px !important;
}

.h60 {
  height: 60px !important;
}

.h120 {
  height: 120px !important;
}

.h180 {
  height: 180px !important;
}

.h240 {
  height: 240px !important;
}

.h300 {
  height: 300px !important;
}

.h360 {
  height: 360px !important;
}

.h600 {
  height: 600px !important;
}

.h-full {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

/** @endgroup */

/**
 * Set an element's maximum height.
 *
 * In addition to numeric values, there are `hmax-full` and `hmax-none` classes.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='hmax12'>hmax12</div>
 */
.hmax0 {
  max-height: 0 !important;
}

.hmax3 {
  max-height: 3px !important;
}

.hmax6 {
  max-height: 6px !important;
}

.hmax12 {
  max-height: 12px !important;
}

.hmax18 {
  max-height: 18px !important;
}

.hmax24 {
  max-height: 24px !important;
}

.hmax30 {
  max-height: 30px !important;
}

.hmax36 {
  max-height: 36px !important;
}

.hmax60 {
  max-height: 60px !important;
}

.hmax120 {
  max-height: 120px !important;
}

.hmax180 {
  max-height: 180px !important;
}

.hmax240 {
  max-height: 240px !important;
}

.hmax300 {
  max-height: 300px !important;
}

.hmax360 {
  max-height: 360px !important;
}

.hmax600 {
  max-height: 600px !important;
}

.hmax-full {
  max-height: 100% !important;
}

.hmax-none {
  max-height: none !important;
}

/** @endgroup */

/**
 * Set an element's minimum height.
 *
 * In addition to numeric values, there is the `hmin-full` class.
 *
 * @group
 * @memberof Sizing
 * @example
 * <div class='hmin60'>hmin60</div>
 */
.hmin0 {
  min-height: 0 !important;
}

.hmin3 {
  min-height: 3px !important;
}

.hmin6 {
  min-height: 6px !important;
}

.hmin12 {
  min-height: 12px !important;
}

.hmin18 {
  min-height: 18px !important;
}

.hmin24 {
  min-height: 24px !important;
}

.hmin30 {
  min-height: 30px !important;
}

.hmin36 {
  min-height: 36px !important;
}

.hmin60 {
  min-height: 60px !important;
}

.hmin120 {
  min-height: 120px !important;
}

.hmin180 {
  min-height: 180px !important;
}

.hmin240 {
  min-height: 240px !important;
}

.hmin300 {
  min-height: 300px !important;
}

.hmin360 {
  min-height: 360px !important;
}

.hmin600 {
  min-height: 600px !important;
}

.hmin-full {
  min-height: 100% !important;
}
