/* ==========================================================================
   Typography
   ========================================================================== */

.barlow-condensed {
  font-family: 'Barlow Condensed', sans-serif;
}

.base-font {
  font-family: 'Archivo', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.f125 {
  font-size: 1.125rem;
}

.f8 {
  font-size: 0.625rem;
}
