/* Color palette */
/* Changing red from #d73f3f to a brown / tan and red-light from #ffeded to a lighter brown */
$red: #977e4f;
$red-light: #b0986a;
$orange: #faa71e;
$blue-dark: #2c3038;
$blue-light: #929db3;
$blue-grey: #68707f;
$grey-light: #e1e0e0;
$tan: #f0efef;
$white: #fff;
