/* Color palette */
$red: #d73f3f;
$red-light: #ffeded;
$orange: #faa71e;
$blue-dark: #2c3038;
$blue-light: #929db3;
$blue-grey: #68707f;
$grey-light: #e1e0e0;
$tan: #f0efef;
$white: #fff;
$heatmap-color-0: #eeeeee;
$heatmap-color-1: #ffbaba;
$heatmap-color-2: #ff7b7b;
$heatmap-color-3: #ff5252;
$heatmap-color-4: #a70000;
$green: #3e9c67;
$blue: #1757c4;
$yellow: #f09733;
$black: #000000;
