/* Colors
   ========================================================================== */
$orange: #FB6624;
$darker-red: #D73F3F;
$red: #FE0303;
$yellow: #FFD709;
$darker-yellow: #F2C40A;
$lighter-orange: #FAD4C2;

$darkest-grey: #282c35;
$medium-grey: #6E6767;
$grey: #938C8C;
$lightgrey: #e1e0e0;
$lightest-background-grey: #F9F9F9;
$warm-grey: #928484;

$primary-color: #AC3232;                                // Boston Blue
$secondary-color: #46828F;                              // Silver Tree

$danger-color: #ea4f54;                                 // Mandy
$success-color: $secondary-color;                       //
$warning-color: #f6d55f;                                // Energy Yellow                        //

$link-color: $orange;
$base-alpha-color: rgba($medium-grey, 0.12);


/* Typography
   ========================================================================== */
$root-font-size: 14px;
$base-font-color: lighten($medium-grey, 10%);
$base-font-family: "Archivo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-style: normal;
$base-font-regular: 400;
$base-font-medium: 500;
$base-font-semi-bold: 600;
$base-font-bold: 700;
$base-font-weight: $base-font-regular;
$base-font-size: 1rem;
$base-line-height: 1.8;

$special-font-family: 'Barlow Condensed', sans-serif;

/* Decoration
   ========================================================================== */

/* Border radius */
$base-border-radius: 0.25rem;
$full-border-radius: 60rem;


/* Sizing, spacing and media queries
   ========================================================================== */

/* Sizing */
$page-header-y: 0 !default;

/* Spacing */
$global-spacing: 1rem;

/* Rows */
$row-min-width: 320px;
$row-max-width: 1280px;
$jeet-max-width: $row-max-width; // reset jeet.gs max width

/* Media queries */
$xsmall-range: (0, 543px);
$small-range: (544px, 767px);
$medium-range: (768px, 1050px);
$large-range: (1050px, 1199px);
$xlarge-range: (1200px);
$xxlarge-range: (1600px);

$screen: "only screen";

/* Font sizes */
$font-size-xl: 30px;
$font-size-l: 18px;
$font-size-m: 15px;
$font-size-s: 12px;
$font-size-xs: 10px;

/* Line heights */
$line-height-xl: 45px;
$line-height-l: 30px;
$line-height-m: 24px;
$line-height-s: 18px;
$line-height-xs: 15px;
