@import 'variables';
@import 'tachyons';
@import 'colors';
@import 'typography';
@import 'extra';
@import 'testimonials';
@import 'organizations';
@import 'calendarheatmap';
@import 'datepicker';
@import 'accordion';
@import 'learn';
@import 'notifications';
@import 'contributions';

.fade-in {
  //   display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.active {
  //   display: flex;
  opacity: 1;
}
