#button-container button:not(:first-child) {
    margin-left: 4px;
}
.fullscreen-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidepane {
    position: absolute;
    top: 80px;
    bottom: 0px;
    width: 220px;
    /* padding: 20px; */
    box-sizing: border-box;
    border-right: 1px solid #eee;
}
.sidepane-header {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}
.sidepane-header .button-container {
    margin-top: -3px;
}
.sidepane-content {
    position: absolute;
    width: 100%;
    top: 40px;
    bottom: 0px;
    padding: 10px;
    overflow-y: scroll;
}

.sidepane-content::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.sidepane-content::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

.sidepane-content::-webkit-scrollbar-thumb
{
    background-color: #bfbfbf;
}

.main {
    position: absolute;
    left: 220px;
    top: 80px;
    right: 0;
    bottom: 0;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
}
.main-header {
    height: 40px;
    order: 1;
    padding-left: 10px;
    padding-top: 6px;
    font-size: 12px;
    border-bottom: 1px solid #eee;
}
.main-header .timestamp {
    margin-top: 2px;
}
.main-header label {
    display: inline-block;
    margin-top: 4px;
}
.main-header .inline-buttons {
    display: inline-block;
    margin-right: 10px;
}
.main-toolbar {
    height: 40px;
    order: 2;
    padding-left: 10px;
    padding-top: 6px;
    border-bottom: 1px solid #eee;
}
.main-content {
    order: 3;
    flex: 1;
    display: flex;
    flex-direction: row;
}

#vector-map {
    flex: 1;
}

.infopanel {
    width: 350px;
    background: white;
    padding: 0;
    border-left: 1px solid #eee;
    overflow-y: scroll
}

.panel-section-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background: #f7f7f7;
    border-bottom: 1px solid #eee;
    line-height: 24px;
    padding-left: 1rem;
}
.infopanel .section {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #eee;
}
