<div class="inner">
    <section class="section section--asided">
        <header class="section__header">
            <div class="inner">
                <h1 class="section__title">
                    Login
                </h1>
            </div>
        </header>
        <div class="section-container">
            <div class="section__body">
                <div class="inner">
                    <button class="button button--achromic" ng-click="loginCtrl.returnToPreviousPage()">Return</button>
                    <button class="button button--primary" ng-click="loginCtrl.login()">Login</button>
                </div>
            </div>
        </div>
    </section>
</div>